Repository onnx/onnx, pull requests merged in 2019-09, with the labels that each got.

#2244 move map and sequence types to onnx domain,
  docs/IR.md
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Labels: ir

#2261 Fix link to community docs in readme
  README.md
Labels: documentation

#2253 test int64 input type for 'where' op
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/where.py
  onnx/backend/test/data/node/test_where_long_example/model.onnx
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/output_0.pb
Labels: operator

#2260 Support for negative indices in 'Gather', 'GatherElements', 'ScatterElements', 'OneHot'
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/argmin.py
  onnx/backend/test/case/node/gather.py
  onnx/backend/test/case/node/gatherelements.py
  onnx/backend/test/case/node/onehot.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/data/node/test_gather_elements_negative_indices/model.onnx
  onnx/backend/test/data/node/test_gather_elements_negative_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gather_elements_negative_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gather_elements_negative_indices/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gather_negative_indices/model.onnx
  onnx/backend/test/data/node/test_gather_negative_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gather_negative_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gather_negative_indices/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/model.onnx
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_scatter_elements_with_negative_indices/model.onnx
  onnx/backend/test/data/node/test_scatter_elements_with_negative_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatter_elements_with_negative_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatter_elements_with_negative_indices/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatter_elements_with_negative_indices/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/defs/reduction/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Labels: operator

#2269 Shape inference for NMS
  onnx/defs/object_detection/defs.cc
  onnx/test/shape_inference_test.py
Labels: operator

#2310 Update documentation about required input output types
  docs/IR.md
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Labels: documentation

#2249 Sequence related ops
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/model/sequence.py
  onnx/backend/test/data/simple/test_sequence_model1/model.onnx
  onnx/backend/test/data/simple/test_sequence_model1/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model1/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_sequence_model1/test_data_set_0/input_2.pb
  onnx/backend/test/data/simple/test_sequence_model1/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_sequence_model2/model.onnx
  onnx/backend/test/data/simple/test_sequence_model2/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model2/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_sequence_model2/test_data_set_0/input_2.pb
  onnx/backend/test/data/simple/test_sequence_model2/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_sequence_model3/model.onnx
  onnx/backend/test/data/simple/test_sequence_model3/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model3/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_sequence_model3/test_data_set_0/input_2.pb
  onnx/backend/test/data/simple/test_sequence_model3/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_sequence_model4/model.onnx
  onnx/backend/test/data/simple/test_sequence_model4/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model4/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_sequence_model4/test_data_set_0/input_2.pb
  onnx/backend/test/data/simple/test_sequence_model4/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_sequence_model5/model.onnx
  onnx/backend/test/data/simple/test_sequence_model5/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model5/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_sequence_model5/test_data_set_0/input_2.pb
  onnx/backend/test/data/simple/test_sequence_model5/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_sequence_model6/model.onnx
  onnx/backend/test/data/simple/test_sequence_model6/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model6/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_sequence_model7/model.onnx
  onnx/backend/test/data/simple/test_sequence_model7/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_sequence_model7/test_data_set_0/output_0.pb
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/helper.py
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/shape_inference_test.py
Labels: operator

#2110 Add description of default type about y_zero_point
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
Labels: operator

#2316 Regenerate ONNX proto and add release date to ver 6 IR
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Labels: ir

#2315 Avoid uses of special chars
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Labels: documentation

#2133 Add more shape inference tests for Logical operators to improve coverage
  onnx/defs/logical/defs.cc
  onnx/test/shape_inference_test.py
Labels: operator

#2060 Revamped test cases for Gemm
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gemm.py
  onnx/backend/test/data/node/test_gemm_all_attributes/model.onnx
  onnx/backend/test/data/node/test_gemm_all_attributes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_all_attributes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_all_attributes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_all_attributes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_alpha/model.onnx
  onnx/backend/test/data/node/test_gemm_alpha/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_alpha/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_alpha/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_alpha/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_beta/model.onnx
  onnx/backend/test/data/node/test_gemm_beta/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_beta/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_beta/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_beta/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_broadcast/model.onnx
  onnx/backend/test/data/node/test_gemm_broadcast/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_broadcast/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_default_matrix_bias/model.onnx
  onnx/backend/test/data/node/test_gemm_default_matrix_bias/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_default_matrix_bias/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_default_matrix_bias/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_default_matrix_bias/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_default_scalar_bias/model.onnx
  onnx/backend/test/data/node/test_gemm_default_scalar_bias/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_default_scalar_bias/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_default_scalar_bias/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_default_scalar_bias/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_default_single_elem_vector_bias/model.onnx
  onnx/backend/test/data/node/test_gemm_default_single_elem_vector_bias/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_default_single_elem_vector_bias/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_default_single_elem_vector_bias/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_default_single_elem_vector_bias/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_default_vector_bias/model.onnx
  onnx/backend/test/data/node/test_gemm_default_vector_bias/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_default_vector_bias/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_default_vector_bias/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_default_vector_bias/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_default_zero_bias/model.onnx
  onnx/backend/test/data/node/test_gemm_default_zero_bias/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_default_zero_bias/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_default_zero_bias/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_default_zero_bias/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_nobroadcast/model.onnx
  onnx/backend/test/data/node/test_gemm_nobroadcast/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_transposeA/model.onnx
  onnx/backend/test/data/node/test_gemm_transposeA/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_transposeA/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_transposeA/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_transposeA/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gemm_transposeB/model.onnx
  onnx/backend/test/data/node/test_gemm_transposeB/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_transposeB/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_transposeB/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gemm_transposeB/test_data_set_0/output_0.pb
Labels: operator

#2291 Updated docs for strides and dilations attributes
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
Labels: operator

#2127 Updated test cases for reshape
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/reshape.py
  onnx/backend/test/data/node/test_reshape_extended_dims/model.onnx
  onnx/backend/test/data/node/test_reshape_extended_dims/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_extended_dims/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_negative_dim/model.onnx
  onnx/backend/test/data/node/test_reshape_negative_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_negative_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_negative_extended_dims/model.onnx
  onnx/backend/test/data/node/test_reshape_negative_extended_dims/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reshape_negative_extended_dims/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_negative_extended_dims/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_one_dim/model.onnx
  onnx/backend/test/data/node/test_reshape_reduced_dims/model.onnx
  onnx/backend/test/data/node/test_reshape_reduced_dims/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_reduced_dims/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_reordered_all_dims/model.onnx
  onnx/backend/test/data/node/test_reshape_reordered_all_dims/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reshape_reordered_all_dims/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_reordered_all_dims/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_reordered_dims/model.onnx
  onnx/backend/test/data/node/test_reshape_reordered_last_dims/model.onnx
  onnx/backend/test/data/node/test_reshape_reordered_last_dims/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reshape_reordered_last_dims/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_reordered_last_dims/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_zero_and_negative_dim/model.onnx
  onnx/backend/test/data/node/test_reshape_zero_and_negative_dim/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reshape_zero_and_negative_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_zero_and_negative_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reshape_zero_dim/model.onnx
  onnx/backend/test/data/node/test_reshape_zero_dim/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reshape_zero_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reshape_zero_dim/test_data_set_0/output_0.pb
Labels: operator

#1913 Changes for AIX platform
  CMakeLists.txt
  onnx/numpy_helper.py
Labels: build

#2330 Gemm optional bias
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gemm.py
  onnx/backend/test/data/node/test_gemm_default_no_bias/model.onnx
  onnx/backend/test/data/node/test_gemm_default_no_bias/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gemm_default_no_bias/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gemm_default_no_bias/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
Labels: operator

#2335 Fix some backend tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gather.py
  onnx/backend/test/case/node/gemm.py
  onnx/backend/test/data/node/test_gather_negative_indices/model.onnx
  onnx/backend/test/data/node/test_gemm_default_scalar_bias/test_data_set_0/input_2.pb
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Labels: bug

#2122 Update gen_doc script to validate proto3 files
  CMakeLists.txt
  appveyor.yml
  onnx/gen_proto.py
  setup.py
Labels: infrastructure

#2343 Clarify behavior in ConvTranspose
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Labels: operator

#2345 Relax IF's shape inference rule
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/test/shape_inference_test.py
Labels: operator

#2348 Bump NMS version for avoiding regression in existing models
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/operator_sets.h
Labels: operator
