Repository onnx/onnx, pull requests merged in 2020-10, with the labels that each got.

#3053 Add differentiability indicators to reduction operators, needed for ONNX Training
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/reduction/defs.cc
Labels: training

#2911 Adding differentiability tags to Math operators, needed for ONNX Training
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Labels: training

#3056 revert deprecated op updates (upsample and scatter)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Labels: operator

#3036 Added reserve, move, const, size->empty
  onnx/common/ir.h
  onnx/common/status.cc
  onnx/common/status.h
  onnx/defs/controlflow/defs.cc
  onnx/defs/function.h
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/adapters/broadcast_forward_compatibility.h
  onnx/version_converter/adapters/upsample_9_8.h
Labels: operator

#2954 Add Some Differentiable Tags for The Rest Ops in tensor/defs.cc
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
  onnx/defs/tensor/defs.cc
Labels: operator, training

#3008 Create a tool for creating TrainingInfoProto and a test
  onnx/helper.py
  onnx/test/training_tool_test.py
Labels: training

#3040 fix the incorrect gather op example and add test
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gather.py
  onnx/backend/test/data/node/test_gather_2d_indices/model.onnx
  onnx/backend/test/data/node/test_gather_2d_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gather_2d_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gather_2d_indices/test_data_set_0/output_0.pb
  onnx/defs/tensor/defs.cc
Labels: operator
