Repository onnx/onnx, pull requests merged in 2020-02, with the labels that each got.

#2567 Clarify spec for constant of shape with dim_n = 0
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/constantofshape.py
  onnx/backend/test/data/node/test_constantofshape_int_shape_zero/model.onnx
  onnx/backend/test/data/node/test_constantofshape_int_shape_zero/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_constantofshape_int_shape_zero/test_data_set_0/output_0.pb
  onnx/defs/generator/defs.cc
  onnx/test/shape_inference_test.py
Labels: operator

#2568 Update Dropout and BatchNorm to be Training Friendly
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/batchnorm.py
  onnx/backend/test/case/node/dropout.py
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/model.onnx
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_old/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/model.onnx
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/input_5.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/output_2.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/output_3.pb
  onnx/backend/test/data/node/test_batchnorm_epsilon_training_mode/test_data_set_0/output_4.pb
  onnx/backend/test/data/node/test_batchnorm_example_old/model.onnx
  onnx/backend/test/data/node/test_batchnorm_example_old/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_batchnorm_example_old/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_batchnorm_example_old/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_batchnorm_example_old/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_batchnorm_example_old/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_batchnorm_example_old/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/model.onnx
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/input_5.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/output_2.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/output_3.pb
  onnx/backend/test/data/node/test_batchnorm_example_training_mode/test_data_set_0/output_4.pb
  onnx/backend/test/data/node/test_dropout_default/model.onnx
  onnx/backend/test/data/node/test_dropout_default_old/model.onnx
  onnx/backend/test/data/node/test_dropout_default_old/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dropout_default_old/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dropout_random/model.onnx
  onnx/backend/test/data/node/test_dropout_random/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dropout_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dropout_random_old/model.onnx
  onnx/backend/test/data/node/test_dropout_random_old/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dropout_random_old/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/optimizer/passes/eliminate_nop_dropout.h
  onnx/test/optimizer_test.py
  onnx/test/shape_inference_test.py
Labels: operator

#2575 Implement CELU node as a Function
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/celu.py
  onnx/defs/attr_proto_util.h
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/shape_inference/implementation.cc
  onnx/test/shape_inference_test.py
Labels: operator

#2314 Training Proposal: Spec Changes and Gradient Operator
  .travis/script.sh
  appveyor.yml
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/model/gradient.py
  onnx/backend/test/data/simple/test_gradient_of_add/model.onnx
  onnx/backend/test/data/simple/test_gradient_of_add/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_gradient_of_add/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_gradient_of_add/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_gradient_of_add/test_data_set_0/output_1.pb
  onnx/backend/test/data/simple/test_gradient_of_add/test_data_set_0/output_2.pb
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/model.onnx
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/test_data_set_0/input_0.pb
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/test_data_set_0/input_1.pb
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/test_data_set_0/output_0.pb
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/test_data_set_0/output_1.pb
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/test_data_set_0/output_2.pb
  onnx/checker.cc
  onnx/common/constants.h
  onnx/defs/controlflow/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets-training.h
  onnx/defs/operator_sets.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/training/defs.cc
  onnx/examples/make_model.ipynb
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx-operators-ml.proto
  onnx/onnx-operators-ml.proto3
  onnx/onnx-operators.in.proto
  onnx/onnx-operators.proto
  onnx/onnx-operators.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  tools/update_doc.bat
Labels: operator, training

#2578 Adding Inverse Op
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/inverse.py
  onnx/backend/test/data/node/test_inverse/model.onnx
  onnx/backend/test/data/node/test_inverse/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_inverse/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_inverse_batched/model.onnx
  onnx/backend/test/data/node/test_inverse_batched/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_inverse_batched/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
Labels: operator

#2570 Introduce MeanSquaredError as Loss Function
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/meansquaredistance.py
  onnx/backend/test/data/node/test_mean_square_distance_mean/model.onnx
  onnx/backend/test/data/node/test_mean_square_distance_mean/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean_3d/model.onnx
  onnx/backend/test/data/node/test_mean_square_distance_mean_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean_4d/model.onnx
  onnx/backend/test/data/node/test_mean_square_distance_mean_4d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean_4d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_mean_square_distance_mean_4d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_none/model.onnx
  onnx/backend/test/data/node/test_mean_square_distance_none/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_none/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_mean_square_distance_none/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_none_weights/model.onnx
  onnx/backend/test/data/node/test_mean_square_distance_none_weights/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_none_weights/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_mean_square_distance_none_weights/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_mean_square_distance_none_weights/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_sum/model.onnx
  onnx/backend/test/data/node/test_mean_square_distance_sum/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mean_square_distance_sum/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_mean_square_distance_sum/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
Labels: operator, training

#2585 Support gathernd with batch_dim mode
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gathernd.py
  onnx/backend/test/data/node/test_gathernd_example_int32_batch_dim1/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_int32_batch_dim1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32_batch_dim1/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_int32_batch_dim1/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Labels: operator

#2573 Introduce SoftmaxCrossentropy as a loss function
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rangeop.py
  onnx/backend/test/case/node/softmaxcrossentropy.py
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean/model.onnx
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_3d/model.onnx
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_weight/model.onnx
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_weight/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_weight/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_weight/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_mean_weight/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none/model.onnx
  onnx/backend/test/data/node/test_softmax_cross_entropy_none/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none_weights/model.onnx
  onnx/backend/test/data/node/test_softmax_cross_entropy_none_weights/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none_weights/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none_weights/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_none_weights/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_sum/model.onnx
  onnx/backend/test/data/node/test_softmax_cross_entropy_sum/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_sum/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_softmax_cross_entropy_sum/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
Labels: operator, training

#2620 Change dtype of dd_da in gradient test to float32
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/model/gradient.py
  onnx/backend/test/data/simple/test_gradient_of_add_and_mul/test_data_set_0/output_1.pb
Labels: bug

#2615 Update IR.md to describe training extension.
  docs/IR.md
Labels: training

#2380 Add reference impl for sequence ops
  onnx/backend/test/case/model/sequence.py
Labels: operator

#2117 Fix input document of quantized operators
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
Labels: operator

#2532 Add integer support to Clip
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/clip.py
  onnx/backend/test/data/node/test_clip/model.onnx
  onnx/backend/test/data/node/test_clip_default_inbounds/model.onnx
  onnx/backend/test/data/node/test_clip_default_int8_inbounds/model.onnx
  onnx/backend/test/data/node/test_clip_default_int8_inbounds/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_default_int8_inbounds/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_default_int8_max/model.onnx
  onnx/backend/test/data/node/test_clip_default_int8_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_default_int8_max/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_default_int8_max/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_default_int8_min/model.onnx
  onnx/backend/test/data/node/test_clip_default_int8_min/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_default_int8_min/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_default_int8_min/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_default_max/model.onnx
  onnx/backend/test/data/node/test_clip_default_min/model.onnx
  onnx/backend/test/data/node/test_clip_example/model.onnx
  onnx/backend/test/data/node/test_clip_inbounds/model.onnx
  onnx/backend/test/data/node/test_clip_outbounds/model.onnx
  onnx/backend/test/data/node/test_clip_splitbounds/model.onnx
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/operator_sets.h
Labels: operator

#2616 Adding UnfoldToDepth op [1.7 Release]
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/unfoldtodepth.py
  onnx/backend/test/data/node/test_unfoldtodepth_with_padding/model.onnx
  onnx/backend/test/data/node/test_unfoldtodepth_with_padding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_unfoldtodepth_with_padding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_unfoldtodepth_with_padding_stride/model.onnx
  onnx/backend/test/data/node/test_unfoldtodepth_with_padding_stride/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_unfoldtodepth_with_padding_stride/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_unfoldtodepth_without_padding/model.onnx
  onnx/backend/test/data/node/test_unfoldtodepth_without_padding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_unfoldtodepth_without_padding/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Labels: operator
