Repository onnx/onnx, pull requests merged in 2021-11, with the labels that each got.

#3778 Fix error in Pad op convert
  onnx/version_converter/adapters/pad_10_11.h
Labels: version converter

#3827 Document that Where supports multidirectional broadcasting.
  docs/Broadcasting.md
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Labels: documentation

#3806 Enhance shape inference: ParseData/Transpose/QuantizeLinear
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/test/shape_inference_test.py
Labels: shape inference, run release CIs

#3557 Add GridSample Operator
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gridsample.py
  onnx/backend/test/data/node/test_gridsample/model.onnx
  onnx/backend/test/data/node/test_gridsample/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_aligncorners_true/model.onnx
  onnx/backend/test/data/node/test_gridsample_aligncorners_true/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_aligncorners_true/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_aligncorners_true/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_bicubic/model.onnx
  onnx/backend/test/data/node/test_gridsample_bicubic/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_bicubic/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_bicubic/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_bilinear/model.onnx
  onnx/backend/test/data/node/test_gridsample_bilinear/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_bilinear/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_bilinear/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_border_padding/model.onnx
  onnx/backend/test/data/node/test_gridsample_border_padding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_border_padding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_border_padding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_nearest/model.onnx
  onnx/backend/test/data/node/test_gridsample_nearest/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_nearest/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_nearest/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_reflection_padding/model.onnx
  onnx/backend/test/data/node/test_gridsample_reflection_padding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_reflection_padding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_reflection_padding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gridsample_zeros_padding/model.onnx
  onnx/backend/test/data/node/test_gridsample_zeros_padding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gridsample_zeros_padding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gridsample_zeros_padding/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/automatic_upgrade_test.py
  onnx/test/shape_inference_test.py
Labels: operator, enhancement

#3815 Shape inference should not propagate missing optional outputs
  onnx/defs/tensor/defs.cc
  onnx/shape_inference/implementation.cc
Labels: shape inference, run release CIs
