Repository onnx/onnx, pull requests merged in 2021-07, with the labels that each got.

#3548 honor ONNX_WERROR for all platforms and all libs
  CMakeLists.txt
Labels: run release CIs

#3550 update protobuf build options and build instructions
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  CMakeLists.txt
  README.md
  cmake/summary.cmake
Labels: run release CIs

#3566 Sync protobuf version in every CI: Install protobuf 3.11.3 in LinuxRelease CI
  .github/workflows/release_linux_x86_64.yml
Labels: build pipelines, run release CIs

#3571 update protobuf version to 3.16.0
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/manylinux/test_package_i686.sh
  .github/workflows/release_linux_i686.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  README.md
Labels: run release CIs

#3545 add additional type constraints for scale and bias in BN
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
Labels: operator

#3563 fix test_identity_sequence issue
  onnx/backend/test/runner/__init__.py
Labels: infrastructure, test

#3567 Adding Optional ops to opset 15
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/backend/test/case/node/loop.py
  onnx/backend/test/case/node/optionalgetelement.py
  onnx/backend/test/case/node/optionalhaselement.py
  onnx/backend/test/cmd_tools.py
  onnx/backend/test/data/node/test_optional_get_element/model.onnx
  onnx/backend/test/data/node/test_optional_get_element/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_optional_get_element/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_optional_get_element_sequence/model.onnx
  onnx/backend/test/data/node/test_optional_get_element_sequence/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_optional_get_element_sequence/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_optional_has_element/model.onnx
  onnx/backend/test/data/node/test_optional_has_element/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_optional_has_element/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_optional_has_element_empty/model.onnx
  onnx/backend/test/data/node/test_optional_has_element_empty/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_optional_has_element_empty/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_optional_has_element_sequence/model.onnx
  onnx/backend/test/data/node/test_optional_has_element_sequence/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_optional_has_element_sequence/test_data_set_0/output_0.pb
  onnx/checker.cc
  onnx/defs/operator_sets.h
  onnx/defs/optional/defs.cc
  onnx/defs/schema.h
  onnx/shape_inference/implementation.cc
  onnx/test/automatic_upgrade_test.py
  onnx/test/shape_inference_test.py
Labels: operator

#3581 Remove unused test data
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/backend/test/case/node/loop.py
  onnx/backend/test/data/node/test_optional_has_element_sequence/model.onnx
  onnx/backend/test/data/node/test_optional_has_element_sequence/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_optional_has_element_sequence/test_data_set_0/output_0.pb
Labels: run release CIs

#3551 Symbolic shape inference support-2: data propagation A
  onnx/cpp2py_export.cc
  onnx/defs/data_propagators.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/cpp/data_propagation_test.cc
Labels: shape inference

#3414 Add aarch64 wheel build support
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Labels: run release CIs

#3580 Extend shape op to return a slice
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/shape.py
  onnx/backend/test/data/node/test_shape/model.onnx
  onnx/backend/test/data/node/test_shape_clip_end/model.onnx
  onnx/backend/test/data/node/test_shape_clip_end/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_clip_end/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_clip_start/model.onnx
  onnx/backend/test/data/node/test_shape_clip_start/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_clip_start/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_end_1/model.onnx
  onnx/backend/test/data/node/test_shape_end_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_end_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_end_negative_1/model.onnx
  onnx/backend/test/data/node/test_shape_end_negative_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_end_negative_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_example/model.onnx
  onnx/backend/test/data/node/test_shape_start_1/model.onnx
  onnx/backend/test/data/node/test_shape_start_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_start_1_end_2/model.onnx
  onnx/backend/test/data/node/test_shape_start_1_end_2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_1_end_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_start_1_end_negative_1/model.onnx
  onnx/backend/test/data/node/test_shape_start_1_end_negative_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_1_end_negative_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_shape_start_negative_1/model.onnx
  onnx/backend/test/data/node/test_shape_start_negative_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_negative_1/test_data_set_0/output_0.pb
  onnx/defs/data_propagators.h
  onnx/defs/operator_sets.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/helper.py
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator

#3448 Add requirement.txt for ONNX's dependency
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/manylinux/test_package_i686.sh
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  requirements-dev.txt
  requirements-release.txt
  requirements.txt
  setup.py
Labels: build, build pipelines, run release CIs

#3592 update reshape shape inference
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/op_reg_test.cc
  onnx/test/cpp/shape_inference_test.cc
Labels: run release CIs

#3593 Symbolic shape inference support-3: more ops for data propagation
  onnx/defs/data_propagators.h
  onnx/defs/math/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/test/cpp/data_propagation_test.cc
Labels: run release CIs, shape inference

#3616 Fix compilation warnings.
  onnx/common/graph_node_list.h
  onnx/defs/parser.cc
Labels: run release CIs
