Repository onnx/onnx, pull requests merged in 2021-09, with the labels that each got.

#3684 Set minimum supported Protobuf version as 3.12 since lower versions do not work
  .github/workflows/manylinux/test_package_i686.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  README.md
  requirements.txt
Labels: run release CIs

#3683 [ONNX 1.10] Fix for compilation error on older compilers
  onnx/shape_inference/implementation.h
Labels: run release CIs

#3607 Extending If, Loop, and Identity ops to support optional type
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/identity.py
  onnx/backend/test/case/node/if.py
  onnx/backend/test/case/node/loop.py
  onnx/backend/test/data/node/test_identity/model.onnx
  onnx/backend/test/data/node/test_identity_opt/model.onnx
  onnx/backend/test/data/node/test_identity_opt/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_identity_opt/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_identity_sequence/model.onnx
  onnx/backend/test/data/node/test_if/model.onnx
  onnx/backend/test/data/node/test_if_opt_input/model.onnx
  onnx/backend/test/data/node/test_if_opt_input/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_if_opt_input/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_if_opt_output/model.onnx
  onnx/backend/test/data/node/test_if_opt_output/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_if_opt_output/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_if_seq/model.onnx
  onnx/backend/test/data/node/test_loop11/model.onnx
  onnx/backend/test/data/node/test_loop13_seq/model.onnx
  onnx/backend/test/data/node/test_loop16_seq_none/model.onnx
  onnx/backend/test/data/node/test_loop16_seq_none/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_loop16_seq_none/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_loop16_seq_none/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_loop16_seq_none/test_data_set_0/output_0.pb
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator

#3707 Fix If tests
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/if.py
  onnx/backend/test/data/node/test_if_opt/model.onnx
  onnx/backend/test/data/node/test_if_opt/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_if_opt/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_if_opt_input/model.onnx
  onnx/backend/test/data/node/test_if_opt_input/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_if_opt_output/model.onnx
  onnx/backend/test/data/node/test_if_opt_output/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_if_opt_output/test_data_set_0/output_0.pb
Labels: run release CIs

#3484 Update Scatter style ops: Add reduction attribute
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/scatternd.py
  onnx/backend/test/data/node/test_scatter_elements_with_duplicate_indices/model.onnx
  onnx/backend/test/data/node/test_scatter_elements_with_duplicate_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatter_elements_with_duplicate_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatter_elements_with_duplicate_indices/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatter_elements_with_duplicate_indices/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_scatternd_add/model.onnx
  onnx/backend/test/data/node/test_scatternd_add/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatternd_add/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatternd_add/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatternd_add/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_scatternd_multiply/model.onnx
  onnx/backend/test/data/node/test_scatternd_multiply/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatternd_multiply/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatternd_multiply/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatternd_multiply/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/automatic_upgrade_test.py
  onnx/version_converter/convert.h
Labels: operator

#3706 Spec clarification for QuantizeLinear and DequantizeLinear: 0d tensor without optional axis attribute
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
Labels: quantization, spec clarification

#3664 Enable checker/shape_inference to handle IR <= 3 models with subgraph
  docs/IR.md
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/checker_test.py
Labels: shape inference, onnx checker, run release CIs

#3721 Add documentation for symbolic shape inf and partial data propagation
  docs/ShapeInference.md
  docs/proposals/SymbolicShapeInfProposal.md
Labels: documentation

#3714 Automatically upload source distribution with correct name
  .github/workflows/release_mac.yml
  docs/OnnxReleases.md
Labels: build pipelines

#3726 Only upload source distribution to TestPyPI once
  .github/workflows/release_mac.yml
Labels: build pipelines, run release CIs

#3738 Extend Where op to permit bfloat16 types
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator

#3729 Fix bfloat16 issue: remove it from numpy to TensorProto type map
  onnx/mapping.py
Labels: run release CIs

#3736 Fix Linux aarch64 CI failure due to the latest pytest: use old qemu docker
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  requirements-release.txt
Labels: build pipelines, run release CIs

#3702 Check ParseData type to prevent segfault if parsing different types
  onnx/defs/data_type_utils.h
  onnx/defs/tensor_proto_util.cc
  onnx/test/shape_inference_test.py
Labels: shape inference, run release CIs

#3674 Code cleanup: resolve warnings/remove unused code
  onnx/helper.py
  onnx/mapping.py
  pyproject.toml
  setup.cfg
Labels: run release CIs
