Repository onnx/onnx, pull requests merged in 2022-10, with the labels that each got.

#4535 Relax protobuf version requirement for version below 4
  requirements.txt
Labels: dependencies

#4521 Skip version conversion if non-ONNX domain and throw explicit error
  onnx/version_converter/convert.cc
Labels: version converter

#4542 Move mypy config from setup.cfg to pyproject.toml
  pyproject.toml
  setup.cfg
Labels: code style

#4564 Fix documentation generation
  .azure-pipelines/Linux-CI.yml
  .github/workflows/pages.yml
  docs/docsgen/source/requirements.txt
Labels: build pipelines

#4040 Weekly test current version_converter with all models from ONNX model Zoo
  workflow_scripts/config.py
  workflow_scripts/test_model_zoo.py
Labels: version converter

#4568 Fix shebang for protoc-gen-mypy.sh script
  tools/protoc-gen-mypy.sh.in
Labels: build, run release CIs

#4497 BitwiseNot implementation
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/bitwisenot.py
  onnx/backend/test/data/node/test_bitwise_not_2d/model.onnx
  onnx/backend/test/data/node/test_bitwise_not_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_not_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_not_3d/model.onnx
  onnx/backend/test/data/node/test_bitwise_not_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_not_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_not_4d/model.onnx
  onnx/backend/test/data/node/test_bitwise_not_4d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_not_4d/test_data_set_0/output_0.pb
  onnx/defs/logical/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/automatic_upgrade_test.py
Labels: operator

#4530 Format Python code in documents with black
  docs/ExternalData.md
  docs/Hub.md
  docs/PythonAPIOverview.md
Labels: documentation

#4496 BitwiseAnd, BitwiseOr, BitwiseXor support
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/bitwiseand.py
  onnx/backend/test/case/node/bitwiseor.py
  onnx/backend/test/case/node/bitwisexor.py
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/model.onnx
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/model.onnx
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/model.onnx
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/model.onnx
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/model.onnx
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/model.onnx
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/model.onnx
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/model.onnx
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/model.onnx
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/model.onnx
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/model.onnx
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/model.onnx
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/test_data_set_0/output_0.pb
  onnx/defs/logical/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/automatic_upgrade_test.py
Labels: operator

#4558 Editable_mode=False for now to enable pip install -e . with latest setuptools
  setup.py
Labels: build, run release CIs

#4570 Build onnx in page creating CI
  .github/workflows/codeql.yml
  .github/workflows/lint.yaml
  .github/workflows/pages.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
Labels: build pipelines, run release CIs

#4556 Move check_is_experimental_op from check_node to check_graph
  onnx/checker.cc
  onnx/checker.h
  onnx/shape_inference/implementation.cc
Labels: onnx checker, compiler warning

#4576 Manually catch build succeeded for page creating CI
  .github/workflows/pages.yml
Labels: build pipelines

#4575 Update ScatterND documentation
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Labels: operator, documentation

#4557 Add flake8-bugbear in checks
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/base.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/pad.py
  onnx/backend/test/case/node/reducemax.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/runner/item.py
  onnx/compose.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/hub.py
  onnx/numpy_helper.py
  onnx/test/automatic_upgrade_test.py
  onnx/test/compose_test.py
  onnx/test/helper_test.py
  onnx/test/symbolic_shape_test.py
  onnx/test/test_external_data.py
  requirements-dev.txt
  setup.cfg
  workflow_scripts/test_model_zoo.py
Labels: build pipelines, code style

#4582 Enable partial data propagation for Resize's sizes
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/resize.py
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_2_3/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_3_2/model.onnx
  onnx/defs/tensor/utils.cc
Labels: shape inference, partial data propagation

#4598 fix spelling new python doc
  docs/docsgen/source/tutorial_python/concepts.rst
  docs/docsgen/source/tutorial_python/converters.rst
Labels: website content

#4579 Find python libs only if BUILD_ONNX_PYTHON is set to ON
  CMakeLists.txt
Labels: build, run release CIs

#4601 Clarify reshape behavior
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Labels: operator, documentation

#4597 Only manually trigger page deployment and remove duplicate style check in Linux-CI
  .azure-pipelines/Linux-CI.yml
  .github/workflows/pages.yml
  docs/OnnxReleases.md
Labels: documentation, build pipelines

#4594 Add a link to the HTML documentation from the main page
  README.md
  docs/PythonAPIOverview.md
Labels: documentation

#4544 Bump protobuf from 3.16.0 to 3.18.3
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/weekly_mac_ci.yml
  README.md
  requirements-release.txt
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Labels: run release CIs, dependencies, vulnerability
