Repository onnx/onnx, pull requests merged in 2022-02, with the labels that each got.

#3976 Fix some bugs with Resize
  docs/Changelog.md
  onnx/backend/test/case/node/resize.py
  onnx/backend/test/data/node/test_resize_downsample_sizes_nearest_tf_half_pixel_for_nn/model.onnx
  onnx/defs/tensor/old.cc
Labels: bug, test

#4002 Fix Python 3.6 failure: upgrade to setup-python v2
  .github/workflows/release_linux_i686.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Labels: build pipelines, run release CIs

#4011 Cherry pick in the main branch: use v2 to get Python 3.6 support (#4002)
  .github/workflows/release_linux_i686.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Labels: build pipelines, run release CIs

#4006 Use urlopen from urllib.request to download models instead of wget
  VERSION_NUMBER
  onnx/hub.py
  onnx/test/hub_test.py
  requirements-dev.txt
  requirements-release.txt
  requirements.txt
Labels: dependencies

#4001 Remove Python 3.6, upgrade NumPy to 1.21.5, upgrade to manylinux2014
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/manylinux/test_package_i686.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_i686.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  docs/CIPipelines.md
  requirements-release.txt
  requirements.txt
Labels: build, build pipelines, run release CIs

#4021 Make no exception build option work better
  onnx/common/assertions.cc
  onnx/common/common.h
  onnx/common/ir_pb_converter.cc
  onnx/common/ir_pb_converter.h
Labels: build

#3987 [CI] Simplify CI pipelines: Add common scripts for building protobuf from source
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  .lgtm.yml
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Labels: build pipelines, run release CIs

#4012 Remove unused type constraint I for newer Scan (opset 9+)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
Labels: documentation

#4039 Add OperatorSetId definition in docs
  docs/IR.md
Labels: documentation
