Repository onnx/onnx, pull requests merged in 2022-07, with the labels that each got.

#4324 [Ready to Merge] extract_model run time optimization
  onnx/utils.py
Labels: utility

#4190 Introduce CenterCropPad, add `axes` to Pad
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/center_crop_pad.py
  onnx/backend/test/case/node/pad.py
  onnx/backend/test/data/node/test_center_crop_pad_crop/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad_expanded/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_and_pad_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw_expanded/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_chw_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc_expanded/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_axes_hwc_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_expanded/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_crop_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_crop_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_pad/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_pad/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_pad/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_pad/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_pad_expanded/model.onnx
  onnx/backend/test/data/node/test_center_crop_pad_pad_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_center_crop_pad_pad_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_center_crop_pad_pad_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_constant_pad/model.onnx
  onnx/backend/test/data/node/test_constant_pad_axes/model.onnx
  onnx/backend/test/data/node/test_constant_pad_axes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_constant_pad_axes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_constant_pad_axes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_constant_pad_axes/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_constant_pad_axes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_edge_pad/model.onnx
  onnx/backend/test/data/node/test_reflect_pad/model.onnx
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/automatic_upgrade_test.py
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator

#4361 Set up black and isort
  .azure-pipelines/Linux-CI.yml
  .github/workflows/lint.yaml
  pyproject.toml
  requirements-dev.txt
  setup.cfg
Labels: run release CIs

#4333 Clarify in the doc that ONNX should use rc as release candidate
  docs/OnnxReleases.md
Labels: documentation

#4366 Add detailed error message for saving 2GB proto
  onnx/__init__.py
Labels: utility

#3393 Enhance test_backend_test.py and simplify backend test CI
  .azure-pipelines/Linux-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  onnx/backend/test/data/pytorch-converted/test_PixelShuffle/model.onnx
  onnx/backend/test/data/pytorch-operator/test_operator_repeat/model.onnx
  onnx/backend/test/data/pytorch-operator/test_operator_repeat_dim_overflow/model.onnx
  onnx/test/test_backend_test.py
  workflow_scripts/test_generated_backend.py
Labels: build pipelines, run release CIs

#4365 Test lower protoc version in Linux CI
  .azure-pipelines/Linux-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_mac.yml
  README.md
  docs/CIPipelines.md
  docs/CONTRIBUTING.md
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/shape_inference_test.cc
Labels: build pipelines, run release CIs

#4350 Implement mish as a function
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/mish.py
  onnx/backend/test/data/node/test_mish/model.onnx
  onnx/backend/test/data/node/test_mish/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/model.onnx
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/automatic_upgrade_test.py
  onnx/test/test_with_ort.py
Labels: operator
