Repository onnx/onnx, pull requests merged in 2022-11, with the labels that each got.

#4621 add GroupNormalization-18
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/groupnormalization.py
  onnx/backend/test/data/node/test_acos/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asin/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atanh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/model.onnx
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_example/model.onnx
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/model.onnx
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_lstm_defaults/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lstm_with_initial_bias/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lstm_with_peepholes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rnn_seq_length/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_simple_rnn_defaults/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_sinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tanh/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/automatic_upgrade_test.py
Labels: operator

#4643 Fix enforce-style CI error: solve empty-body issue raised by mypy 0.990
  onnx/backend/base.py
Labels: code style

#4648 Fix _parse_repo_info
  onnx/hub.py
Labels: onnx hub

#4642 provide macos universal2 wheel
  .github/workflows/release_mac.yml
Labels: build, run release CIs

#4629 Upgrade to newer Protobuf 3.20.2
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .vscode/settings.json
  README.md
  requirements-release.txt
  requirements.txt
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Labels: build, build pipelines, run release CIs, dependencies

#4658 Fix backend test for ReferenceEvaluator with numpy 1.16.6
  onnx/reference/ops/_op_common_pool.py
  onnx/reference/ops/op_dft.py
  onnx/reference/ops/op_gather.py
  onnx/reference/ops/op_gather_elements.py
  onnx/reference/ops/op_scatter_elements.py
  onnx/reference/ops/op_stft.py
  onnx/reference/ops/op_topk.py
  onnx/reference/ops/op_unsqueeze.py
  onnx/test/reference_evaluator_backend_test.py
Labels: run release CIs

#4656 Fix weekly mac release CI: only submit source distribution in one CI
  .github/workflows/release_mac.yml
Labels: build pipelines, run release CIs

#4490 Add Python 3.11 support
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
  requirements-release.txt
Labels: build pipelines, run release CIs

#4632 Consider GraphInferenceContext in inference functions: InferenceContext
  onnx/cpp2py_export.cc
  onnx/shape_inference.py
  onnx/test/inference_function_test.py
Labels: utility

#4534 Add LpPool-18 - add `ceil_mode` and `dilations` attributes
  docs/Changelog.md
  docs/Operators.md
  onnx/common/interned_strings.h
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator
