Repository onnx/onnx, pull requests merged in 2022-01, with the labels that each got.

#3916 Fix weekly/Linux CI failures: correct skip list and remove old numpy related code
  onnx/examples/np_array_tensorproto.ipynb
  workflow_scripts/config.py
Labels: build pipelines

#3722 Shapeinf for functions
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/cpp/function_verify_test.cc
Labels: shape inference, run release CIs

#3918 Fix Linux i686 Release CI failure due to the latest NumPy
  .github/workflows/manylinux/test_package_i686.sh
  .github/workflows/release_linux_i686.yml
Labels: build pipelines, run release CIs

#3923 Remind release manager to remove old onnx-weekly packages after release
  docs/OnnxReleases.md
Labels: documentation

#3925 Migration to using main branch
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_i686.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  CONTRIBUTING.md
  README.md
  RELEASE-MANAGEMENT.md
  community/sc-election-guidelines.md
  community/sigs.md
  community/working-groups.md
  docs/AddNewOp.md
  docs/CIPipelines.md
  docs/CONTRIBUTING.md
  docs/ImplementingAnOnnxBackend.md
  docs/ManagingExperimentalOps.md
  docs/OnnxBackendTest.md
  docs/OnnxReleases.md
  docs/PythonAPIOverview.md
  docs/proposals/NLPinONNXproposal.md
  onnx/checker.cc
  onnx/examples/make_model.ipynb
  onnx/helper.py
  onnx/onnx-data.in.proto
  onnx/onnx-data.proto
  onnx/onnx-data.proto3
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Labels: run release CIs

#3927 Fix the bug of shape in docs
  docs/PythonAPIOverview.md
  docs/Syntax.md
Labels: documentation

#3828 Append dim even both dim value and param are not set
  onnx/defs/data_propagators.h
Labels: shape inference

#3941 Bump to 10.15 in AzurePipeline because 10.14 was deprecated
  .azure-pipelines/MacOS-CI.yml
  .github/workflows/weekly_mac_ci.yml
  onnx/backend/base.py
Labels: build pipelines

#3933 Add explanation to run gtest
  docs/CONTRIBUTING.md
Labels: documentation

#3926 six: remove all references
  README.md
  onnx/__init__.py
  onnx/backend/base.py
  onnx/backend/test/case/base.py
  onnx/backend/test/runner/__init__.py
  onnx/checker.py
  onnx/defs/gen_doc.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/shape_inference.py
  onnx/tools/update_model_dims.py
  requirements-dev.txt
  requirements.txt
  setup.py
  tools/protoc-gen-mypy.py
Labels: infrastructure, run release CIs

#3784 Use symbolic input for shape inference of ConstantOfShape
  onnx/defs/generator/defs.cc
  onnx/test/shape_inference_test.py
Labels: shape inference, partial data propagation

#3953 Remove testing ort-nightly for Mac Python 3.6 due to unsupported ort-nightly
  .github/workflows/release_mac.yml
Labels: build pipelines, run release CIs

#3939 mypy: update to 0.760 and remove vendored protobuf stubs
  onnx/backend/base.py
  setup.py
  stubs/.gitkeep
  stubs/google/README.md
  stubs/google/__init__.pyi
  stubs/google/protobuf/__init__.pyi
  stubs/google/protobuf/any_pb2.pyi
  stubs/google/protobuf/any_test_pb2.pyi
  stubs/google/protobuf/api_pb2.pyi
  stubs/google/protobuf/compiler/__init__.pyi
  stubs/google/protobuf/compiler/plugin_pb2.pyi
  stubs/google/protobuf/descriptor.pyi
  stubs/google/protobuf/descriptor_pb2.pyi
  stubs/google/protobuf/descriptor_pool.pyi
  stubs/google/protobuf/duration_pb2.pyi
  stubs/google/protobuf/empty_pb2.pyi
  stubs/google/protobuf/field_mask_pb2.pyi
  stubs/google/protobuf/internal/__init__.pyi
  stubs/google/protobuf/internal/containers.pyi
  stubs/google/protobuf/internal/decoder.pyi
  stubs/google/protobuf/internal/encoder.pyi
  stubs/google/protobuf/internal/enum_type_wrapper.pyi
  stubs/google/protobuf/internal/message_listener.pyi
  stubs/google/protobuf/internal/wire_format.pyi
  stubs/google/protobuf/map_proto2_unittest_pb2.pyi
  stubs/google/protobuf/map_unittest_pb2.pyi
  stubs/google/protobuf/message.pyi
  stubs/google/protobuf/message_factory.pyi
  stubs/google/protobuf/reflection.pyi
  stubs/google/protobuf/source_context_pb2.pyi
  stubs/google/protobuf/struct_pb2.pyi
  stubs/google/protobuf/symbol_database.pyi
  stubs/google/protobuf/test_messages_proto2_pb2.pyi
  stubs/google/protobuf/test_messages_proto3_pb2.pyi
  stubs/google/protobuf/timestamp_pb2.pyi
  stubs/google/protobuf/type_pb2.pyi
  stubs/google/protobuf/unittest_arena_pb2.pyi
  stubs/google/protobuf/unittest_custom_options_pb2.pyi
  stubs/google/protobuf/unittest_import_pb2.pyi
  stubs/google/protobuf/unittest_import_public_pb2.pyi
  stubs/google/protobuf/unittest_mset_pb2.pyi
  stubs/google/protobuf/unittest_mset_wire_format_pb2.pyi
  stubs/google/protobuf/unittest_no_arena_import_pb2.pyi
  stubs/google/protobuf/unittest_no_arena_pb2.pyi
  stubs/google/protobuf/unittest_no_generic_services_pb2.pyi
  stubs/google/protobuf/unittest_pb2.pyi
  stubs/google/protobuf/unittest_proto3_arena_pb2.pyi
  stubs/google/protobuf/util/__init__.pyi
  stubs/google/protobuf/util/json_format_proto3_pb2.pyi
  stubs/google/protobuf/wrappers_pb2.pyi
  tools/protoc-gen-mypy.py
Labels: run release CIs

#3957 Upgrade Windows version in AzurePipeline since 2017 was deprecated
  .azure-pipelines/Windows-CI.yml
Labels: build pipelines

#3861 Version converter for Softmax should not produce empty shape
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/version_converter/adapters/softmax_12_13.h
Labels: version converter, shape inference
