Repository onnx/onnx, pull requests merged in 2022-05, with the labels that each got.

#4111 Remove manylinux2014_i686 package in release CI
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/manylinux/test_package_i686.sh
  .github/workflows/release_linux_i686.yml
  docs/CIPipelines.md
  docs/OnnxReleases.md
Labels: build, build pipelines, run release CIs

#4180 Add documentation about functions to IR.md
  docs/IR.md
Labels: documentation

#4182 Fix version_converter crash: use %d to print integer
  onnx/version_converter/convert.h
Labels: version converter

#4113 Clarify NonZero behavior for scalar input in spec
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.h
  onnx/test/shape_inference_test.py
Labels: operator, test, documentation, shape inference

#4153 add attribute_proto to function_proto
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/test/cpp/parser_test.cc
  onnx/test/parser_test.py
Labels: run release CIs

#3879 Extend InferShapes to expose result of data propagation
  onnx/defs/data_propagators.h
  onnx/defs/data_type_utils.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
Labels: shape inference, run release CIs

#4168 Remove deprecated codes and temporary announce
  README.md
  onnx/helper.py
Labels: documentation, utility

#4213 Ignore input.pb consistency check for test generation in CIs
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
Labels: build pipelines

#4219 Use ONNX Runtime PyPI package instead of ort-nightly
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  docs/CIPipelines.md
Labels: build pipelines, run release CIs

#4193 Fix bf16 Support
  onnx/helper.py
  onnx/mapping.py
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Labels: utility

#4209 bump version to 1.12.0
  VERSION_NUMBER
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Labels: run release CIs

#4223 Update requirements.txt
  requirements.txt
Labels: build, run release CIs
