Repository onnx/onnx, pull requests merged in 2023-06, with the labels that each got.

#5267 [CI] Use ONNX Hub directly in test_model_zoo CI
  .github/workflows/weekly_mac_ci.yml
  docs/CIPipelines.md
  workflow_scripts/test_model_zoo.py
Labels: build pipelines, test ONNX Model Zoo

#5227 Fix check_tensor to work with large models on Windows
  onnx/checker.cc
Labels: onnx checker, run release CIs

#5221 Expand ONNX schema registration/deregistration API
  cmake/summary.cmake
  onnx/defs/operator_sets.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/test/cpp/schema_registration_test.cc
  setup.py
Labels: run release CIs, utility

#5286 Fix check_tensor to work with large models on UNIX
  onnx/checker.cc
Labels: onnx checker, run release CIs

#5269 Typo in mypy settings: silent
  .github/workflows/win_no_exception_ci.yml
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/_op_list.py
  pyproject.toml
Labels: build pipelines, code style

#5296 Configure dependabot to update pip dependencies
  .github/dependabot.yml
Labels: build pipelines

#5248 Clarify ceil_mode when using auto_pad for pooling
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/averagepool.py
  onnx/backend/test/case/node/lppool.py
  onnx/backend/test/case/node/maxpool.py
  onnx/backend/test/case/node/pool_op_common.py
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
Labels: operator, documentation

#5295 Supports float 8 initializers in ReferenceEvaluator
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Labels: reference implementation

#5263 Refactor shape_inference_test for old Op versions PR1
  onnx/test/shape_inference_test.py
Labels: test, shape inference

#5312 Publish md files under docs/ to the documentation site
  .reuse/dep5
  docs/AddNewOp.md
  docs/CIPipelines.md
  docs/ExternalData.md
  docs/Hub.md
  docs/IR.md
  docs/ImplementingAnOnnxBackend.md
  docs/ManagingExperimentalOps.md
  docs/MetadataProps.md
  docs/ONNXTypes.md
  docs/OnnxBackendTest.md
  docs/OnnxReleases.md
  docs/Overview.md
  docs/PythonAPIOverview.md
  docs/Syntax.md
  docs/docsgen/source/index.md
  docs/docsgen/source/onnx_sphinx.py
  docs/docsgen/source/repo-docs/.gitignore
  docs/docsgen/source/repo-docs/index.md
Labels: documentation, enhancement

#5323 Update documentation format for GatherND-13
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Labels: documentation

#5344 Remove proto generation step in test CIs
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
Labels: build pipelines, code style

#5322 Remove added explicit for OpSchemaRegisterOnce
  onnx/defs/schema.h
Labels: run release CIs, schema

#5327 Infer rank where reshape shape is inferred
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Labels: shape inference

#5355 Allow to override cmake options from cmd options, external projects
  CMakeLists.txt
Labels: build, run release CIs

#5363 Add missing header in shape_inference.h
  onnx/defs/shape_inference.h
Labels: shape inference

#5045 Update coding style suggested by refurb
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/model/sequence.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/blackmanwindow.py
  onnx/backend/test/case/node/dropout.py
  onnx/backend/test/case/node/hammingwindow.py
  onnx/backend/test/case/node/hannwindow.py
  onnx/backend/test/case/node/pad.py
  onnx/backend/test/case/node/pool_op_common.py
  onnx/backend/test/case/node/softmaxcrossentropy.py
  onnx/backend/test/case/node/stft.py
  onnx/backend/test/data/node/test_blackmanwindow/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_blackmanwindow_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_blackmanwindow_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_blackmanwindow_symmetric_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow_symmetric_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow_symmetric_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_stft_with_window/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_stft_with_window/test_data_set_0/output_0.pb
  onnx/backend/test/report/coverage.py
  onnx/compose.py
  onnx/helper.py
  onnx/hub.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op_common_random.py
  onnx/reference/ops/aionnxml/_common_classifier.py
  onnx/reference/ops/aionnxml/op_dict_vectorizer.py
  onnx/reference/ops/aionnxml/op_svm_classifier.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_classifier.py
  onnx/reference/ops/op_blackman_window.py
  onnx/reference/ops/op_clip.py
  onnx/reference/ops/op_cum_sum.py
  onnx/reference/ops/op_einsum.py
  onnx/reference/ops/op_hamming_window.py
  onnx/reference/ops/op_hann_window.py
  onnx/reference/ops/op_if.py
  onnx/reference/ops/op_loop.py
  onnx/reference/ops/op_stft.py
  onnx/reference/ops/op_unsqueeze.py
  onnx/reference/ops/op_where.py
  onnx/test/compose_test.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_external_data.py
  onnx/utils.py
Labels: run release CIs, code style

#5367 Ensure Lint CI catch documentation difference error
  .github/workflows/lint.yml
Labels: build pipelines, code style

#5376 Test onnxruntime 1.15 with opset 19/IR 9 and fix test source distribution
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  docs/OnnxReleases.md
Labels: test, build pipelines, run release CIs
