Repository onnx/onnx, pull requests merged in 2023-10, with the labels that each got.

#5627 Disable non-const reference check from cpplint
  .github/workflows/lint.yml
Labels: code style

#5648 Fix affineGrid doc error - output shape shall has no 'C' in it
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Labels: operator

#5663 Use absolute link in README.md entirely
  README.md
Labels: documentation

#5667 Delete onnx/test/reference_evaluator_backend_test.py
  onnx/test/reference_evaluator_backend_test.py
Labels: test

#5669 Do not use LFS64 on non-glibc linux (#5668)
  onnx/checker.cc
Labels: build, onnx checker, run release CIs

#5664 Update reducesum test name - test name was duplicated
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/reducesum.py
  onnx/backend/test/data/node/test_reduce_sum_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set_non_reduced_axis_zero/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_empty_set_non_reduced_axis_zero/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set_non_reduced_axis_zero/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set_non_reduced_axis_zero/test_data_set_0/output_0.pb
Labels: review needed: operators approvers

#5661 Remove global counters in tests
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  onnx/test/version_converter/automatic_upgrade_test.py
  requirements-dev.txt
  requirements-release.txt
Labels: test, run release CIs

#5686 [Doc clarification] Added unidirectional text for LayerNorm
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Labels: operator, spec clarification, auto update doc

#5678 Fix Windows Release CI failure due to unresolved external symbol
  cmake/summary.cmake
  workflow_scripts/protobuf/build_protobuf_win.ps1
Labels: build, build pipelines, run release CIs

#5684 Add missing ReduceMax's empty set test
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/reducemax.py
Labels: review needed: operators approvers

#5697 Update package-data to include pyi files
  MANIFEST.in
  pyproject.toml
Labels: build, run release CIs

#5700 Skip ssd_mobilenet_v1 due to subgraph shape inference enhancement
  workflow_scripts/config.py
Labels: test

#5677 [cmake] Place export target file in the correct directory
  CMakeLists.txt
  cmake/ONNXConfig.cmake.in
Labels: build, run release CIs

#5612 Bump CMAKE_CXX_STANDARD as 17 globally
  CMakeLists.txt
  README.md
Labels: build pipelines, run release CIs, announce
