Repository onnx/onnx, pull requests merged in 2023-02, with the labels that each got.

#4770 Add one backend test mode==max of RoiAlign + ReferenceEvaluator
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/roialign.py
  onnx/backend/test/data/node/test_roialign_mode_max/model.onnx
  onnx/backend/test/data/node/test_roialign_mode_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_roialign_mode_max/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_roialign_mode_max/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_roialign_mode_max/test_data_set_0/output_0.pb
  onnx/test/reference_evaluator_backend_test.py
  onnx/test/reference_evaluator_test.py
Labels: reference implementation

#4840 update CI pipeline badges to include name of pipeline platform
  README.md
Labels: build pipelines

#4797 Fix linked parameters in reference implementation for Concat
  onnx/reference/ops/op_concat.py
  onnx/test/reference_evaluator_test.py
Labels: reference implementation

#4835 Fix OptionalHasElement in reference implementation
  onnx/reference/ops/op_optional_get_element.py
  onnx/reference/ops/op_optional_has_element.py
  onnx/reference/ops/op_sequence_length.py
  onnx/test/reference_evaluator_backend_test.py
Labels: reference implementation

#4824 Handle variants of constant op in shape inference
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Labels: shape inference

#4761 add lppool test cases
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/lppool.py
  onnx/backend/test/case/node/pool_op_common.py
  onnx/backend/test/data/node/test_lppool_1d_default/model.onnx
  onnx/backend/test/data/node/test_lppool_1d_default/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_1d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_default/model.onnx
  onnx/backend/test/data/node/test_lppool_2d_default/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_dilations/model.onnx
  onnx/backend/test/data/node/test_lppool_2d_dilations/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_dilations/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_pads/model.onnx
  onnx/backend/test/data/node/test_lppool_2d_pads/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_pads/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_lower/model.onnx
  onnx/backend/test/data/node/test_lppool_2d_same_lower/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_lower/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_upper/model.onnx
  onnx/backend/test/data/node/test_lppool_2d_same_upper/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_upper/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_strides/model.onnx
  onnx/backend/test/data/node/test_lppool_2d_strides/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_strides/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_3d_default/model.onnx
  onnx/backend/test/data/node/test_lppool_3d_default/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_3d_default/test_data_set_0/output_0.pb
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_lp_pool.py
  onnx/test/reference_evaluator_backend_test.py
Labels: test

#4839 Fix type and shape issue for the reference implementation
  onnx/reference/ops/aionnxml/op_scaler.py
  onnx/reference/ops/op_celu.py
  onnx/reference/ops/op_conv.py
  onnx/reference/ops/op_conv_transpose.py
  onnx/reference/ops/op_det.py
  onnx/reference/ops/op_elu.py
  onnx/reference/ops/op_exp.py
  onnx/reference/ops/op_gemm.py
  onnx/reference/ops/op_global_average_pool.py
  onnx/reference/ops/op_grid_sample.py
  onnx/reference/ops/op_gru.py
  onnx/reference/ops/op_leaky_relu.py
  onnx/reference/ops/op_log.py
  onnx/reference/ops/op_lp_normalization.py
  onnx/reference/ops/op_lstm.py
  onnx/reference/ops/op_mean.py
  onnx/reference/ops/op_negative_log_likelihood_loss.py
  onnx/reference/ops/op_pad.py
  onnx/reference/ops/op_prelu.py
  onnx/reference/ops/op_reciprocal.py
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_rnn.py
  onnx/reference/ops/op_roi_align.py
  onnx/reference/ops/op_round.py
  onnx/reference/ops/op_selu.py
  onnx/reference/ops/op_shrink.py
  onnx/reference/ops/op_sigmoid.py
  onnx/reference/ops/op_softmax.py
  onnx/reference/ops/op_softmax_cross_entropy_loss.py
  onnx/reference/ops/op_softplus.py
  onnx/reference/ops/op_space_to_depth.py
  onnx/reference/ops/op_sqrt.py
  onnx/reference/ops/op_sum.py
  onnx/reference/ops/op_thresholded_relu.py
  onnx/reference/ops/op_trilu.py
  onnx/test/reference_evaluator_backend_test.py
Labels: reference implementation

#4827 fix wrong example of Gather-11/Gather-1 documentation
  docs/Changelog.md
  onnx/defs/tensor/old.cc
Labels: documentation

#4852 Update Linux-CI.yml. Ubuntu18.04 deprecated (unsupported by 2023/04/01)
  .azure-pipelines/Linux-CI.yml
Labels: infrastructure, build pipelines

#4865 Update URL for real models from ONNX Runtime
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/data/real/test_bvlc_alexnet/data.json
  onnx/backend/test/data/real/test_densenet121/data.json
  onnx/backend/test/data/real/test_inception_v1/data.json
  onnx/backend/test/data/real/test_inception_v2/data.json
  onnx/backend/test/data/real/test_resnet50/data.json
  onnx/backend/test/data/real/test_shufflenet/data.json
  onnx/backend/test/data/real/test_squeezenet/data.json
  onnx/backend/test/data/real/test_vgg19/data.json
  onnx/backend/test/data/real/test_zfnet512/data.json
Labels: test, run release CIs

#4863 Fix parser bug in handling non-tensor types
  onnx/defs/parser.cc
  onnx/test/cpp/parser_test.cc
Labels: onnx parser

#4831 Fix SplitToSequence reference implementation
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/splittosequence.py
  onnx/backend/test/data/node/test_split_to_sequence_1/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_split_to_sequence_1/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_split_to_sequence_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_split_to_sequence_2/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_split_to_sequence_2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_split_to_sequence_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_split_to_sequence_nokeepdims/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_nokeepdims/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_split_to_sequence_nokeepdims/test_data_set_0/output_0.pb
  onnx/reference/ops/op_split_to_sequence.py
  onnx/test/reference_evaluator_backend_test.py
  onnx/test/reference_evaluator_test.py
Labels: reference implementation

#4873 Use mypy 1.0.0
  .lintrunner.toml
Labels: code style

#4880 Fix function shape inference bug
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Labels: shape inference, run release CIs

#4886 [1.13.1rc2] More cherry picks for fixing function shape inference
  .github/workflows/release_mac.yml
  VERSION_NUMBER
  onnx/defs/parser.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/parser_test.cc
  onnx/test/model_inference_test.py
Labels: run release CIs

#4851 Use ruff to replace flake8 and plugins
  .github/workflows/lint.yaml
  .lintrunner.toml
  docs/Operators.md
  docs/TestCoverage.md
  onnx/__init__.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/gathernd.py
  onnx/backend/test/case/node/groupnormalization.py
  onnx/backend/test/case/node/gru.py
  onnx/backend/test/case/node/lstm.py
  onnx/backend/test/case/node/onehot.py
  onnx/backend/test/case/node/pool_op_common.py
  onnx/backend/test/case/node/rnn.py
  onnx/backend/test/stat_coverage.py
  onnx/checker.py
  onnx/compose.py
  onnx/defs/__init__.py
  onnx/helper.py
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/version_converter.pyi
  onnx/parser.py
  onnx/printer.py
  onnx/reference/ops/_op_common_pool.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/op_array_feature_extractor.py
  onnx/reference/ops/aionnxml/op_one_hot_encoder.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/ops/op_conv.py
  onnx/reference/ops/op_gathernd.py
  onnx/reference/ops/op_non_max_suppression.py
  onnx/reference/ops/op_one_hot.py
  onnx/reference/ops/op_resize.py
  onnx/reference/ops/op_roi_align.py
  onnx/reference/ops/op_stft.py
  onnx/reference/ops/op_tfidf_vectorizer.py
  onnx/shape_inference.py
  onnx/test/checker_test.py
  onnx/test/reference_evaluator_backend_test.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_external_data.py
  onnx/tools/net_drawer.py
  onnx/version_converter.py
  pyproject.toml
  setup.cfg
  setup.py
Labels: code style

#4896 Temporary Mac release pipeline fix for onnxruntime 1.14.0
  .github/workflows/release_mac.yml
Labels: build pipelines, run release CIs

#4793 Pad-19: Add 'wrap' mode
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/pad.py
  onnx/backend/test/data/node/test_constant_pad/model.onnx
  onnx/backend/test/data/node/test_constant_pad_axes/model.onnx
  onnx/backend/test/data/node/test_edge_pad/model.onnx
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reflect_pad/model.onnx
  onnx/backend/test/data/node/test_wrap_pad/model.onnx
  onnx/backend/test/data/node/test_wrap_pad/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_wrap_pad/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_wrap_pad/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor/utils.h
  onnx/version_converter/convert.h
Labels: operator

#4904 Update action workflows to set default permission to read
  .github/workflows/codeql.yml
  .github/workflows/lint.yaml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win.yml
  .github/workflows/stale.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Labels: build pipelines, run release CIs, test ONNX Model Zoo

#4790 Add AveragePool-19 - add `dilations` attribute
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/averagepool.py
  onnx/backend/test/data/node/test_averagepool_1d_default/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_ceil/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_default/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_dilations/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_dilations/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_averagepool_2d_dilations/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_averagepool_2d_pads/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_pads_count_include_pad/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_precomputed_pads/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_precomputed_pads_count_include_pad/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_precomputed_same_upper/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_precomputed_strides/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_same_lower/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_same_upper/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_strides/model.onnx
  onnx/backend/test/data/node/test_averagepool_3d_default/model.onnx
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_common_pool.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_average_pool.py
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator

#4804 Use randint instead of randn to prevent undefined cast (float to uint)
  docs/Operators.md
  docs/TestCoverage.md
  docs/docsgen/source/api/numpy_helper.rst
  onnx/backend/test/case/node/bitwiseand.py
  onnx/backend/test/case/node/bitwisenot.py
  onnx/backend/test/case/node/bitwiseor.py
  onnx/backend/test/case/node/bitwisexor.py
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_i16_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_i32_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_ui64_bcast_3v1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_and_ui8_bcast_4v3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_not_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_not_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_not_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_not_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_not_4d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_not_4d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_i16_4d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_i32_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_ui64_bcast_3v1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_or_ui8_bcast_4v3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_i16_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_i32_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui64_bcast_3v1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_bitwise_xor_ui8_bcast_4v3d/test_data_set_0/output_0.pb
  onnx/numpy_helper.py
Labels: test

#4823 [CI] Compile with UBSan in CI and fix ParseData nullptr issue
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  onnx/defs/tensor_proto_util.cc
Labels: build pipelines

#4867 Update description regarding Ubuntu in README.md
  .github/ISSUE_TEMPLATE/bug.md
  README.md
Labels: documentation

#4894 Pin actions to a full length commit SHA
  .github/workflows/codeql.yml
  .github/workflows/lint.yaml
  .github/workflows/pages.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/stale.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Labels: run release CIs

#4905 fix OptionalGetElement shape inference when input is a tensor
  onnx/defs/optional/defs.cc
  onnx/test/shape_inference_test.py
Labels: shape inference

#4828 Extend Equal operator to support string type
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/equal.py
  onnx/backend/test/data/node/test_equal/model.onnx
  onnx/backend/test/data/node/test_equal_bcast/model.onnx
  onnx/backend/test/data/node/test_equal_string/model.onnx
  onnx/backend/test/data/node/test_equal_string/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_equal_string/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_equal_string/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_equal_string_broadcast/model.onnx
  onnx/backend/test/data/node/test_equal_string_broadcast/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_equal_string_broadcast/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_equal_string_broadcast/test_data_set_0/output_0.pb
  onnx/defs/logical/defs.cc
  onnx/defs/logical/old.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
  onnx/version_converter/convert.h
Labels: operator

#4897 Move onnx-weekly package from TestPyPI to PyPI
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  docs/CIPipelines.md
Labels: build pipelines, run release CIs

#4910 security best practice according to openssf
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Labels: run release CIs

#4883 Add badge for OpenSSF Scorecard - Security health metrics for Open Source to Readme
  README.md
Labels: documentation

#4926 Remove non-required pyzmq due to different license
  requirements-dev.txt
Labels: run release CIs, dependencies

#4923 Use the furo theme
  docs/docsgen/source/_static/onnx-horizontal-color.png
  docs/docsgen/source/api/backend.rst
  docs/docsgen/source/api/checker.rst
  docs/docsgen/source/api/classes.rst
  docs/docsgen/source/api/compose.rst
  docs/docsgen/source/api/defs.rst
  docs/docsgen/source/api/external_data_helper.rst
  docs/docsgen/source/api/helper.rst
  docs/docsgen/source/api/hub.rst
  docs/docsgen/source/api/mapping.rst
  docs/docsgen/source/api/numpy_helper.rst
  docs/docsgen/source/api/parser.rst
  docs/docsgen/source/api/printer.rst
  docs/docsgen/source/api/reference.rst
  docs/docsgen/source/api/serialization.rst
  docs/docsgen/source/api/shape_inference.rst
  docs/docsgen/source/api/tools.rst
  docs/docsgen/source/api/utils.rst
  docs/docsgen/source/api/version_converter.rst
  docs/docsgen/source/conf.py
  docs/docsgen/source/intro/concepts.rst
  docs/docsgen/source/intro/converters.rst
  docs/docsgen/source/intro/python.rst
  docs/docsgen/source/onnx_sphinx.py
  docs/docsgen/source/requirements.txt
Labels: website content

#4932 After ONNX 1.13.1 release: add 1.13.1 in the main branch
  README.md
  docs/OnnxReleases.md
  docs/Versioning.md
  onnx/common/version.h
  onnx/helper.py
Labels: documentation

#4928 Set default CheckerContext for check_function properly
  onnx/checker.cc
  onnx/checker.py
  onnx/helper.py
Labels: onnx checker, utility

#4935 Autoformat with ruff SIM rules
  .lintrunner.toml
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/backend/test/stat_coverage.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/reference/ops/aionnxml/op_binarizer.py
  onnx/reference/ops/op_non_max_suppression.py
  onnx/reference/ops/op_upsample.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_test.py
  pyproject.toml
  setup.py
Labels: code style

#4938 Sphinx type name rendering
  docs/docsgen/source/onnx_sphinx.py
Labels: website content

#4861 Use light local onnx file instead of heavy remote files
  docs/TestCoverage.md
  docs/docsgen/source/api/tools.rst
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/data/light/README.md
  onnx/backend/test/data/light/light_bvlc_alexnet.onnx
  onnx/backend/test/data/light/light_densenet121.onnx
  onnx/backend/test/data/light/light_densetnet121.onnx
  onnx/backend/test/data/light/light_inception_v1.onnx
  onnx/backend/test/data/light/light_inception_v2.onnx
  onnx/backend/test/data/light/light_resnet.onnx
  onnx/backend/test/data/light/light_resnet50.onnx
  onnx/backend/test/data/light/light_shufflenet.onnx
  onnx/backend/test/data/light/light_squeeze.onnx
  onnx/backend/test/data/light/light_squeezenet.onnx
  onnx/backend/test/data/light/light_vgg19.onnx
  onnx/backend/test/data/light/light_zfnet512.onnx
  onnx/backend/test/data/node/test_acos/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asin/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atanh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_sinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tan/test_data_set_0/output_0.pb
  onnx/backend/test/data/real/test_bvlc_alexnet/data.json
  onnx/backend/test/data/real/test_densenet121/data.json
  onnx/backend/test/data/real/test_inception_v1/data.json
  onnx/backend/test/data/real/test_inception_v2/data.json
  onnx/backend/test/data/real/test_resnet50/data.json
  onnx/backend/test/data/real/test_shufflenet/data.json
  onnx/backend/test/data/real/test_squeezenet/data.json
  onnx/backend/test/data/real/test_vgg19/data.json
  onnx/backend/test/data/real/test_zfnet512/data.json
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  onnx/reference/ops/op_batch_normalization.py
  onnx/reference/ops/op_gru.py
  onnx/reference/ops/op_lstm.py
  onnx/test/test_backend_reference.py
  onnx/test/tools_test.py
  onnx/tools/replace_constants.py
Labels: infrastructure

#4912 Add method to type-check a function
  docs/PythonAPIOverview.md
  docs/docsgen/source/api/shape_inference.rst
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/function_inference_test.py
Labels: shape inference
