Repository onnx/onnx, pull requests merged in 2023-09, with the labels that each got.

#5538 Remove deprecated functions in schema.h
  onnx/defs/schema.h
Labels: schema, review needed: operators approvers

#5539 Add BOOL to ReduceMax/Min
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/reducemax.py
  onnx/backend/test/case/node/reducemin.py
  onnx/defs/operator_sets.h
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/reference/ops/op_reduce_max.py
  onnx/reference/ops/op_reduce_min.py
  onnx/test/test_backend_onnxruntime.py
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/convert.h
Labels: operator

#5566 Reject absolute path when saving external data
  onnx/__init__.py
  onnx/external_data_helper.py
Labels: utility

#5555 Use Pillow to implement ImageDecoder
  .github/workflows/release_win.yml
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/image_decoder.py
  onnx/backend/test/data/node/test_image_decoder_decode_bmp_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_bmp_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_bmp_rgb/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg2k_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg2k_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg2k_rgb/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_bgr/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_bgr/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_bgr/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_grayscale/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_grayscale/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_grayscale/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_rgb/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_pnm_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_pnm_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_pnm_rgb/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_tiff_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_tiff_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_tiff_rgb/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_webp_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_webp_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_webp_rgb/test_data_set_0/output_0.pb
  onnx/reference/ops/op_image_decoder.py
  onnx/test/reference_evaluator_backend_test.py
  onnx/test/test_backend_reference.py
  pyproject_pylint.toml
  requirements-reference.txt
Labels: run release CIs, dependencies, reference implementation

#5511 Use frozen NumPy array for ImageDecoder backend test if no Pillow
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/release_win.yml
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/_image_decoder_data.py
  onnx/backend/test/case/node/image_decoder.py
Labels: test, run release CIs

#5558 Support Python editable builds
  setup.py
Labels: build, run release CIs

#5582 Fix Windows and Mac weekly CI failure: set env correctly
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Labels: build pipelines, run release CIs

#5581 Fix broken status badge in README: nightly run CI in main branch
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
Labels: documentation, build pipelines

#5584 Merge the two contributing docs and create instructions for updating an op
  .github/workflows/lint.yml
  CONTRIBUTING.md
  README.md
  docs/AddNewOp.md
  docs/CONTRIBUTING.md
Labels: documentation

#5593 [Web] Use tensor_dtype_to_np_dtype instead of deprecated function
  docs/docsgen/source/intro/python.md
Labels: website content

#5598 Fix sed -i error in Mac release Pipeline for onnx-weekly
  .github/workflows/release_mac.yml
Labels: build pipelines, run release CIs

#5565 Fix miscellaneous warnings in build for clang v16
  onnx/defs/parser.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/old.cc
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/cast_9_8.h
  onnx/version_converter/adapters/scan_8_9.h
Labels: run release CIs, review needed: operators approvers

#5605 [CI] Move onnxruntime test from Windows to MacOS
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
Labels: build pipelines

#5604 Update diff bakend node tests for auto update doc
  .github/workflows/auto_update_doc.yml
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/cmd_tools.py
Labels: test, build pipelines, utility

#5594 Simplify endian detection logic
  onnx/common/platform_helpers.h
Labels: code style

#5514 Create DFT-20
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dft.py
  onnx/backend/test/data/node/test_dft/model.onnx
  onnx/backend/test/data/node/test_dft/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_axis/model.onnx
  onnx/backend/test/data/node/test_dft_axis/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_axis_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_axis_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_axis_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_inverse/model.onnx
  onnx/backend/test/data/node/test_dft_inverse/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_inverse_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_inverse_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_inverse_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_opset19/test_data_set_0/output_0.pb
  onnx/defs/controlflow/utils.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_dft.py
  onnx/reference/ops/op_stft.py
  onnx/test/automatic_upgrade_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_onnxruntime.py
Labels: operator, shape inference, reference implementation, auto update doc

#5568 Clarify reduction behavior for an empty set of values
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/reduce_log_sum.py
  onnx/backend/test/case/node/reduce_log_sum_exp.py
  onnx/backend/test/case/node/reducel1.py
  onnx/backend/test/case/node/reducel2.py
  onnx/backend/test/case/node/reducemin.py
  onnx/backend/test/case/node/reduceprod.py
  onnx/backend/test/case/node/reducesum.py
  onnx/backend/test/case/node/reducesumsquare.py
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_reduce_log_sum.py
  onnx/reference/ops/op_reduce_log_sum_exp.py
  onnx/reference/ops/op_reduce_max.py
  onnx/reference/ops/op_reduce_min.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_onnxruntime.py
Labels: auto update doc

#5603 Updated docs for DynamicQuantizeLinear to be consistent with reference implementation
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
Labels: documentation

#5617 Clarify `cond` to `If` must contain a single element
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/reference/ops/op_if.py
  onnx/test/reference_evaluator_test.py
Labels: operator, spec clarification, reference implementation, auto update doc

#5621 Fix Windows weekly release CI failure
  .github/workflows/release_win.yml
Labels: build pipelines, run release CIs

#5615 Catch untracked files by node test generation in CI
  .azure-pipelines/MacOS-CI.yml
  onnx/backend/test/data/node/test_reduce_l1_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_l1_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_l1_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_l1_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_l1_empty_set_expanded/model.onnx
  onnx/backend/test/data/node/test_reduce_l1_empty_set_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_l1_empty_set_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_l1_empty_set_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_l2_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_l2_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_l2_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_l2_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_l2_empty_set_expanded/model.onnx
  onnx/backend/test/data/node/test_reduce_l2_empty_set_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_l2_empty_set_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_l2_empty_set_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set_expanded/model.onnx
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_log_sum_empty_set_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set_expanded/model.onnx
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_empty_set_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_min_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_min_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_min_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_min_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_prod_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_prod_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_prod_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_prod_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set_expanded/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_square_empty_set_expanded/test_data_set_0/output_0.pb
Labels: test, build pipelines

#5623 Set tolerance for dft tests
  onnx/test/reference_evaluator_backend_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
  onnx/test/version_utils.py
Labels: run release CIs

#5559 Enable empty list of values as attribute
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/generator/utils.cc
  onnx/defs/generator/utils.h
  onnx/defs/schema.cc
  onnx/test/checker_test.py
Labels: onnx checker

#5613 DFT-20 version converter
  onnx/test/version_converter/automatic_conversion_test_base.py
  onnx/test/version_converter/automatic_downgrade_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
  onnx/version_converter/adapters/axis_attribute_to_input.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/convert.h
Labels: version converter
