Repository onnx/onnx, pull requests merged in 2024-02, with the labels that each got.

#5896 Unblock ci by skipping known ort 1.17 test failures
  onnx/test/test_backend_onnxruntime.py
Labels: run release CIs

#5812 Add blocked quantization mode for De/QuantizeLinear
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/output_0.pb
  onnx/common/interned_strings.h
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/q_dq_21_20.h
  onnx/version_converter/convert.h
Labels: operator, review needed: operators approvers

#5874 TreeEnsemble operator
  docs/AddNewOp.md
  docs/Changelog-ml.md
  docs/Operators-ml.md
  docs/TestCoverage-ml.md
  onnx/backend/test/case/node/ai_onnx_ml/tree_ensemble.py
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/test_data_set_0/output_0.pb
  onnx/defs/__init__.py
  onnx/defs/operator_sets_ml.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/traditionalml/utils.h
  onnx/helper.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_onnxruntime.py
Labels: operator

#5918 Fix Out of bounds read due to lack of string termination in assert
  onnx/common/assertions.cc
Labels: run release CIs

#5934 Add parser support for int4 types
  onnx/defs/parser.h
Labels: onnx parser

#5932 Update batchnorm documentation (number of outputs for training mode)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Labels: operator, spec clarification

#5917 Fix path sanitization bypass leading to arbitrary read
  onnx/checker.cc
  onnx/checker.h
  onnx/common/path.h
  onnx/cpp2py_export.cc
  onnx/external_data_helper.py
  onnx/model_container.py
  onnx/test/test_external_data.py
Labels: run release CIs
