Repository onnx/onnx, pull requests merged in 2024-01, with the labels that each got.

#5817 Fix reference implementation for nested local functions
  onnx/reference/op_run.py
  onnx/reference/ops/op_if.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Labels: reference implementation, review needed: operators approvers

#5841 Process subgraphs in inliner
  onnx/inliner/inliner.cc
  onnx/test/cpp/inliner_test.cc
Labels: inliner

#5768 Enable unity(Jumbo) builds
  CMakeLists.txt
  onnx/checker.cc
  onnx/common/path.h
  onnx/defs/data_propagators.h
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
Labels: build

#5858 Skip some int4 test with old numpy version
  onnx/test/helper_test.py
  onnx/test/reference_evaluator_test.py
Labels: run release CIs

#5808 GroupNormalization-21 updates
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/groupnormalization.py
  onnx/backend/test/data/node/test_group_normalization_epsilon/model.onnx
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_epsilon_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_example/model.onnx
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/model.onnx
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_group_normalization_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/common/interned_strings.h
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/test/test_backend_onnxruntime.py
  onnx/version_converter/adapters/group_normalization_20_21.h
  onnx/version_converter/convert.h
Labels: operator, review needed: operators approvers

#5743 Support Python 3.12
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
  requirements-min.txt
  requirements-release.txt
Labels: build, run release CIs

#5873 Improve attribute docs formatting on the docs site
  docs/docsgen/source/onnx_sphinx.py
Labels: website content

#5741 Fix corner case where output size need to reduce by one in MaxPool
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/maxpool.py
  onnx/backend/test/data/node/test_maxpool_2d_ceil_output_size_reduce_by_one/model.onnx
  onnx/backend/test/data/node/test_maxpool_2d_ceil_output_size_reduce_by_one/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_maxpool_2d_ceil_output_size_reduce_by_one/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_max_pool.py
  onnx/test/test_backend_onnxruntime.py
  requirements-lintrunner.txt
Labels: shape inference, run release CIs, review needed: operators approvers
