Repository onnx/onnx, pull requests merged in 2024-12, with the labels that each got.

#6585 Update gather doc
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Labels: auto update doc

#6434 Remove python 3.8 workflows (python 3.8 is eol)
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Labels: run release CIs

#6593 Fix reference implementation for TopK
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/topk.py
  onnx/reference/ops/op_topk.py
  onnx/test/test_backend_onnxruntime.py
Labels: operator

#6596 Fix reference implementation for Unique
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/unique.py
  onnx/backend/test/runner/__init__.py
  onnx/reference/ops/op_unique.py
Labels: run release CIs

#6600 Bump Protobuf to 5.29.2
  .github/workflows/main.yml
  CMakeLists.txt
  requirements-lintrunner.txt
Labels: run release CIs, release notes
