Repository onnx/onnx, pull requests merged in 2024-03, with the labels that each got.

#5984 Fix source and pip tar.gz builds on s390x systems
  pyproject.toml
  setup.py
Labels: run release CIs

#6010 Replace rank inference with shape inference for Einsum op
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Labels: shape inference, review needed: operators approvers

#5963 Handle `OneHot`'s `depth` value during shape inference
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Labels: shape inference

#6045 Not to install cmake in pyproject.toml on Windows
  pyproject.toml
Labels: run release CIs
