Repository onnx/onnx, pull requests merged in 2024-05, with the labels that each got.

#6117 chore(ci): build and test macOS universal2 wheels on macOS arm64
  .github/workflows/release_mac.yml
  docs/CIPipelines.md
  setup.py
Labels: build, run release CIs

#6120 fix(ci): install python dependencies with `--only-binary :all:` in manylinux
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Labels: run release CIs

#6129 fix: install google-re2 with `--only-binary` option
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Labels: run release CIs

#6095 Specify axis parameter for DequantizeLinear when input rank is 1
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Labels: documentation, spec clarification, review needed: operators approvers

#6143 Pin onnxruntime to 1.17.3 for release CIs
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Labels: run release CIs
