Repository onnx/onnx, pull requests merged in 2024-04, with the labels that each got.

#6075 Migrate CI to use Github Actions
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/main.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/external/googletest.cmake
  cmake/unittest.cmake
Labels: run release CIs, better engineering

#6068 Add shape inference test for custom op
  onnx/test/cpp/shape_inference_test.cc
Labels: shape inference

#6080 Add missing shape inference check for DequantizeLinear
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Labels: review needed: operators approvers
