Repository onnx/onnx, pull requests merged in 2025-10, with the labels that each got.

#7338 Remove Black code style badge
  README.md
Labels: topic: documentation

#7366 Throw TypeError
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_unsqueeze.py
  onnx/tools/update_model_dims.py
Labels: module: reference implementation

#7369 Update release_mac.yml; don't run pytest for 3.14-dev
  .github/workflows/release_mac.yml
Labels: run release CIs
