Repository onnx/onnx, pull requests merged in 2025-04, with the labels that each got.

#6846 Bump ruff to 0.11 and types-protobuf to 5.29.1.20250315
  docs/Operators.md
  docs/TestCoverage.md
  onnx/__init__.py
  onnx/backend/test/case/node/lrn.py
  onnx/helper.py
  onnx/hub.py
  onnx/mapping.py
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/onnx_cpp2py_export/parser.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/reference/ops/aionnxml/_common_classifier.py
  onnx/reference/ops/op_loop.py
  onnx/reference/ops/op_lrn.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/serialization.py
  onnx/test/reference_evaluator_test.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  requirements-lintrunner.txt
  setup.py
  tools/protoc-gen-mypy.py
Labels: run release CIs

#6861 Remove the pull trigger in source dist test
  .github/workflows/preview_source_dist_test.yml
Labels: module: CI pipelines

#6847 Fix external data bug in version converter
  onnx/common/ir_pb_converter.cc
  onnx/common/tensor.h
  onnx/test/version_converter_test.py
Labels: module: ir (c++)

#6851 Added selection option to enable both release and preview builds in the create_release.yml workflow
  .github/workflows/create_release.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
  .github/workflows/release_win_freethreading.yml
Labels: run release CIs

#6874 Remove ipython, twine from requirements*.txt
  requirements-release.txt
Labels: run release CIs

#6840 Use CONFIG to find protobuf
  cmake/ONNXConfig.cmake.in
Labels: topic: build, run release CIs

#6880 update versions
  docs/Versioning.md
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Labels: run release CIs

#6885 Update CIPipelines.md
  docs/CIPipelines.md
Labels: topic: documentation

#6835 Add support for Free-Threading in Linux Wheel Builds
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_x86_64.yml
  requirements-release_build.txt
  requirements-release_test.txt
Labels: run release CIs

#6881 Link privately to protobuf static libraries
  CMakeLists.txt
  cmake/ONNXConfig.cmake.in
Labels: run release CIs

#6893 Update release_linux_aarch64 to include 3.13t
  .github/workflows/release_linux_aarch64.yml
Labels: run release CIs

#6844 Consolidate Freethreading Requirements into Main Requirements Files for Enhanced Tooling
  .github/workflows/release_win_freethreading.yml
  requirements-dev_freethreading.txt
  requirements-release_freethreading_win.txt
Labels: run release CIs

#6907 Use Native Runner für linux Aarch64 whl (public preview runner available)
  .github/workflows/create_release.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x64_freethreading.yml
  .github/workflows/release_win_x86_64.yml
Labels: run release CIs

#6914 Remove deprecated mapping constants
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/mapping.md
  onnx/__init__.py
  onnx/_mapping.py
  onnx/helper.py
  onnx/mapping.py
Labels: topic: bc breaking

#6912 Add wheel build for windows arm64
  .github/workflows/create_release.yml
  .github/workflows/release_win_arm64.yml
  requirements-release_build.txt
Labels: run release CIs

#6918 Use Python3::Interpreter instead of Python3_EXECUTABLE
  CMakeLists.txt
Labels: run release CIs

#6926 Enhance Build Process and CI Configuration (combine pipelines)
  .github/workflows/create_release.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x64_freethreading.yml
  .github/workflows/release_win_x86_64.yml
Labels: run release CIs

#5940 Support set schema inference function in python
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/test/shape_inference_test.py
Labels: module: shape inference, run release CIs

#6927 Simplify CMake code
  CMakeLists.txt
Labels: run release CIs

#6920 Improve model Extractor
  onnx/utils.py
Labels: module: utility, topic: bug fix
