Repository onnx/onnx, pull requests merged in 2025-07, with the labels that each got.

#7085 Update float8 table for the Cast op spec
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Labels: topic: operator, topic: spec clarification

#6994 Fix: prefixing of graphs when `rename_inputs=False/rename_outputs=False`
  onnx/compose.py
  onnx/test/compose_test.py
Labels: module: utility

#7086 Bump protobuf to 6.31.1
  CMakeLists.txt
  requirements-release_test.txt
Labels: run release CIs

#7121 Update CMakeLists.txt to prevent ICE protobuf failure
  CMakeLists.txt
Labels: topic: build, run release CIs

#7130 Update the saturating behavior for E4M3FNUZ/E5M2FNUZ in Cast and CastLike
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Labels: module: spec

#7135 Fix RMS norm function definition
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/defs/nn/defs.cc
Labels: topic: operator, auto update doc

#7091 Make some op-level shape inference functions public
  onnx/defs/nn/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/shape_inference.h
Labels: module: shape inference

#7105 Fix Resize reference operator
  onnx/reference/ops/op_resize.py
Labels: module: reference implementation, topic: bug fix

#7026 Fix shared module name when cross-compiling
  CMakeLists.txt
Labels: topic: build, run release CIs

#7168 Fix return type of HardSigmoid in reference implementation
  onnx/reference/ops/op_hard_sigmoid.py
Labels: module: reference implementation, topic: bug fix

#7167 Fix hardmax reference implementation
  onnx/reference/ops/op_hardmax.py
Labels: module: reference implementation, topic: bug fix

#6686 Fix Resize operator document
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Labels: module: spec, topic: spec clarification
