Repository onnx/onnx, pull requests merged in 2025-06, with the labels that each got.

#6951 [feat] linux wheels python 3.14-dev
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux.yml
Labels: run release CIs

#7027 Shorten names in create_release/release_linux for better UX in github ui
  .github/workflows/create_release.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x86_64.yml
Labels: run release CIs

#6984 Fix typo regarding Attention scale in the spec
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Labels: module: spec

#7032 Clarify default value for `ratio` input of Dropout operator
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Labels: module: spec, run release CIs, topic: spec clarification

#7028 python 3.14-dev for release_win_aarch64.yml
  .github/workflows/release_win_aarch64.yml
Labels: run release CIs

#7046 use newest python 3.13 version in release_win_aarch64.yml
  .github/workflows/release_win_aarch64.yml
Labels: run release CIs

#7039 Replace requirements-release with requirements-release_build in weekly_modelzoo.yml
  .github/workflows/weekly_modelzoo.yml
  requirements-release.txt
Labels: test ONNX Model Zoo

#7051 clean up unnecessary dependencies in entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Labels: run release CIs

#6771 Fix extra-semi-stmt warnings
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.cc
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/tensor.h
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.h
  onnx/inliner/inliner.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/batch_normalization_13_14.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/gemm_6_7.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/maxpool_8_7.h
  onnx/version_converter/adapters/no_previous_version.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
  onnx/version_converter/helper.cc
Labels: topic: better engineering

#7065 Cleanup onnx_proto CMake code
  CMakeLists.txt
Labels: run release CIs

#7074 Update input and output tensors in pb files to match the model
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_UINT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_UINT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_UINT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_UINT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_UINT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_UINT8/test_data_set_0/output_0.pb
Labels: topic: test
