Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Apply formatting
  docs/TestCoverage.md
  onnx/backend/test/case/node/topk.py
Owners: @onnx/sig-operators-approvers

Fix: skip empty input output names in Extractor
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Style: use list comprehension
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Remove python 3.8 workflows (python 3.8 is eol) (#6434)
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Upgrade to Python 3.9
  onnx/backend/base.py
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/case/model/expand.py
  onnx/backend/test/case/model/stringnormalizer.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/concat.py
  onnx/backend/test/case/test_case.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  onnx/compose.py
  onnx/defs/gen_doc.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/hub.py
  onnx/mapping.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/op_run.py
  onnx/reference/ops/op_pool_common.py
  onnx/serialization.py
  onnx/shape_inference.py
  onnx/subbyte.py
  onnx/test/checker_test.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/schema_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  pyproject.toml
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix unique
  docs/TestCoverage.md
  onnx/backend/test/case/node/unique.py
  onnx/reference/ops/op_unique.py
Owners: @onnx/sig-operators-approvers

remove print
  onnx/reference/ops/op_unique.py
Owners: @onnx/sig-operators-approvers

Apply lintrunner and test shape
  docs/TestCoverage.md
  onnx/backend/test/case/node/unique.py
  onnx/backend/test/runner/__init__.py
  onnx/reference/ops/op_unique.py
Owners: @onnx/sig-operators-approvers

Fix cumsum
  docs/TestCoverage.md
  onnx/backend/test/case/node/cumsum.py
  onnx/reference/ops/op_cum_sum.py
Owners: @onnx/sig-operators-approvers

Appease linter
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Remove outdated case handling in cumsum
  onnx/reference/ops/op_cum_sum.py
Owners: @onnx/sig-operators-approvers

Fix: skip empty input output names in Extractor (#6587)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Upgrade to Python 3.9
  onnx/backend/base.py
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/case/model/expand.py
  onnx/backend/test/case/model/stringnormalizer.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/concat.py
  onnx/backend/test/case/test_case.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  onnx/compose.py
  onnx/defs/gen_doc.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/hub.py
  onnx/mapping.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/op_run.py
  onnx/reference/ops/op_pool_common.py
  onnx/serialization.py
  onnx/shape_inference.py
  onnx/subbyte.py
  onnx/test/checker_test.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/schema_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  pyproject.toml
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Apply lintrunner
  docs/docsgen/source/conf.py
  docs/docsgen/source/onnx_sphinx.py
  onnx/backend/base.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/concat.py
  onnx/backend/test/case/test_case.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/serialization.py
  onnx/test/compose_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  onnx/test/version_converter_test.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Upgrade to Python 3.9 (#6595)
  docs/docsgen/source/conf.py
  docs/docsgen/source/onnx_sphinx.py
  onnx/backend/base.py
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/case/model/expand.py
  onnx/backend/test/case/model/stringnormalizer.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/concat.py
  onnx/backend/test/case/test_case.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  onnx/compose.py
  onnx/defs/gen_doc.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/hub.py
  onnx/mapping.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/op_run.py
  onnx/reference/ops/op_pool_common.py
  onnx/serialization.py
  onnx/shape_inference.py
  onnx/subbyte.py
  onnx/test/checker_test.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/schema_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  onnx/test/version_converter_test.py
  pyproject.toml
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update Operators.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Update Operators.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Update Operators.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Fix lint errors
  onnx/backend/test/case/node/abs.py
  onnx/backend/test/case/node/gru.py
  onnx/backend/test/case/node/lstm.py
  onnx/backend/test/case/node/rnn.py
  onnx/reference/ops/op_non_max_suppression.py
  onnx/shape_inference.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix variable name from 'values' to 'value'
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

Update TestCoverage.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Update Operators.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Update onnx/helper.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/helper.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

add grammatical corrections to documentation
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

add grammatical corrections to documentation (#6599)
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Bump Protobuf to 5.29.2
  .github/workflows/main.yml
  CMakeLists.txt
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

Fix wrong comparison between numpy dtypes to None (#6588)
  onnx/reference/custom_element_types.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Fix reference implementation for CumSum (#6597)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cumsum.py
  onnx/reference/ops/op_cum_sum.py
Owners: @onnx/sig-operators-approvers

Fix for numpy=1
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Apply lintrunner
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Add error message to shape testing
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Fix reference implementation for TopK (#6593)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/topk.py
  onnx/reference/ops/op_topk.py
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix reference implementation for Unique (#6596)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/unique.py
  onnx/backend/test/runner/__init__.py
  onnx/reference/ops/op_unique.py
Owners: @onnx/sig-operators-approvers

Bump Protobuf to 5.29.2 (#6600)
  .github/workflows/main.yml
  CMakeLists.txt
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

Add type ignore comments to attribute assignments
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Use ruff as the code formatter (#6504)
  .lintrunner.toml
  onnx/backend/base.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/report/coverage.py
  onnx/backend/test/stat_coverage.py
  onnx/defs/__init__.py
  onnx/helper.py
  onnx/model_container.py
  onnx/reference/op_run.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
  onnx/reference/ops/op_conv.py
  onnx/reference/ops/op_conv_transpose.py
  onnx/test/inference_function_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_external_data.py
  onnx/version_converter.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

init softmax 13 -> 12 converter
  onnx/version_converter/adapters/softmax_13_12.h
Owners: @onnx/sig-archinfra-approvers

add copyright
  onnx/version_converter/adapters/softmax_13_12.h
Owners: @onnx/sig-archinfra-approvers

append softmax 13 -> 12 converter
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers
