Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

update
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_aarch64.yml
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
  xmake.lua
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  xmake.lua
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_arm64.yml
  toolchains/cross.lua
Owners: @onnx/sig-archinfra-approvers

Use CONFIG to find protobuf (#6840)
  cmake/ONNXConfig.cmake.in
Owners: @onnx/sig-archinfra-approvers

update versions
  docs/Versioning.md
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update versions (#6880)
  docs/Versioning.md
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Link privately to protobuf
  CMakeLists.txt
  cmake/ONNXConfig.cmake.in
Owners: @onnx/sig-archinfra-approvers

Remove outdated comments in clang-tidy config
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Use std::fs::path
  CMakeLists.txt
  onnx/checker.cc
  onnx/common/path.cc
  onnx/common/path.h
  onnx/test/cpp/common_path_test.cc
Owners: @onnx/sig-archinfra-approvers

Add file IO check
  onnx/common/file_utils.h
Owners: @onnx/sig-archinfra-approvers

Remove outdated comments in clang-tidy config (#6882)
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Fix rebase conflict
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

Update to checkout submodules properly
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

Update CIPipelines.md
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Use std::filesystem to simplify code (#6402)
  CMakeLists.txt
  onnx/checker.cc
  onnx/common/file_utils.h
  onnx/common/path.cc
  onnx/common/path.h
  onnx/test/cpp/common_path_test.cc
Owners: @onnx/sig-archinfra-approvers

Update CIPipelines.md (#6885)
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Update to checkout submodules properly (#6884)
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

Clarify the `axes` input of [un]Squeeze
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add support for Free-Threading in Linux Wheel Builds (#6835)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_x86_64.yml
  requirements-release_build.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
