Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix implementations
  onnx/defs/controlflow/old.cc
  onnx/defs/controlflow/utils.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/shape_inference/implementation.cc
  onnx/test/shape_inference_backend_node_test.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Format
  onnx/defs/generator/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Add ONNX_INSTALL option to disable CMake installations (#7653)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

fix wrong cmake version in Update RELEASE-MANAGEMENT.md (#7662)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update working-groups.md
  community/working-groups.md
Owners: @onnx/steering-committee

lstm: also return Y_c
  onnx/reference/ops/op_lstm.py
Owners: @onnx/sig-operators-approvers

also add test case
  onnx/backend/test/case/node/lstm.py
  onnx/backend/test/data/node/test_lstm_with_output_cell_state/model.onnx
  onnx/backend/test/data/node/test_lstm_with_output_cell_state/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lstm_with_output_cell_state/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_lstm_with_output_cell_state/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_lstm_with_output_cell_state/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lstm_with_output_cell_state/test_data_set_0/output_1.pb
Owners: @onnx/sig-operators-approvers

fix pytorch_half_pixel coordinate transform for single-pixel output
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Add CLAUDE.md with project guidelines for Claude Code
  CLAUDE.md
Owners: @onnx/sig-archinfra-approvers
