Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

do not check hasShape(*input_type) here, as scalar input is valid and it will return a default empty TensorShapeProto
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

lint
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

remove always
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

remove test env
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

add dist
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

fix source build
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

Limit numpy version to <2 in tests to pass ci-piplines for 1.16.2 (#6257)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  requirements-min.txt
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

Update broken URLs (#6255)
  docs/Changelog.md
  onnx/defs/tensor/old.cc
  onnx/tools/net_drawer.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Refactor safe extract method to fix issue 6215 (#6222)
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add check on dimensions in Gemm opset 6 (#6217)
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Prepare for rel-1.16.2 branch (#6254)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks (#6164)
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

### Description Set `rel-1.16.2` branch VERSION_NUMBER to 1.16.2rc1
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Set `rel-1.16.2` branch VERSION_NUMBER to 1.16.2rc1 (#6256)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

1.16.2 cherry picks (#6238)
  docs/Changelog.md
  onnx/backend/test/runner/__init__.py
  onnx/common/version.h
  onnx/defs/math/old.cc
  onnx/defs/tensor/old.cc
  onnx/hub.py
  onnx/tools/net_drawer.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Set version number for official 1.16.2 release
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Set version number for official 1.16.2 release (#6265)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

remove upload
  .github/workflows/create_release.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

introduce reusable workflow
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

test win
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.17.0
  docs/Versioning.md
  onnx/common/version.h
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

initial commit
  onnx/_custom_element_types.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/helper.py
  onnx/mapping.py
  onnx/numpy_helper.py
  onnx/onnx.in.proto
  onnx/subbyte.py
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

progress
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/helper.py
  onnx/mapping.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/helper_test.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

progress3
  docs/docsgen/source/technical/float4.md
  docs/docsgen/source/technical/index.md
  onnx/__init__.py
  onnx/checker.cc
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/reference/ops/op_cast_like.py
  onnx/reference/ops/op_constant.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

progress2
  onnx/backend/test/case/node/cast.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/subbyte.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

progress4
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/defs/data_type_utils.cc
  onnx/defs/generator/defs.cc
  onnx/defs/schema.h
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_cast_like.py
  onnx/reference/ops/op_constant.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/subbyte.py
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

cleanup
  docs/Operators.md
  docs/TestCoverage.md
  docs/docsgen/source/technical/float4.md
  onnx/_custom_element_types.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/subbyte.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

remove concurrency from reusable workflows
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
