Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

adapt to numpy req min, Update requirements.txt (#7232)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Fix Range input rank in Attention op function definition (#7240)
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

more documentation
  onnx/onnx2/README.md
  onnx/test/cpp/test_onnx2_helper.cc
Owners: @onnx/sig-archinfra-approvers

add reproducible builds to README.md (#7237)
  README.md
Owners: @onnx/sig-archinfra-approvers

fix release condition (Update create_release.yml) (#7230)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

fix setup
  CMakeLists.txt
  onnx/onnx2/README.md
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/stream.h
  pyproject.toml
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix convInteger reference implementation (#7165)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/convinteger.py
  onnx/backend/test/data/node/test_convinteger_with_padding/model.onnx
  onnx/backend/test/data/node/test_convinteger_with_padding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convinteger_with_padding/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_convinteger_with_padding/test_data_set_0/output_0.pb
  onnx/reference/ops/op_conv_integer.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx.txt
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx.txt
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx.txt
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx.txt
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx.txt
  onnx/inliner/inliner.cc
  onnx/onnx2/README.md
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/helper.py
  onnx/onnx2/io_helper.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
  onnx/test/test_onnx2_models.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/helper.py
  onnx/test/cpp/data/test_ai_onnx_ml_binarizer.onnx
  onnx/test/cpp/data/test_softmax_example_expanded.Constant.onnx
  onnx/test/cpp/data/test_softmax_example_expanded.onnx
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_backend_test.py
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

use PEP 639, upgrade setuptools min version to 77 ( Update pyproject.toml) (#7246)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/__init__.py
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/io_helper.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

lint
  setup.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx
  onnx/inliner/inliner.cc
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  CMakeLists.txt
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

remove file
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx.txt
Owners: @onnx/sig-operators-approvers

fix link issues
  CMakeLists.txt
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
Owners: @onnx/sig-archinfra-approvers

fix last line
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/io_helper.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/README.md
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
Owners: @onnx/sig-archinfra-approvers

link
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

fix wrning
  .github/workflows/lint.yml
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
Owners: @onnx/sig-archinfra-approvers

update gqa
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_attention.py
Owners: @onnx/sig-operators-approvers

update doc
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_attention_3d_gqa/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_attn_mask/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_attn_mask_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_scaled/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_scaled_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_softcap/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_softcap_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_with_past_and_present/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_with_past_and_present_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_attn_mask/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_attn_mask_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_scaled/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_scaled_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_softcap/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_softcap_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_with_past_and_present/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_with_past_and_present_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_with_past_and_present_fp16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_with_past_and_present_fp16_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_convinteger_with_padding/model.onnx
  onnx/backend/test/data/node/test_convinteger_with_padding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convinteger_with_padding/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_convinteger_with_padding/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

fix type
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update cpp2py_export.cc
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

format
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

remove NB_DETAILED_ERROR_MESSAGES
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Update onnx/cpp2py_export.cc
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Update onnx/py_utils.h
  onnx/py_utils.h
Owners: @onnx/sig-archinfra-approvers

Override `__repr__` for some proto classes (#7259)
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

revert
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

init
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

update nanobind
  CMakeLists.txt
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Fix
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

support pairs
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

no return
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Fix reference
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

fix varaibles
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
