Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

array
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

sybbyte
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

float8
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/numpy_helper.py
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/numpy_helper.py
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

dtype
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Ref tests
  onnx/backend/test/case/node/cast.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix sign mask
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Use put mask to handle multi-d masks
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

fix(ci): install python dependencies with `--only-binary :all:` in manylinux (#6120)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

docs
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

fix: install google-re2 with `--only-binary` option
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Specify axis parameter for DequantizeLinear when input rank is 1
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

fix: install google-re2 with `--only-binary` option (#6129)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Specify axis parameter for DequantizeLinear when input rank is 1 (#6095)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

fix(ci): install python dependencies with `--only-binary :all:` in manylinux (#6120)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

fix: install google-re2 with `--only-binary` option (#6129)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Migrate CI to use Github Actions (#6075)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/main.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/external/googletest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

1.16.1 cherry picks (#6108)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/external/googletest.cmake
  cmake/unittest.cmake
  docs/CIPipelines.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e4m3fn/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e5m2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/common/version.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/shape_inference/implementation.cc
  setup.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Set version to 1.16.1rc
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Set 1.16.1 VERSION_NUMBER to 1.16.1rc1 (#6107)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Set version number for official 1.16.1 release
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Set version number for official 1.16.1 release (#6138)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

pin onnxruntime==1.17.3 for rel CIs
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

aarch64 to use ort 1.16.3
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Pin onnxruntime to 1.17.3 for release CIs (#6143)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Pin onnxruntime to 1.17.3 for release CIs (#6143)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Pin onnxruntime to 1.17.3 for release CIs (#6143) (#6148)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix tarball extraction in test_download_model_with_test_data
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

Fix tarball extraction in test_download_model_with_test_data with third party repo models
  onnx/hub.py
  onnx/test/hub_test.py
Owners: @onnx/sig-archinfra-approvers

remove space
  onnx/test/hub_test.py
Owners: @onnx/sig-archinfra-approvers

fix coding styles with lintrunner
  onnx/hub.py
  onnx/test/hub_test.py
Owners: @onnx/sig-archinfra-approvers

Avoid dependency on external files in tests, remove test of downloading model from external repo
  onnx/test/hub_test.py
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball extraction risks in test_download_model_with_test_data
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

return None if target is not exist
  onnx/cpp2py_export.cc
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

Update __init__.py
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Add comment
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Fix bug with int4 tensors where negative values inflate the tensor size to 5x the size of an int8 tensor
  onnx/helper.py
  onnx/reference/op_run.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Edit comment
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Add type ignore comment
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers
