Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Fix Softmax-family shape inference for scalar inputs (#7625)
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Checks a filename is not a symlink (#7628)
  cmake/unittest.cmake
  onnx/checker.cc
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

Improve debugging for pr_checks (#7623)
  .github/workflows/pr_checks.yml
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

Fixes pr checks (#7630)
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

Update unittest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Update clang_tidy_review_post.yml
  .github/workflows/clang_tidy_review_post.yml
Owners: @onnx/sig-archinfra-approvers

Rename pr_checks_comment.yml to pr_checks_post.yml
  .github/workflows/pr_checks_post.yml
Owners: @onnx/sig-archinfra-approvers

Update pr_checks_post.yml
  .github/workflows/pr_checks_post.yml
Owners: @onnx/sig-archinfra-approvers

Update Utils.cmake
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Rename pr_checks_comment.yml to pr_checks_post.yml (#7632)
  .github/workflows/pr_checks_post.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

RFC template
  docs/proposals/0000-template.md
  docs/proposals/0001-ArchiveFileFormatProposal.md
  docs/proposals/0002-NLPinONNXproposal.md
  docs/proposals/0003-ONNXIFIproposal.md
  docs/proposals/0004-FunctionsProposal.md
  docs/proposals/0005-SymbolicShapeInfProposal.md
  docs/proposals/0006-ONNXMultiDeviceProposal.md
  docs/proposals/0007-ShardingFormalism.md
  docs/proposals/README.md
Owners: @onnx/sig-archinfra-approvers

Migrate the quantization proposal from the wiki
  docs/proposals/0008-Quantization.md
Owners: @onnx/sig-archinfra-approvers

Please the linter
  docs/proposals/README.md
Owners: @onnx/sig-archinfra-approvers

Add license headers
  docs/proposals/0000-template.md
  docs/proposals/README.md
Owners: @onnx/sig-archinfra-approvers

Add license headers
  docs/proposals/0008-Quantization.md
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update build_protobuf_win.ps1
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

Update pixi_build.yml
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Update scorecard.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

fix: spacing and random line removal
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

fix: preventing path traversal and adding tests
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

fix: preventing path traversal and adding tests
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

fix: spacing and random line removal
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

fix: removing the ability to traverse paths and adding tests
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Update Utils.cmake
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Fix/merge models value info (#7608)
  onnx/compose.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Update build_protobuf_win.ps1
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Fix wrong use of compile options introduced for hardening (Update Utils.cmake) (#7633)
  .github/workflows/main.yml
  cmake/Utils.cmake
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

Add metadata header to historical proposals
  docs/proposals/0000-template.md
  docs/proposals/0001-ArchiveFileFormatProposal.md
  docs/proposals/0002-NLPinONNXproposal.md
  docs/proposals/0003-ONNXIFIproposal.md
  docs/proposals/0004-FunctionsProposal.md
  docs/proposals/0005-SymbolicShapeInfProposal.md
  docs/proposals/0006-ONNXMultiDeviceProposal.md
  docs/proposals/0007-ShardingFormalism.md
Owners: @onnx/sig-archinfra-approvers

Searchsorted RFC
  docs/proposals/0008-searchsorted.md
Owners: @onnx/sig-archinfra-approvers

Update header and try different formatting
  docs/proposals/0008-searchsorted.md
Owners: @onnx/sig-archinfra-approvers

RFC template for large proposals (#7594)
  docs/proposals/0000-template.md
  docs/proposals/0001-ArchiveFileFormatProposal.md
  docs/proposals/0002-NLPinONNXproposal.md
  docs/proposals/0003-ONNXIFIproposal.md
  docs/proposals/0004-FunctionsProposal.md
  docs/proposals/0005-SymbolicShapeInfProposal.md
  docs/proposals/0006-ONNXMultiDeviceProposal.md
  docs/proposals/0007-ShardingFormalism.md
  docs/proposals/README.md
Owners: @onnx/sig-archinfra-approvers

Add type-only inference API
  docs/docsgen/source/api/shape_inference.md
  onnx/cpp2py_export.cc
  onnx/defs/shape_inference.h
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/shape_inference/implementation.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
