Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Remove custom types
  onnx/_custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

fix: update linting and type checking in cumprod node test cases
  onnx/backend/test/case/node/cumprod.py
Owners: @onnx/sig-operators-approvers

Remove re2 dependency
  onnx/reference/ops/op_regex_full_match.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
  pixi.lock
  pixi.toml
  requirements-reference.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update qdq reference
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

clean up
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_constant.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

Implement from array
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

comment
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

fix: reupdate docs based on new linted test cases
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Add comment in reference implementation
  onnx/reference/ops/op_regex_full_match.py
Owners: @onnx/sig-operators-approvers

format
  onnx/reference/op_run.py
  onnx/reference/ops/_helpers.py
  onnx/reference/reference_evaluator.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update totensor
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

private
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

private
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

data_type
  onnx/numpy_helper.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

Clean up imports
  onnx/_mapping.py
  onnx/defs/__init__.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update
  onnx/_mapping.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Update mapping
  onnx/_mapping.py
  onnx/helper.py
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

update build schemas
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

update to_array
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Fix tests
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

formatting for bitcast files
  onnx/backend/test/case/node/bitcast.py
  onnx/reference/ops/op_bitcast.py
Owners: @onnx/sig-operators-approvers

fix att
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

_saturating_cast
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-operators-approvers

Update float8 cast table
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update old.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Update onnx/defs/tensor/defs.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

todo
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Fix from_list
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

wip
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

f32
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

Improve
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-operators-approvers

Typo
  onnx/reference/ops/op_regex_full_match.py
Owners: @onnx/sig-operators-approvers

Bump protobuf to 6.31.1
  CMakeLists.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Merge onnx_proto target into onnx target
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Link onnx_cpp2py_export with OBJECT library because it used private symbols of ONNX
  CMakeLists.txt
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Simplify code
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Introduce ONNX object libraries
  CMakeLists.txt
  cmake/summary.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Disable protobuf warnings
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers
