Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

fix path sanitization bypass leading to arbitrary read
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Update IR.md
  docs/IR.md
Owners: @onnx/sig-archinfra-approvers

fix Out of bounds read due to lack of string termination in assert
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

fix code style and annotate
  onnx/checker.cc
  onnx/defs/__init__.py
  onnx/defs/schema.h
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

use lstrip to remove any traversing chars
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

remove Path import
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

fix py code style
  onnx/checker.h
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

simplify deregister_schema binding uniformly use `op_type` in OpSchema deregister
  onnx/cpp2py_export.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fix warning: do not implicitly decay an array into a pointer
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

Remove deprecated properties from FormalParameter
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Update parser and test case
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Bug fix
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

Update ir
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers

add case to check schema accessible after deregister and fix bug
  onnx/defs/schema.h
  onnx/test/schema_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix function identifier
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

impl update method
  onnx/cpp2py_export.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

append annotate for unittest case
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

Safe implementation for register
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Remove deprecated properties from FormalParameter (#5921)
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

fix py code style
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

update
  .reuse/dep5
Owners: @onnx/sig-archinfra-approvers

add header
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

Add License/Copyright headers to azure yml files (#5923)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .reuse/dep5
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

buffer_size
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

Update inliner
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
Owners: @onnx/sig-archinfra-approvers

Fix Out of bounds read due to lack of string termination in assert (#5918)
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

Update printer
  onnx/defs/printer.cc
Owners: @onnx/sig-archinfra-approvers

Run lintrunner
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Update docstring
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Add proto support for overloaded functions (#5011)
  docs/IR.md
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/helper.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Add badges to the README
  README.md
Owners: @onnx/sig-archinfra-approvers

+ check_external_data_location and test_save_external_invalid_single_file_data_and_check
  onnx/checker.cc
  onnx/checker.h
  onnx/cpp2py_export.cc
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Update batchnorm doc
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Generate docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Add badges to the README (#5928)
  README.md
Owners: @onnx/sig-archinfra-approvers

Document UINT4, INT4 storage type
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers
