Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

turn off some tests for 3.13t, 3.14-dev (#7162)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add node determinism attribute to operator schemas
  onnx/cpp2py_export.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

[Docs] Add tip blocks referencing ir-py project for Python APIs (#7109)
  docs/docsgen/source/api/index.md
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Padding simplification; version converter
  onnx/defs/nn/defs.cc
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update codes as reviewed
  onnx/defs/__init__.py
  onnx/defs/schema.cc
  onnx/test/schema_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix lint
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Fix enum values
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix lint
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

ENFORCE node determinism in context dependent functions
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Fix test failures
  onnx/defs/nn/old.cc
  onnx/test/cpp/function_context_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix for lint
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

[Reference] Fix constant of shape when input value is 0d
  onnx/reference/ops/op_constant_of_shape.py
Owners: @onnx/sig-operators-approvers

Use .flat[0] to preserve dtype
  onnx/reference/ops/op_constant_of_shape.py
Owners: @onnx/sig-operators-approvers

Fix lint error; simplify attn_mask description
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

more lint
  onnx/defs/nn/defs.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

change spacing between code and comment; update attn_mask description
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Resolve test error, apply linting and generate docs
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  docs/docsgen/source/technical/int2.md
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/defs/generator/defs.cc
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Mark operators with subgraphs as non-deterministic
  onnx/defs/schema.cc
  onnx/test/schema_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add checks
  onnx/reference/ops/op_constant_of_shape.py
  onnx/reference/ops/op_if.py
Owners: @onnx/sig-operators-approvers

msg
  onnx/reference/ops/op_constant_of_shape.py
  onnx/reference/ops/op_if.py
Owners: @onnx/sig-operators-approvers

error msg
  onnx/reference/ops/op_constant_of_shape.py
Owners: @onnx/sig-operators-approvers

[Reference] Fix constant of shape when input value is 0d (#7177)
  onnx/reference/ops/op_constant_of_shape.py
  onnx/reference/ops/op_if.py
Owners: @onnx/sig-operators-approvers

add missing symbols for onnx-mlir
  docs/TestCoverage.md
  onnx/common/status.h
  onnx/defs/attr_proto_util.h
  onnx/defs/function.h
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

revert TestCoverage.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

fix build issues
  onnx/common/status.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Make stale bot ignore "contributions welcome" issues
  .github/workflows/stale.yml
Owners: @onnx/sig-archinfra-approvers

review updates
  onnx/common/status.h
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Make stale bot ignore "contributions welcome" issues (#7180)
  .github/workflows/stale.yml
Owners: @onnx/sig-archinfra-approvers

fix formatting
  onnx/common/status.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove the ONNX_API macro from the schema.cc and add comment for introducing the ONNX_API for private methods for backwards compatibility
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

fix formating
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix Resize operator document (#6686)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

update schema and function headers to add visibility via the ONNX_API
  onnx/defs/function.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Add missing symbols for onnx-mlir (#7179)
  onnx/common/status.h
  onnx/defs/attr_proto_util.h
  onnx/defs/function.h
  onnx/defs/parser.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update versions for release
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fix typo
  docs/Versioning.md
Owners: @onnx/sig-archinfra-approvers

update versions for 1.19 release (#7182)
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update to 1.19.0rc1
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update readme.md
  community/readme.md
Owners: @onnx/steering-committee

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
