Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

add missing 24.04 checks
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

fix
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

fix wrong runner
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Not all release runs have to be successul for publishing weekly to testpypi (#6372)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

CI: Restoring the possibility to initiate a run via labels (#6371)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix wrong publishing target (onnx instead of onnx-weekly)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix wrong publishing target (onnx instead of onnx-weekly) (#6375)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Trigger: when label is added to PR
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Trigger release pipeline when label "run release..." was added to PR (#6376)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Create a workflow to suggest lintrunner fixes
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Update lint.yml
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

try this
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Update lint.yml
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Update lint.yml
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Update lint.yml
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Try reviews
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Fix static analyzer warnings
  .clang-tidy
  onnx/checker.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/model_helpers.cc
  onnx/common/status.cc
  onnx/common/status.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.h
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/convert.cc
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use CMake python module
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings (#6378)
  .clang-tidy
  onnx/checker.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/model_helpers.cc
  onnx/common/status.cc
  onnx/common/status.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.h
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/convert.cc
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use CMake python module (#6381)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Re-enable w4251 on Windows and disable w4146
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Re-enable w4996 on Windows
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

improve ci workflow
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

new dirs
  onnx/backend/test/data/node/test_clip_min_greater_than_max/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

format
  onnx/backend/test/case/node/clip.py
Owners: @onnx/sig-operators-approvers

format
  onnx/backend/test/case/node/clip.py
Owners: @onnx/sig-operators-approvers

format
  onnx/backend/test/case/node/clip.py
Owners: @onnx/sig-operators-approvers

format update
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/clip.py
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_grayscale/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_grayscale/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg_grayscale/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Fix CMake errors on Windows
  CMakeLists.txt
  cmake/summary.cmake
  setup.py
Owners: @onnx/sig-archinfra-approvers

Revert to old Python finding logic and improve the detection of Python executable
  CMakeLists.txt
  cmake/summary.cmake
  setup.py
Owners: @onnx/sig-archinfra-approvers

Revert Python finding logic and some CMake fixes for Windows (#6382)
  CMakeLists.txt
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

Enable more warnings
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Simplify Werror
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Return non-constant std::verctor to avoid interfere with move semantics
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_proto_util.h
  onnx/defs/tensor_util.cc
  onnx/defs/tensor_util.h
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
