Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Remove BUILD_ONNX_PYTHON (#6987)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add markdown file and diagram for in-place KV cache (#7205)
  REUSE.toml
  docs/docsgen/source/technical/InPlaceKVCache.png
  docs/docsgen/source/technical/kv_cache.md
Owners: @onnx/sig-archinfra-approvers

Build with pybind11 3.0 (#7209)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

FP6 support: fix parser int32_data for FLOAT8E8M0/BOOL/FLOAT4E2M1; unify int32_data encoding cases in ir_pb_converter; ensure IR_VERSION alias unique (IR_VERSION=0xD).
  onnx/common/ir_pb_converter.cc
  onnx/defs/parser.cc
  onnx/onnx.proto
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/reference_evaluator_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Remove deprecated methods (#7214)
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

remove python 3.9
  .github/workflows/main.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add assertion to debug invalid free
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Update pyproject.toml
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

remove python 3.9 wheel build (#7217)
  .github/workflows/main.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update pyruff to 3.10 and related fixes
  onnx/__init__.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/runner/item.py
  onnx/external_data_helper.py
  onnx/helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/op_resize.py
  onnx/serialization.py
  onnx/test/compose_test.py
  onnx/test/test_backend_reference.py
  onnx/tools/net_drawer.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add TODO to B905
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update required Python version to 3.10 and related fixes (#7220)
  onnx/__init__.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/runner/item.py
  onnx/external_data_helper.py
  onnx/helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/op_resize.py
  onnx/serialization.py
  onnx/test/compose_test.py
  onnx/test/test_backend_reference.py
  onnx/tools/net_drawer.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove conditional code for Python 3.9 in CI
  .github/install_test.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_mac.yml
  .github/workflows/win_no_exception_ci.yml
  requirements-min.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Remove conditional code for Python 3.9 in CI and requirements*txt (#7221)
  .github/install_test.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_mac.yml
  .github/workflows/win_no_exception_ci.yml
  requirements-min.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Fix NaN values in float8 quantization by handling them in saturate_cast
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Revert "Use [[maybe_unused]] (#6988)"
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Revert "Use [[maybe_unused]] (#6988)" (#7225)
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Revert "Use [[maybe_unused]] (#6988)"
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

[1.19] Revert "Use [[maybe_unused]] (#6988)" (#7227)
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

fix unreachable code
  onnx/defs/function.h
Owners: @onnx/sig-operators-approvers

Fix unreachable code (#7228)
  onnx/defs/function.h
Owners: @onnx/sig-operators-approvers

fix
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix unreachable code
  onnx/defs/function.h
Owners: @onnx/sig-operators-approvers

[1.19] Fix unreachable code (#7229)
  onnx/defs/function.h
Owners: @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7216)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

fix release condition,- Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

fix release condition (Update create_release.yml) (#7230)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Unify minimum numpy version for py <=3.12
  requirements-min.txt
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

adapt to numpy req min, Update requirements.txt
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

adapt to numpy req min, Update requirements.txt (#7232)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Update version to 1.19.0rc2
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update version number to 1.19.0rc2 (#7236)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

add reproducible builds to README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

clean up test_backend_reference.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

clean up test_backend_test.py
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers
