Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Use find_package for protobuf LESS_EQUAL 6.31.1 (#7295)
  .github/workflows/pixi_build.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix causal mask in reference implementation of Attention
  docs/Changelog-ml.md
  docs/Operators-ml.md
  onnx/backend/test/data/node/test_attention_3d_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_attn_mask_3d_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_attn_mask_3d_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_attn_mask_4d_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_attn_mask_4d_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal/test_data_set_0/output_3.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal_expanded/test_data_set_0/output_3.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal/test_data_set_0/output_3.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal_expanded/test_data_set_0/output_3.pb
  onnx/reference/ops/op_attention.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

docs
  docs/Changelog-ml.md
  docs/Operators-ml.md
Owners: @onnx/sig-operators-approvers

fix attention refimpl
  onnx/backend/test/data/node/test_attention_3d_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_3d_gqa_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_causal/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_attention_4d_gqa_causal_expanded/test_data_set_0/output_0.pb
  onnx/reference/ops/op_attention.py
Owners: @onnx/sig-operators-approvers

fix import
  onnx/reference/ops/op_attention.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

simplifies
  onnx/reference/ops/op_attention.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update onnx/defs/nn/utils.cc
  onnx/defs/nn/utils.cc
Owners: @onnx/sig-operators-approvers

Update onnx/defs/nn/utils.cc
  onnx/defs/nn/utils.cc
Owners: @onnx/sig-operators-approvers

Update onnx/defs/nn/defs.cc
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

lint
  onnx/defs/nn/utils.cc
Owners: @onnx/sig-operators-approvers

fix one model
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/attention.py
  onnx/backend/test/data/node/test_attention_4d_scaled/model.onnx
  onnx/backend/test/data/node/test_attention_4d_scaled_expanded/model.onnx
Owners: @onnx/sig-operators-approvers

fix duplicated output
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Last fix to attention backend test
  onnx/backend/test/data/node/test_attention_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_3d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_attn_mask_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_attn_mask_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal_expanded/model.onnx
  onnx/defs/nn/utils.cc
Owners: @onnx/sig-operators-approvers

Last fix to attention backend test, fix dimension of Range input (#7300)
  onnx/backend/test/data/node/test_attention_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_3d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_attn_mask_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_attn_mask_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal_expanded/model.onnx
  onnx/defs/nn/utils.cc
Owners: @onnx/sig-operators-approvers

Fix: ValueCase enum in ClearShapeFromTypeProto; replace pybind11 UDLs with py::arg in shape_inference bindings
  onnx/cpp2py_export.cc
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

Enable ASAN on MacOS
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Create python-publish.yml
  .github/workflows/python-publish.yml
Owners: @onnx/sig-archinfra-approvers

valueerror
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

add parenthesis
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

Update rotary_embedding reference implementation and tests (#7304)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

fix improper generation mistake
  docs/Changelog-ml.md
  docs/Changelog.md
  docs/Operators-ml.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Align LpPool ceil-mode docs and tests
  docs/Changelog-ml.md
  docs/Operators-ml.md
  docs/Operators.md
  onnx/backend/test/case/node/lppool.py
  onnx/defs/nn/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Avoid unnecessary re-generating of proto files (#7253)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Require ml_dtypes>=0.5.0 (#7254)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Avoid unnecessary re-generating of proto files (#7253) (#7306)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix helper_test.py::test_make_tensor_raw on s390x
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Fix test_external_data.py:TestExternalDataToArray::create_test_model() on s390x
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Fix passing numpy arrays to helper.py::make_tensor(raw=True)
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Adjust remaining tests which are using tobytes().
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/test/checker_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
  onnx/test/version_converter_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Prevent undefined cast (float to uint) in helper_test.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Fix byteswapping in numpy_helper.py::from_array() on s390x
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Require ml_dtypes>=0.5.0 (#7254) (#7307)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Introduce common function numpy_helper.py::tobytes_little_endian()
  onnx/helper.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/test/checker_test.py
  onnx/test/helper_test.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Fix: RUFF-FORMAT quote style in version_converter.py
  onnx/version_converter.py
Owners: @onnx/sig-archinfra-approvers

Fix OneHotEncoder segfault due to missing input shape validation (#7302)
  onnx/defs/traditionalml/defs.cc
Owners: @onnx/sig-operators-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
