Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Enable ASAN on MacOS
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

ml_dtypes>=0.5.0 Update requirements-dev.txt
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update pixi.{toml,lock} and create issues if CI fails (#7280)
  .github/workflows/pixi_build.yml
  pixi.lock
  pixi.toml
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update requirements-release_test.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Update requirements-dev.txt
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

add abi3audit to release_linux.yml (#7288)
  .github/workflows/release_linux.yml
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

add abi3 to README.md (#7289)
  README.md
Owners: @onnx/sig-archinfra-approvers

Remove ml_dtypes from requirements-dev.txt (#7290)
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Enable ASAN on MacOS
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

CMake fixes
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

CMake fixes (#7291)
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Fix typos
  RELEASE-MANAGEMENT.md
  docs/Changelog-ml.md
  docs/Operators-ml.md
  onnx/common/ir.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/rnn/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/traditionalml/defs.cc
  onnx/test/cpp/utf8_conversion_test.cc
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_reference.py
  onnx/test/test_external_data.py
  onnx/version_converter/adapters/upsample_9_8.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update onnx/test/test_backend_reference.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Revert changes
  onnx/defs/rnn/old.cc
Owners: @onnx/sig-operators-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_aarch64.yml
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Fix typos (#7292)
  RELEASE-MANAGEMENT.md
  docs/Changelog-ml.md
  docs/Operators-ml.md
  onnx/common/ir.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/traditionalml/defs.cc
  onnx/test/cpp/utf8_conversion_test.cc
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_reference.py
  onnx/test/test_external_data.py
  onnx/version_converter/adapters/upsample_9_8.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

improve abi3audit checks in release_*.yml (#7293)
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Use find_package for protobuf LESS_EQUAL 6.31.1
  .github/workflows/pixi_build.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
