Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Refactor safe extract method to fix issue 6215 (#6222)
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

typo: Update OnnxReleases.md (#6231)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

move examples dir (https://github.com/onnx/onnx/issues/6087) (#6230)
  REUSE.toml
  examples/Protobufs.ipynb
  examples/check_model.ipynb
  examples/load_model.ipynb
  examples/make_model.ipynb
  examples/np_array_tensorproto.ipynb
  examples/resources/single_relu.onnx
  examples/resources/single_relu_new.onnx
  examples/resources/tensor.pb
  examples/resources/two_transposes.onnx
  examples/save_model.ipynb
  examples/shape_inference.ipynb
Owners: @onnx/sig-archinfra-approvers

docs(api): add the missing api docs
  docs/docsgen/source/api/external_data_helper.md
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/hub.md
  docs/docsgen/source/api/numpy_helper.md
  docs/docsgen/source/api/parser.md
  docs/docsgen/source/api/reference.md
  docs/docsgen/source/api/shape_inference.md
Owners: @onnx/sig-archinfra-approvers

docs(api): fix the mistake modification in numpy_helper.md
  docs/docsgen/source/api/numpy_helper.md
Owners: @onnx/sig-archinfra-approvers

docs(api): fix the mistake modification in helper.md
  docs/docsgen/source/api/helper.md
Owners: @onnx/sig-archinfra-approvers

Add the missing python api docs (#6237)
  docs/docsgen/source/api/external_data_helper.md
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/hub.md
  docs/docsgen/source/api/numpy_helper.md
  docs/docsgen/source/api/parser.md
  docs/docsgen/source/api/reference.md
  docs/docsgen/source/api/shape_inference.md
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks (#6164)
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

Refactor safe extract method to fix issue 6215 (#6222)
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Page alignment support
  onnx/__init__.py
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

limit numpy version to below 2
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Use MACOSX_DEPLOYMENT_TARGET=12.0 for macOS wheels
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Use MACOSX_DEPLOYMENT_TARGET=12.0 for macOS wheels (#6242)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update pipeline
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

remove separete date step
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update sigstore github action
  .github/workflows/create_release.yml
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

update
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Use utility function to check rank
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Alignment on Windows needs to align with VirtualAlloc memory allocation granularity which is 64kb
  onnx/__init__.py
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

ExternalData - On Windows document proper offset for memory mapping support
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

ExternalData - On Windows document proper offset for memory mapping support (#6247)
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

Handle the optional input in infer_node_outputs
  onnx/shape_inference.py
  onnx/test/inference_function_test.py
Owners: @onnx/sig-archinfra-approvers

update
  requirements-dev.txt
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks (#6164)
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

below 2
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

limit numpy to < version 2
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

change to specific version
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

increase min numpy
  requirements-dev.txt
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64.yml
  requirements-dev.txt
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Refactor safe extract method to fix issue 6215 (#6222)
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
