Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Clarify minimum Protobuf version in INSTALL.md (#6760)
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Improve condition in create_release.yml (#6765)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update requirements-dev_freethreading_win.txt
  requirements-dev_freethreading_win.txt
Owners: @onnx/sig-archinfra-approvers

Update release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Remove separate onnx-directory in release_win.yml (#6766)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

modify logic
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

nit fixes
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

Fix mypy warnings
  onnx/helper.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/reference/ops/op_string_split.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Refine type of attribute to avoid assertion
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

update
  requirements-release_freethreading_win.txt
Owners: @onnx/sig-archinfra-approvers

adapt req files
  .github/workflows/release_win_freethreading.yml
  requirements-release_freethreading_win.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix dependency
  .github/workflows/release_mac_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Fix names of jobs
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Use CMAKE_COMPILER_IS_GNUCXX for g++
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Refine type of attribute
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Use flake8-type-checking
  onnx/helper.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Update onnx/helper.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Improve code
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Use TYPE_CHECKING in more code
  onnx/checker.py
  onnx/compose.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/serialization.py
  onnx/shape_inference.py
  onnx/subbyte.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Disable TC temporarily
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

start introducing source_date_epoch in entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

chore(config): set persist credentials to false (#6774)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Use CMAKE_COMPILER_IS_GNUCXX for g++ (#6770)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

add timestamp handling
  setup.py
Owners: @onnx/sig-archinfra-approvers

fix: names of jobs in create_release.yml (#6769)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Refine type of attribute to avoid assertion
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Fix mypy warnings
  onnx/helper.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/reference/ops/op_string_split.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Disable TC temporarily
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Improve code
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

More fixes
  onnx/numpy_helper.py
  onnx/subbyte.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers
