Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

actions/upload-artifact to 4.3.3
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

### Description Prepare for rel-1.16.1 branch
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

fix a skipped shape infer code (#6049)
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

Prevent crash on import after GCC 8 builds (#6048)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add missing shape inference check for DequantizeLinear (#6080)
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

Prepare for rel-1.16.1 branch (#6106)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.1 branch (#6106)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

chore(ci): build macos wheels on macos arm64
  .github/workflows/release_mac.yml
  docs/CIPipelines.md
  setup.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

use MACOSX_DEPLOYMENT_TARGET=11.0
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Apply suggestions from code review
  docs/CIPipelines.md
  setup.py
Owners: @onnx/sig-archinfra-approvers

chore(ci): build and test macOS universal2 wheels on macOS arm64 (#6117)
  .github/workflows/release_mac.yml
  docs/CIPipelines.md
  setup.py
Owners: @onnx/sig-archinfra-approvers

fix(ci): install python dependencies with `--only-binary :all:` in manylinux
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Corrected the ReduceSumSqure op to match the reference
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

chore(ci): build and test macOS universal2 wheels on macOS arm64 (#6117)
  .github/workflows/release_mac.yml
  docs/CIPipelines.md
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix input names for quantize/dequantize onnx backend tests
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
Owners: @onnx/sig-operators-approvers

Regenerate test data
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e4m3fn/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e5m2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint4/test_data_set_0/input_2.pb
Owners: @onnx/sig-operators-approvers

Regenerate docs
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

regenerate stat coverage
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Fix input names for quantize/dequantize ONNX backend tests (#6122)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e4m3fn/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e5m2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint4/test_data_set_0/input_2.pb
Owners: @onnx/sig-operators-approvers

Corrected the ReduceSumSqure op to match the reference (#6121)
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Revert "Corrected the ReduceSumSqure op to match the reference (#6121)"
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Revert "Corrected the ReduceSumSqure op to match the reference" (#6125)
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix input names for quantize/dequantize ONNX backend tests (#6122)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e4m3fn/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e5m2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint4/test_data_set_0/input_2.pb
Owners: @onnx/sig-operators-approvers

verify model deletion after testing
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

lint fix
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

Update test_model_zoo.py
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

Verify model deletion after testing (#6127)
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

upgrade comments
  .github/workflows/dco_merge_group.yml
  .github/workflows/main.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  CONTRIBUTING.md
  README.md
  RELEASE-MANAGEMENT.md
  SECURITY.md
Owners: @onnx/sig-archinfra-approvers

Add/Format License/Copyright headers (#6128)
  .github/workflows/dco_merge_group.yml
  .github/workflows/main.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  CONTRIBUTING.md
  README.md
  RELEASE-MANAGEMENT.md
  SECURITY.md
Owners: @onnx/sig-archinfra-approvers

Fix numpy_helper to_array when tensor is complex
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Update numpy_helper.py
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

int4
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

float8e4m3_to_float32
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

test_float8_e5m2fnuz_out_of_range
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

WIP float8e4m3_to_float32
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

More
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

float8e5m2_to_float32
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Update reference
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

Fix
  onnx/numpy_helper.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers
