Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Simplify Protobuf options in CMake and linker options
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add new options
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Enhance Build Process and CI Configuration (combine pipelines) (#6926)
  .github/workflows/create_release.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x64_freethreading.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Improve pybind error messages by defining PYBIND11_DETAILED_ERROR_MESSAGES
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Define PYBIND11_DETAILED_ERROR_MESSAGES
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Add types
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update VERSION_NUMBER to 1.18.0rc2 (#6921)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Extend test case
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Support set schema inference function in python (#5940)
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Extend python interface to inliner
  onnx/cpp2py_export.cc
  onnx/inliner.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Add python unit test
  onnx/test/inliner_test.py
Owners: @onnx/sig-archinfra-approvers

Simplify CMake code (#6927)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Define PYBIND11_DETAILED_ERROR_MESSAGES (#6929)
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Improve model Extractor (#6920)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update CMake to 3.24 and use LINK_LIBRARY:WHOLE_ARCHIVE
  CMakeLists.txt
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

add tests
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization.py
Owners: @onnx/sig-operators-approvers

Add skiplayernorm and skiprmsnorm ops
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint fixes/dco
  onnx/defs/operator_sets.h
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
Owners: @onnx/sig-operators-approvers

fix shape_inference_test format to skip norm ops
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Use requirements-release_build in entrypoint.sh (#6945)
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update release_sdist.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

source_date_epoch in CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Replace requirements-release.txt with requirements-release_build.txt (#6946)
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md (add remove of rc packages at test.pypi) (#6948)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update and rename Install_test.yml to install_test.yml
  .github/install_test.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers
