Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

remove unused variable
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Add Swish operator
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/swish.py
  onnx/backend/test/data/node/test_acos/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asin/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atanh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_sinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tan/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update error messages for NegativeLogLikelihoodLoss inference function (#6021)
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Generalize input/output number check in shape inference (#6005)
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

address comments
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

fix ellipsis broadcast error and add one test for it
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

support for lower and upper case
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Replace rank inference with shape inference for Einsum op (#6010)
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Enable additional ruff rules
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Format
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/deformconv.py
  onnx/backend/test/report/coverage.py
  onnx/helper.py
  onnx/hub.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Set version number for official release
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Set version number for official release (#6033)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Enable additional ruff rules
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Format
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/deformconv.py
  onnx/backend/test/report/coverage.py
  onnx/helper.py
  onnx/hub.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

build from source instruction with latest cmake change
  README.md
Owners: @onnx/sig-archinfra-approvers

set CMAKE_PREFIX_PATH=<protobuf_install_dir>;C:\Anaconda3\envs\onnx\Library
  README.md
Owners: @onnx/sig-archinfra-approvers

build from source instruction with latest cmake change (#6038)
  README.md
Owners: @onnx/sig-archinfra-approvers

Fix: 1 typo
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Add more partner projects to be notified about new releases
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Add more partner projects to be notified about new releases (#6042)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update release process documentation
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Address review comments
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Handle `OneHot`'s `depth` value during shape inference (#5963)
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Not to use python cmake on Windows
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Not to install cmake in pyproject.toml on Windows (#6045)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Update release process documentation (#6043)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Prevent crash on import after GCC 8 builds
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

fix a skipped shape infer code
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

Include the ".onnxtext" extension in supported serialization format
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

Update __init__.py
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

Allow ReferenceEvaluator to return intermediate results
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

fix a skipped shape infer code (#6049)
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

Add shape inference test for custom op
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

fix mypy
  onnx/test/model_container_refeval_test.py
  onnx/test/tools_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/tools_test.py
Owners: @onnx/sig-archinfra-approvers

Include the ".onnxtext" extension in supported serialization format (#6051)
  onnx/__init__.py
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

Allow ReferenceEvaluator to return intermediate results (#6066)
  onnx/reference/reference_evaluator.py
  onnx/test/model_container_refeval_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/tools_test.py
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix 1 typo in numpy_helper.py (#6041)
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Fix lint
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers
