Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

add ref_impl
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/op_run.py
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

simplify reshape logic
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Replace with scatterND
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

remove where for rotary dim
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  tools/update_doc.sh
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add if/else for interleaving
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

fix lint iisues
  onnx/reference/ops/op_rotary_embedding.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix some test failures
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update requirements-dev_freethreading.txt
  requirements-dev_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

lint fix
  docs/Operators.md
  docs/TestCoverage.md
  tools/update_doc.sh
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

python313t builds in main_freethreading.yml (#6706)
  .github/workflows/main_freethreading.yml
  requirements-dev_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

Improve CMake summary (#6704)
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Use optional and update proto names
  onnx/onnx.in.proto
Owners: @onnx/sig-archinfra-approvers

Export new protofields in python, update names to be a string field
  onnx/__init__.py
  onnx/onnx.in.proto
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_sdist.yml
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Add version converter softmax 13 -> 12 (#6608)
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/softmax_13_12.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

Improve names, add debug variables (#6714)
  .github/workflows/create_release.yml
  .github/workflows/release_sdist.yml
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix condition at download step for publishing manuel preview build (#6715)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix mismatched parenthesis in ci (#6716)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Format rotary embedding documentation
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix missing period in type constraint description
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update auto_update_doc.yml
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

Update auto_update_doc.yml
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Format rotary embedding documentation (#6717)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix condition in CI
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix condition in CI for sdist download (#6719)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Add protobuf local build option
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update pyproject.toml
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
