Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Set version in rel-1.17.0 to 1.17.0rc1
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

prevent running on forks
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

adapt condition
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Bump ai.onnx opset to 23 (#6316)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

adapt conditions
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

limit to main branch
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Combine different release pipelines by the use of reusable workflows (#6277)
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Set version in rel-1.17.0 to 1.17.0rc1 (#6317)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

fix lint
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

add to exclusion list
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update scorecard.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Bump actions/upload-artifact from 3 to 4 (#6319)
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml (upgrade github actions)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add release workflow
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Add the missing python api docs (#6237)
  docs/docsgen/source/api/external_data_helper.md
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/hub.md
  docs/docsgen/source/api/numpy_helper.md
  docs/docsgen/source/api/parser.md
  docs/docsgen/source/api/reference.md
  docs/docsgen/source/api/shape_inference.md
Owners: @onnx/sig-archinfra-approvers

Use MACOSX_DEPLOYMENT_TARGET=12.0 for macOS wheels (#6242)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Refactor safe extract method to fix issue 6215 (#6222)
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

move examples dir (https://github.com/onnx/onnx/issues/6087) (#6230)
  REUSE.toml
  examples/Protobufs.ipynb
  examples/check_model.ipynb
  examples/load_model.ipynb
  examples/make_model.ipynb
  examples/np_array_tensorproto.ipynb
  examples/resources/single_relu.onnx
  examples/resources/single_relu_new.onnx
  examples/resources/tensor.pb
  examples/resources/two_transposes.onnx
  examples/save_model.ipynb
  examples/shape_inference.ipynb
Owners: @onnx/sig-archinfra-approvers

typo: Update OnnxReleases.md (#6231)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Handle functions in external data helper (#6233)
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

remove separete date step
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update pipeline
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

fix source build
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update sigstore github action
  .github/workflows/create_release.yml
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

ExternalData - On Windows document proper offset for memory mapping support (#6247)
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

reduce signing
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

add dist
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

remove always
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add check on dimensions in Gemm opset 6 (#6217)
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Update docs/ArtifactAuthenticity.md
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
