Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix build error
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Refactor inliner part 1
  onnx/defs/schema.h
  onnx/inliner/inliner.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Export symbols used by Pytorch
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Export symbols used by PyTorch (#6915)
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix test
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Remove deprecated mapping constants
  onnx/helper.py
  onnx/mapping.py
Owners: @onnx/sig-archinfra-approvers

Remove docs
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/mapping.md
Owners: @onnx/sig-archinfra-approvers

Rename mapping
  onnx/__init__.py
  onnx/_mapping.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/_mapping.py
  onnx/_mapping.py
Owners: @onnx/sig-archinfra-approvers

Update
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Export more symbols used by Pytorch
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers

Remove deprecated mapping constants (#6914)
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/mapping.md
  onnx/__init__.py
  onnx/_mapping.py
  onnx/helper.py
  onnx/mapping.py
Owners: @onnx/sig-archinfra-approvers

Export more symbols used by PyTorch (#6916)
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers

Export symbols used by PyTorch
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use Python3::Interpreter instead of Python3_EXECUTABLE
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Improve Extractor
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/utils.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add wheel build for windows arm64 (#6912)
  .github/workflows/create_release.yml
  .github/workflows/release_win_arm64.yml
  requirements-release_build.txt
Owners: @onnx/sig-archinfra-approvers

Use Python3::Interpreter instead of Python3_EXECUTABLE (#6918)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Export symbols used by PyTorch (#6917)
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

First version of inliner for schema defined functions
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Update VERSION_NUMBER
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Use Python3::Interpreter instead of Python3_EXECUTABLE
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Pick CMake changes (#6922)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Make the checker to report deprecated ops as warnings
  onnx/checker.cc
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

test
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/checker_test.py
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Update SDF inliner
  onnx/inliner/inliner.cc
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

rename
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_x64_freethreading.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_win_x64_freethreading.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Simplify C++17 judgement in CMake
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers
