Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update additional_tests.yml
  .github/workflows/additional_tests.yml
Owners: @onnx/sig-archinfra-approvers

[2/N]Remove ignore_type suppression (#6798)
  onnx/backend/test/report/__init__.py
  onnx/backend/test/report/coverage.py
  onnx/numpy_helper.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update additional_tests.yml
  .github/workflows/additional_tests.yml
Owners: @onnx/sig-archinfra-approvers

Rename .github/workflows/additional_tests.yml to .github/Install_test.yml
  .github/Install_test.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Remove duplicates in test (#6791)
  .github/Install_test.yml
Owners: @onnx/sig-archinfra-approvers

Bump protobuf to 6.30.0
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update workflows
  .github/workflows/main.yml
  .github/workflows/main_freethreading.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Remove wrong usage of "always" in aarch64 release pipeline... (#6806)
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update auto_update_doc.yml
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

Update INSTALL.md
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Update auto_update_doc.yml
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

fix condition in pipeline
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update requirements.txt
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

fix condition in pipeline (#6810)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Use add_whole_archive_flag
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Bump minimum numpy to 1.22 (#6812)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

add if/else for rotary embedding 3d/4d inputs
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update Operators.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

add renovate
  REUSE.toml
  renovate.json
Owners: @onnx/sig-archinfra-approvers

fix doc in onnx\defs\tensor\defs.cc too
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

start release pipeline
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix build warnings
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Create renovate.json
  .github/renovate.json
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

improve if condition
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

reorder reshape
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Improve condition in rotary embedding to control 3D/4D inputs/outputs (#6815)
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

fix in other places
  docs/Changelog.md
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix MSVC warnings (#6820)
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Update onnx/backend/test/case/node/castlike.py
  onnx/backend/test/case/node/castlike.py
Owners: @onnx/sig-operators-approvers

Fix pylint warnings (#6778)
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/stat_coverage.py
  onnx/reference/ops/op_split_to_sequence.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
