Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

ruff
  .github/workflows/release_sdist.yml
  .github/workflows/release_test_weekly_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Downgrade release protobuf
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Fix protobuf version unmatch (#6498)
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Downgrade release protobuf
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

Upload the srcdist to pypi as a separate step (#6488)
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_test_weekly_sdist.yml
  .github/workflows/release_win.yml
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Bugfix fix file name in create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Another attempt to fix protobuf version problem (#6508)
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

Bugfix fix file name in create_release.yml (#6510)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Don't limit g++
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Suppress g++ error
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Don't update g++
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Generate test data for numpy<2
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Limit to onnxruntime <1.20 for docs build
  docs/docsgen/source/requirements.txt
Owners: @onnx/sig-archinfra-approvers

remove Large
  docs/docsgen/source/api/model_container.md
Owners: @onnx/sig-archinfra-approvers

continue on error false
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Fix pipeline, limit to onnxruntime <1.20 for docs build (#6524)
  .github/workflows/main.yml
  docs/docsgen/source/api/model_container.md
  docs/docsgen/source/requirements.txt
Owners: @onnx/sig-archinfra-approvers

Fix g++-13 build errors (#6509)
  .github/workflows/main.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

fix yaml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

hack for ubuntu 3.13
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add LANGUAGE to CMake project
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update calender link
  community/sigs.md
Owners: @onnx/steering-committee

Migration to FindPython3.cmake
  .github/workflows/clang_tidy_review.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/win_no_exception_ci.yml
  CMakeLists.txt
  cmake/ONNXConfigVersion.cmake.in
  cmake/Utils.cmake
  cmake/summary.cmake
  pyproject.toml
  setup.py
  tools/protoc-gen-mypy.sh.in
Owners: @onnx/sig-archinfra-approvers

Update page deployment CI to test building pages in PRs
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

Apply suggestions from code review
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

Move to using protogen's .pyi file generator (#6462)
  .gitignore
  CMakeLists.txt
  onnx/helper.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers

Add LANGUAGE to CMake project (#6527)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Fix reference implementation for ConcatFromSequence (#6369)
  onnx/reference/ops/op_concat_from_sequence.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add publishing of devbuild to testpypi
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Add publishing of devbuild to testpypi (#6535)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update page deployment CI to test building pages in PRs (#6530)
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

Use localy build protobuf in doc pages
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

Start possibility to trigger dev builds manually
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

transfer currtime to subjobs
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Use localy build protobuf in doc pages (#6539)
  .github/workflows/pages.yml
Owners: @onnx/sig-archinfra-approvers

use input parameter
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

fix release x86
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

add branch temporaliy
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

tmp add branch to workflow
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

fix naming
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
