Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-commmittee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-commmittee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/docs/operators @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Support GatherND operator in ONNX (#2106)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gathernd.py
  onnx/backend/test/data/node/test_gathernd_example_float32/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Support GatherND operator in ONNX (#2106)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gathernd.py
  onnx/backend/test/data/node/test_gathernd_example_float32/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update to include ONNX Foundation WG
  community/working-groups.md
Owners: @onnx/steering-commmittee

added negative axes support for squeeze, unsqueeze, flatten
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/flatten.py
  onnx/backend/test/case/node/onehot.py
  onnx/backend/test/case/node/unsqueeze.py
  onnx/backend/test/data/node/test_flatten_negative_axis-1/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-2/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-3/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-3/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-4/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_onehot_with_negative_axis/model.onnx
  onnx/backend/test/data/node/test_onehot_with_negative_axis/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_onehot_with_negative_axis/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_onehot_with_negative_axis/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_onehot_with_negative_axis/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_unsqueeze_negative_axes/model.onnx
  onnx/backend/test/data/node/test_unsqueeze_negative_axes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_unsqueeze_negative_axes/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix testdata model for CumSum. Add exclusive attribute.
  onnx/backend/test/data/node/test_cumsum_1d_reverse_exclusive/model.onnx
Owners: @onnx/sig-operators-approvers

Changed Generative docs and added table
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

updating IR.md
  docs/IR.md
Owners: @onnx/sig-archinfra-approvers

re-generate docs
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx-operators-ml.proto
  onnx/onnx-operators-ml.proto3
  onnx/onnx-operators.proto
  onnx/onnx-operators.proto3
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

doc generation
  onnx/onnx-operators.proto
  onnx/onnx-operators.proto3
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Updated description of Foundation WG
  community/working-groups.md
Owners: @onnx/steering-commmittee

GatheND spec for negative indices editted
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update working-groups.md
  community/working-groups.md
Owners: @onnx/steering-commmittee

Fix testdata model for CumSum. Add exclusive attribute. (#2271)
  onnx/backend/test/data/node/test_cumsum_1d_reverse_exclusive/model.onnx
Owners: @onnx/sig-operators-approvers

Fix testdata model for CumSum. Add exclusive attribute. (#2271)
  onnx/backend/test/data/node/test_cumsum_1d_reverse_exclusive/model.onnx
Owners: @onnx/sig-operators-approvers

Fix testdata model for CumSum. Add exclusive attribute. (#2271)
  onnx/backend/test/data/node/test_cumsum_1d_reverse_exclusive/model.onnx
Owners: @onnx/sig-operators-approvers

Fix collect_snippets warnings (#2277)
  onnx/backend/test/case/node/scatter.py
  onnx/backend/test/case/node/scatterelements.py
Owners: @onnx/sig-operators-approvers

Re-generated Operators.md and TestCoverage.md
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Fixed the type for the LSTM step function
  onnx/backend/test/case/node/lstm.py
Owners: @onnx/sig-operators-approvers

Add Foundation WG to working-groups.md (#2276)
  community/working-groups.md
Owners: @onnx/steering-commmittee

Add Foundation WG to working-groups.md (#2276)
  community/working-groups.md
Owners: @onnx/steering-commmittee

Add Foundation WG to working-groups.md (#2276)
  community/working-groups.md
Owners: @onnx/steering-commmittee

fixed minor if condition missed for axis attr in flatten
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

fix for comments
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

fixed formatting for gather op
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Added "time_major" attribute to RNN, GRU, LSTM and moved num_directions to last dim of inputs and outputs
  onnx/backend/test/case/node/gru.py
  onnx/backend/test/case/node/lstm.py
  onnx/backend/test/case/node/rnn.py
  onnx/defs/operator_sets.h
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fixed test name for flatten with negative axes
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_flatten_negative_axis-1/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-2/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-3/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-4/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis1/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis2/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis3/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis3/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis4/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis4/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Update onnx/defs/tensor/defs.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update docs/Changelog.md
  docs/Changelog.md
Owners: @onnx/sig-operators-approvers

added print examples to onehot and gather as per comments
  docs/TestCoverage.md
  onnx/backend/test/case/node/gather.py
  onnx/backend/test/case/node/onehot.py
Owners: @onnx/sig-operators-approvers

adding modifies model tests for onehot
  onnx/backend/test/data/node/test_onehot_negative_indices/model.onnx
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

add classifiers section to the setup
  setup.py
Owners: @onnx/sig-archinfra-approvers

added onnx model files and docs for test 'where' op with long input
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_where_long_example/model.onnx
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_where_long_example/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

fix setup.py for added classifiers
  setup.py
Owners: @onnx/sig-archinfra-approvers

fix indentation
  setup.py
Owners: @onnx/sig-archinfra-approvers

Added test cases and reference implementations for the time_major attribute of RNN, GRU, and LSTM
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gru.py
  onnx/backend/test/case/node/lstm.py
  onnx/backend/test/case/node/rnn.py
  onnx/backend/test/data/node/test_gru_batchwise/model.onnx
  onnx/backend/test/data/node/test_gru_batchwise/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gru_batchwise/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gru_batchwise/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_gru_batchwise/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gru_batchwise/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_lstm_batchwise/model.onnx
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lstm_batchwise/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/model.onnx
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_simple_rnn_batchwise/test_data_set_0/output_1.pb
  onnx/defs/rnn/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fixed a small typo.
  onnx/defs/rnn/defs.cc
Owners: @onnx/sig-operators-approvers

updated unsqueeze and softmax tests with fix for failures
  docs/TestCoverage.md
  onnx/backend/test/case/node/unsqueeze.py
  onnx/backend/test/data/node/test_flatten_negative_axis-1/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-2/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-3/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-3/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-4/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_unsqueeze/model.onnx
  onnx/backend/test/data/node/test_unsqueeze_negative_axes/model.onnx
  onnx/backend/test/data/node/test_unsqueeze_negative_axes/test_data_set_0/output_0.pb
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/defs/reduction/defs.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

fixed typo
  docs/TestCoverage.md
  onnx/backend/test/case/node/flatten.py
  onnx/backend/test/data/node/test_flatten_negative_axis-1/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-2/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-3/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-3/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-4/model.onnx
  onnx/backend/test/data/node/test_flatten_negative_axis-4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_flatten_negative_axis-4/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Remove type info for loop variadic input in Loop op used to compose the Range op
  onnx/backend/test/data/node/test_range_float_type_positive_delta/model.onnx
  onnx/backend/test/data/node/test_range_float_type_positive_delta_expanded/model.onnx
  onnx/backend/test/data/node/test_range_int32_type_negative_delta/model.onnx
  onnx/backend/test/data/node/test_range_int32_type_negative_delta_expanded/model.onnx
  onnx/defs/generator/defs.cc
Owners: @onnx/sig-operators-approvers

updated doc files
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers
