Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

More fixes
  .github/workflows/main.yml
  cmake/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Disable credential persistence in checkout action
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Disable credential persistence in checkout action (#7578)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add GitHub Actions workflow for dependency review
  .github/workflows/dependency-review.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml, different label options (#7081)
  .github/workflows/create_release.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

checker: prevent int64 overflow when computing tensor element count
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

update
  renovate.json
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/weekly_modelzoo.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @onnx/sig-archinfra-approvers

Fix cron schedule indentation in workflow
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Fix indentation in scorecard.yml workflow
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Update scorecard action versions in workflow
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Remove unnecessary blank lines in scorecard.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Fix formatting in scorecard.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Fix YAML formatting in preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Fix zizmor findings (#7581)
  .github/workflows/codeql.yml
  .github/workflows/pr_checks.yml
  .github/workflows/preview_source_dist_test.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Update test_model_zoo.py
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

Fix variable reference for build mode in workflow
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix Reshape shape inference for dynamic batch with inputProduct=0
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix integer division to use floor semantics
  docs/Operators.md
  onnx/backend/test/case/node/div.py
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_div.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update
  onnx/common/array_ref.h
  onnx/common/assertions.cc
  onnx/common/assertions.h
  onnx/common/common.h
  onnx/common/file_utils.h
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/ir_pb_converter.h
  onnx/common/path.h
  onnx/common/platform_helpers.h
  onnx/common/proto_util.h
  onnx/common/status.cc
  onnx/common/status.h
  onnx/common/tensor.h
  onnx/common/version.h
  onnx/common/visitor.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update dependency-review-action to specific commit
  .github/workflows/dependency-review.yml
Owners: @onnx/sig-archinfra-approvers

Change runner from self-hosted to ubuntu-latest
  .github/workflows/dependency-review.yml
Owners: @onnx/sig-archinfra-approvers

Fix "code injection via template expansion" (build mode in workflow) (#7584)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Add GitHub Actions workflow for dependency review (#7579)
  .github/workflows/dependency-review.yml
Owners: @onnx/sig-archinfra-approvers

Improve lint and cpplint fixes (#7583)
  .github/workflows/lint.yml
  onnx/common/array_ref.h
  onnx/common/assertions.cc
  onnx/common/assertions.h
  onnx/common/common.h
  onnx/common/file_utils.h
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/ir_pb_converter.h
  onnx/common/path.h
  onnx/common/platform_helpers.h
  onnx/common/proto_util.h
  onnx/common/status.cc
  onnx/common/status.h
  onnx/common/tensor.h
  onnx/common/version.h
  onnx/common/visitor.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update
  .github/workflows/scientific.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/yamlfmt.exe
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux.yml
  .github/workflows/scientific.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers
