Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Remove semicolons
  onnx/checker.cc
  onnx/defs/printer.cc
  onnx/defs/schema.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove some c-style casts
  onnx/cpp2py_export.cc
  onnx/defs/generator/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Apply clang-tidy fixes
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/cpp2py_export.cc
  onnx/defs/generator/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More clang-tidy fixes
  onnx/defs/printer.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-archinfra-approvers

Remove some c-style casts
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/traditionalml/defs.cc
Owners: @onnx/sig-operators-approvers

Add overload
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
Owners: @onnx/sig-operators-approvers

More fixes
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Use assertIsInstance
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

More fixes
  onnx/spec_to_yaml.py
  tools/spec_to_yaml.py
Owners: @onnx/sig-archinfra-approvers

Enable conversion from DataTypeSet into set[str] (#7481)
  onnx/cpp2py_export.cc
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

[1.20] Bump to rc2 (#7476)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh for improved syntax and checks
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh for improved syntax and checks (#7483)
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Add a tool to dump ONNX scheme into yaml files
  onnx/spec_to_yaml.py
Owners: @onnx/sig-archinfra-approvers

Use EXPECT_EQ
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/schema_registration_test.cc
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Remove semicolons
  onnx/checker.cc
  onnx/defs/printer.cc
  onnx/defs/schema.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove some c-style casts
  onnx/cpp2py_export.cc
  onnx/defs/generator/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More fixes
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Apply clang-tidy fixes
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Remove some c-style casts
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/traditionalml/defs.cc
Owners: @onnx/sig-operators-approvers

Add overload
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
Owners: @onnx/sig-operators-approvers

Format code
  onnx/cpp2py_export.cc
  onnx/defs/generator/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More clang-tidy fixes
  onnx/defs/printer.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-archinfra-approvers

Require ml_dtypes>=0.5.4 on s390x
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Require ml_dtypes>=0.5.4 on s390x (#7484)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

More fixes
  onnx/spec_to_yaml.py
  tools/spec_to_yaml.py
Owners: @onnx/sig-archinfra-approvers

Fix Python executable detection in virtual environments
  setup.py
Owners: @onnx/sig-archinfra-approvers

Make Python stub files (.pyi) optional in build
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix cpplint warnings (#7482)
  onnx/checker.cc
  onnx/cpp2py_export.cc
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/generator/old.cc
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/traditionalml/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/test/cpp/schema_registration_test.cc
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

[1.20] Cherry pick removing node determinism (#7474)
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Use EXPECT_EQ
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

More fixes
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Add sanitizer support
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Add documentation for high-level Python APIs for ONNX
  docs/HighLevelPythonAPIs.md
Owners: @onnx/sig-archinfra-approvers

Clarify numpy version dependencies in requirements
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Clarify numpy version dependencies in requirements (#7488)
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Add license information to check_pr_label.yml
  .github/workflows/check_pr_label.yml
Owners: @onnx/sig-archinfra-approvers

Add copyright and SPDX license to workflow
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

Add sanity checks for CLI arguments in entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
