Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update and rename Install_test.yml to install_test.yml (#6950)
  .github/install_test.yml
Owners: @onnx/sig-archinfra-approvers

Clarify the `axes` input of [un]Squeeze to be 1D tensors (#6888)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

lowbit quant
  onnx/defs/math/defs.cc
  onnx/onnx.in.proto
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

remove schema explicit
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

standardize input/output types
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

update version to 1.18.0
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

update version to 1.18.0 (#6954)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Clarify that variable shadowing is not allowed
  docs/IR.md
Owners: @onnx/sig-archinfra-approvers

Update docs/IR.md
  docs/IR.md
Owners: @onnx/sig-archinfra-approvers

Fix typos in multiple files
  docs/docsgen/source/onnx_sphinx.py
  onnx/backend/test/case/node/layernormalization.py
  onnx/reference/ops/op_layer_normalization.py
  onnx/reference/ops/op_roi_align.py
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix typos in multiple files (#6956)
  docs/docsgen/source/onnx_sphinx.py
  onnx/backend/test/case/node/layernormalization.py
  onnx/reference/ops/op_layer_normalization.py
  onnx/reference/ops/op_roi_align.py
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

[feat] Introduce source_date_epoch for reproducible builds (wheels, linux) (#6947)
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @onnx/sig-archinfra-approvers

fix: remediated afo
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Create release.yml to produce release notes
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

add workflow
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Update release.yml
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Add workflow to generate release notes (#6961)
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Update CMake to 3.24 and use LINK_LIBRARY:WHOLE_ARCHIVE (#6934)
  CMakeLists.txt
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

replace requirements_release with requirements_release_build in codeql.yml (#6958)
  .github/workflows/codeql.yml
Owners: @onnx/sig-archinfra-approvers

test owners
  onnx/defs/rnn/defs.cc
Owners: @onnx/sig-operators-approvers

Update test_backend_reference.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
