Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Python 3.13: builds successful for all os (#6370)
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  docs/docsgen/source/requirements.txt
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
  requirements-reference.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

test mac15
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

add python 3.13 for release_* files
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

add python 3.13
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update calender link (#6528)
  community/sigs.md
Owners: @onnx/steering-committee

adapt req min
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Update requirements-min.txt
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

change test env
  .github/workflows/release_test_weekly_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Remove usage of Mac12-Runner (#6542)
  .github/workflows/release_mac.yml
  .github/workflows/release_test_weekly_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Add python 3.13 for release_* workflows (#6543)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_sdist.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Introduction of the possibility to start devbuilds manually and to publish the artifacts to pypi/testpypi (#6540)
  .github/workflows/create_release.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix getsize bug in extract_model (#6496)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Improving the environment name
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Improving the environment name (#6544)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix Wextra-semi warnings on public headers
  .clang-format
  onnx/common/tensor.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add protobuf local build option
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Improve CMake argument passing
  setup.py
Owners: @onnx/sig-archinfra-approvers

Simplify CMake argument handling in setup.py (#6545)
  setup.py
Owners: @onnx/sig-archinfra-approvers

update workflow
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix extra-semi warnings on public headers (#6538)
  .clang-format
  onnx/common/tensor.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix of the devbuild publish-workflow (#6546)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Publish to test.pypi only for testing (with workflow dispatch)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

remove onnxruntime test
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Removing unit test involving onnxruntime (#6549)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Publish to test.pypi only for testing (with workflow dispatch) (#6548)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update onnx/external_data_helper.py
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/external_data_helper.py
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Remove/raise exception when external file exists during onnx.save (#6497)
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Use rank in data propagation
  onnx/shape_inference/implementation.h
  onnx/test/cpp/data_propagation_test.cc
Owners: @onnx/sig-archinfra-approvers

Run lintrunner
  onnx/checker.cc
  onnx/cpp2py_export.cc
  onnx/hub.py
  onnx/shape_inference/implementation.h
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Fix `MAXIMUM_PROTOBUF` size (2GiB, not 2GB)
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

Fix `MAXIMUM_PROTOBUF` size (2GiB, not 2GB) (#6556)
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

Run lint
  onnx/cpp2py_export.cc
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
