Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update onnx/compose.py
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers

Format
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/deformconv.py
  onnx/backend/test/report/coverage.py
  onnx/hub.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  setup.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Bump lintrunner adapters
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Bump
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Fix `onnx.compose` when connecting subgraphs (#5991)
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers

[Cherry-pick] Use CMAKE_PREFIX_PATH in finding libprotobuf (#5975) (#5997)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

[Cherry-pick] Fix builds from source and pip tar.gz on s390x systems (#5986)
  pyproject.toml
  setup.py
Owners: @onnx/sig-archinfra-approvers

Support int64/int32/float as depth
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Apply linter
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Handle depth value for shape inference
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Bump ai.onnx opset to 22
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

adjust check io number in shape inference
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

add unittest for custom schema shape inference add check in `InferenceContext` py wrapper
  onnx/cpp2py_export.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

add check for `InferenceContext` py wrapper
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

remove logic because it was in another pr
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

add new function for checking an input rank range
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

revert accidental renaming of checkInputRank, was meant for new function
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

fix bugs and add improve the tests for einsum
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

replace rank inference with shape inference for einsum op
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

add comments
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

remove unused code
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Avoid `unused parameter ‘fn’ [-Werror=unused-parameter]` during builds
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Address lintrunner hit
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Format
  onnx/checker.cc
  onnx/checker.h
  onnx/cpp2py_export.cc
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/string_utils.h
  onnx/version_converter/helper.cc
  onnx/version_converter/helper.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Bump ai.onnx opset to 22 (#6001)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Update - using `string_view` - move `VerifyInputNum` and `VerifyOutputNum` to private scope - Append doc for new interface
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Update inference messages for NegativeLogLikelihoodLoss
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Revert
  onnx/common/assertions.h
  onnx/common/constants.h
  onnx/common/interned_strings.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Reset
  onnx/common/ir.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

add include `string_view`
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

cover all test case for einsum according to the operator formulas: https://fdwr.github.io/MachineLearningOperators/OperatorFormulas.html
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint and apply the fixes
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

address comments
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

using common funtion to generate prefix string during fail_check
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

add new test and fix converter to actually transform the node rather than returning a function that doesn't do it
  .vscode/settings.json
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/split_11_13.h
  onnx/version_converter/adapters/split_17_18.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

add 11 split conv to 13
  onnx/version_converter/adapters/split_11_13.h
Owners: @onnx/sig-archinfra-approvers

format
  .vscode/settings.json
  onnx/test/version_converter_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

add conversion from split 11 to 13 with test
  onnx/test/version_converter_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

Fix conversion from split 11 to split 18. (#6020)
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/split_17_18.h
Owners: @onnx/sig-archinfra-approvers
