Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Require ml_dtypes>=0.5.0
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Fix determinism of old Attention op
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

Update figures; Update RELEASE-MANAGEMENT.md (#7250)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

turn off model hub testing Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

no hub test for python 3.14-dev (Update release_linux.yml)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Require ml_dtypes>=0.5.0 (#7254)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Avoid unnecessary re-generating of proto files
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

no hub test for python 3.14-dev (Update release_linux.yml) (#7256)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Add infer_types API for type inference without shape inference
  docs/ShapeInference.md
  onnx/cpp2py_export.cc
  onnx/defs/shape_inference.h
  onnx/shape_inference.py
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Override `__repr__` for some proto classes
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

Update __init__.py
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

Add comment
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Avoid unnecessary re-generating of proto files (#7253)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

add check for rc-candidates (Update create_release.yml)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix version converter adapters and parser attribute handling
  onnx/defs/parser.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

add check for rc-candidates (Update create_release.yml) (#7261)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

add missing file
  onnx/onnx2/cpu/common_helpers.cpp
Owners: @onnx/sig-archinfra-approvers

add copyright
  onnx/onnx2/__init__.py
  onnx/onnx2/cpu/__init__.py
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/helper.py
  onnx/onnx2/io_helper.py
  onnx/onnx2/pychecker.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
  onnx/test/test_onnx2_helper.py
  onnx/test/test_onnx2_models.py
  onnx/test/test_onnx2_onnx_vs_onnx2.py
Owners: @onnx/sig-archinfra-approvers

lint
  .gitignore
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
Owners: @onnx/sig-archinfra-approvers

fix missing file
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Draft for ONNX2
  CMakeLists.txt
  cmake/unittest.cmake
  onnx/onnx2/__init__.py
  onnx/onnx2/cpu/__init__.py
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/helper.py
  onnx/onnx2/io_helper.py
  onnx/onnx2/pychecker.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
  onnx/test/test_onnx2_helper.py
  onnx/test/test_onnx2_models.py
  onnx/test/test_onnx2_onnx_vs_onnx2.py
Owners: @onnx/sig-archinfra-approvers

Add readme
  onnx/onnx2/README.md
Owners: @onnx/sig-archinfra-approvers

Remove conditional code for Python 3.9 in CI and requirements*txt (#7221)
  .github/install_test.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_mac.yml
  .github/workflows/win_no_exception_ci.yml
  requirements-min.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

add an example
  onnx/onnx2/README.md
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/test/test_onnx2_models.py
Owners: @onnx/sig-archinfra-approvers

Update required Python version to 3.10 and related fixes (#7220)
  onnx/__init__.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/runner/item.py
  onnx/external_data_helper.py
  onnx/helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/op_resize.py
  onnx/serialization.py
  onnx/test/compose_test.py
  onnx/test/test_backend_reference.py
  onnx/tools/net_drawer.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove python 3.9 wheel build (#7217)
  .github/workflows/main.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Clean up reference evaluator tests (#7238)
  onnx/test/test_backend_reference.py
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers

Revert "Use [[maybe_unused]] (#6988)" (#7225)
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

fix annotation
  onnx/onnx2/helper.py
  onnx/onnx2/io_helper.py
  onnx/onnx2/pychecker.py
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

Build with pybind11 3.0 (#7209)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

fix unit test
  onnx/onnx2/cpu/onnx2.cpp
  onnx/test/test_backend_test.py
  onnx/test/test_onnx2_models.py
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7239)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Use a valid SPDX identifier as license classifier (#7242)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Remove deprecated methods (#7214)
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7216)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

add missing test data
  onnx/onnx2/README.md
  onnx/test/cpp/data/test_ai_onnx_ml_binarizer.onnx
  onnx/test/cpp/data/test_softmax_example_expanded.Constant.onnx
  onnx/test/cpp/data/test_softmax_example_expanded.onnx
Owners: @onnx/sig-archinfra-approvers

fix bug while reading external data and parallelism
  onnx/onnx2/cpu/stream.cpp
Owners: @onnx/sig-archinfra-approvers

Remove BUILD_ONNX_PYTHON (#6987)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix unreachable code (#7228)
  onnx/defs/function.h
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
