Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

lint
  onnx/numpy_helper.py
  onnx/reference/ops/op_lp_pool.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

atolrtol
  onnx/backend/test/loader/__init__.py
Owners: @onnx/sig-operators-approvers

Apply suggestions from code review
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

ref
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Update win_no_exception_ci.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

improve unit test
  onnx/backend/test/runner/__init__.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix ut
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

other series of updates
  .github/workflows/main.yml
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/blackmanwindow.py
  onnx/backend/test/case/node/gemm.py
  onnx/backend/test/case/node/hammingwindow.py
  onnx/backend/test/case/node/hannwindow.py
  onnx/backend/test/data/node/test_blackmanwindow/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_blackmanwindow_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_blackmanwindow_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_blackmanwindow_symmetric_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hammingwindow_symmetric_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_hannwindow_symmetric_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/runner/__init__.py
  onnx/test/test_backend_onnxruntime.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Refactor windows workflow to work on standard windows (#6190)
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

update onnx
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/adam.py
  onnx/backend/test/case/node/blackmanwindow.py
  onnx/backend/test/case/node/deformconv.py
  onnx/backend/test/case/node/hammingwindow.py
  onnx/backend/test/case/node/hannwindow.py
  onnx/backend/test/case/node/negativeloglikelihoodloss.py
  onnx/backend/test/case/node/round.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/softmaxcrossentropy.py
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_axis/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_axis_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_inverse/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_inverse_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gelu_default_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gelu_default_1_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gelu_default_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gelu_default_2_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gelu_tanh_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gelu_tanh_2_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_1d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_pads/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_lower/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_upper/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_strides/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_3d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_stft_with_window/model.onnx
  onnx/backend/test/data/node/test_stft_with_window/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_stft_with_window/test_data_set_0/output_0.pb
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

ci
  onnx/backend/test/case/model/sequence.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/deformconv.py
  onnx/backend/test/case/node/round.py
Owners: @onnx/sig-operators-approvers

missing
  .github/workflows/auto_update_doc.yml
  .github/workflows/main.yml
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fix docs
  docs/docsgen/source/api/custom_element_types.md
  docs/docsgen/source/api/numpy_helper.md
Owners: @onnx/sig-archinfra-approvers

np
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/stft.py
  onnx/backend/test/data/node/test_stft_with_window/model.onnx
  onnx/backend/test/data/node/test_stft_with_window/test_data_set_0/input_2.pb
Owners: @onnx/sig-operators-approvers

fix name
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

doc
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_batch_normalization.py
  onnx/reference/ops/op_batch_normalization.py
Owners: @onnx/sig-operators-approvers

Update onnx/test/helper_test.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/reference/ops/op_batch_normalization.py
  onnx/reference/ops/op_batch_normalization.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

update cmake
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

update pybind11 version
  CMakeLists.txt
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

fix yaml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

raise an exception for odd size
  onnx/numpy_helper.py
  onnx/reference/custom_element_types.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/reference/op_run.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
  onnx/reference/ops/op_conv.py
  onnx/reference/ops/op_conv_transpose.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Improve test coverage by convering model before calling onnxruntime
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

install onnxruntime
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

fix ci
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

better exception
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

changes
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

fix commit
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

fix ort unittest
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

fix atol
  onnx/backend/test/loader/__init__.py
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
