Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

matmul test cases
  onnx/backend/test/data/node/test_matmul_1d_1d/model.onnx
  onnx/backend/test/data/node/test_matmul_1d_1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_matmul_1d_1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_matmul_1d_1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_matmul_1d_3d/model.onnx
  onnx/backend/test/data/node/test_matmul_1d_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_matmul_1d_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_matmul_1d_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_matmul_4d_1d/model.onnx
  onnx/backend/test/data/node/test_matmul_4d_1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_matmul_4d_1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_matmul_4d_1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_matmul_bcast/model.onnx
  onnx/backend/test/data/node/test_matmul_bcast/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_matmul_bcast/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_matmul_bcast/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

matmul script
  onnx/backend/test/case/node/matmul.py
Owners: @onnx/sig-operators-approvers

addressing review comments
  docs/Changelog.md
  docs/Operators.md
  docs/docsgen/source/technical/float8.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update docstring for float32_to_float8e8m0
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Rename numpy cast function; add e8m0 cast table
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/defs/tensor/defs.cc
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Lint fix; update cast table to include unspecified values
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-operators-approvers

update i/o tensor names in example
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
Owners: @onnx/sig-operators-approvers

add regenerated test files
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT16_to_FLOAT8E8M0/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT16_to_FLOAT8E8M0/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT_to_FLOAT8E8M0/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT_to_FLOAT8E8M0/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

use specific version for mac os runner
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

clarify wording of round_mode attribute
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Fix attention reference implementation
  onnx/reference/ops/op_attention.py
Owners: @onnx/sig-operators-approvers

Add more test cases with attention
  onnx/backend/test/case/node/attention.py
Owners: @onnx/sig-operators-approvers

Use specific version for mac os runner (#7115)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Test ArgMax with multiple maximal values and `select_last_index = 0` (#7104)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/argmax.py
  onnx/backend/test/data/node/test_argmax_default_axis_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_keepdims_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_negative_axis_keepdims_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_no_keepdims_example/test_data_set_0/input_0.pb
Owners: @onnx/sig-operators-approvers

add tensorscatter op
  onnx/backend/test/case/node/tensorscatter.py
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

add TensorScatter op and tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/backend/test/data/node/test_tensorscatter/model.onnx
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_tensor_scatter.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

coverage
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Enable float8e8m0 for Q/DQ, and other ops
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix lint
  onnx/defs/controlflow/defs.cc
Owners: @onnx/sig-operators-approvers

fix numpy implementation; add 3d test case
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

update proto file comment
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

try this
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

update
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

try this
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

try this
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt to prevent ICE protobuf failure (#7121)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Introduce ONNX object libraries
  CMakeLists.txt
  cmake/summary.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

add top level permissions (Update pixi_build.yml)
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

define top level permission (Update copilot-setup-steps.yml)
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

Add comments
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Restore private linking
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix errors
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Delete .lintrunner.private.toml
  .lintrunner.private.toml
Owners: @onnx/sig-archinfra-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
