Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

add ref_impl
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/op_run.py
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add if/else for interleaving
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

remove where for rotary dim
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  tools/update_doc.sh
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

simplify reshape logic
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Improve package build instructions
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Fix typo
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Improve instructions
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Remove vscode settings (#6628)
  .vscode/settings.json
Owners: @onnx/sig-archinfra-approvers

Format
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix typos
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Remove struct and leverage ml_dtypes in helper tests
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

import
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

Enable isort rules in ruff formatter
  onnx/helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

req
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

mldtypes
  requirements-dev.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Improve INSTALL.md (#6629)
  CMakeLists.txt
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Enable isort rules in ruff formatter (#6632)
  onnx/helper.py
  onnx/onnx_cpp2py_export/defs.pyi
  pyproject.toml
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

Fix literal operator in Clang17+
  onnx/common/interned_strings.h
Owners: @onnx/sig-archinfra-approvers

corrected new_shape required for expand
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

bfloat16 test
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Remove struct and leverage ml_dtypes in helper tests (#6631)
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  requirements-dev.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Update helper_test.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

update lint
  onnx/version_converter/adapters/softmax_13_12.h
Owners: @onnx/sig-archinfra-approvers

Fix the bfloat16 test in helper for min numpy version (#6636)
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Fix numpy_helper to_array
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

WIP
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Fix all
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Deprecate type casting functions
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

fix
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

FLOAT4E2M1
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

type
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

test
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Clarify that FLOAT4E2M1 can be in int32_data
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/helper_test.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

update
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
Owners: @onnx/sig-archinfra-approvers

Fix numpy_helper to_array (#6638)
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

wording
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

skip failing tests
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

reorder tests
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

docs
  docs/docsgen/source/api/helper.md
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
