Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update filename
  workflow_scripts/protobuf/build_protobuf_unix.sh
Owners: @onnx/sig-archinfra-approvers

fix path
  README.md
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

Makes to_array, from_array support custom numpy dtype
  onnx/backend/test/case/node/cast.py
  onnx/custom_element_types.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/custom_element_types.py
  onnx/reference/op_run.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_constant.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/numpy_helper_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update version
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

improves
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

release
  .github/workflows/main.yml
  .github/workflows/pages.yml
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

fix int4
  docs/docsgen/source/technical/int4.md
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove 3.8
  .github/workflows/main.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

style
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

update ci
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

update build
  .github/workflows/main.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

fix test name
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Better name for Github Action
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

ci
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

ci
  .github/workflows/main.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

ci
  .github/workflows/main.yml
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

ci
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

build
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

ci
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Better name for Github Action and fix Windows build on CI (#6173)
  .github/workflows/main.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

better style
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

remove unnecessary changes
  .github/workflows/main.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

add missing names
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks (#6164)
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

isort
  onnx/reference/custom_element_types.py
  onnx/reference/op_run.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

lint
  docs/docsgen/source/api/custom_element_types.md
  docs/docsgen/source/api/index.md
  docs/docsgen/source/api/numpy_helper.md
  onnx/custom_element_types.py
  onnx/helper.py
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Fix reference implementation for ScatterND with 4D tensors
  onnx/reference/ops/op_scatter_elements.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix implementation
  onnx/custom_element_types.py
  onnx/helper.py
  onnx/reference/op_run.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/custom_element_types.py
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

check types in the parser
  onnx/test/parser_test.py
Owners: @onnx/sig-archinfra-approvers

fix parser
  onnx/defs/parser.cc
  onnx/test/parser_test.py
Owners: @onnx/sig-archinfra-approvers

public name
  onnx/custom_element_types.py
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

update ConvTranspose
  onnx/backend/test/case/node/convtranspose.py
  onnx/reference/ops/op_conv_transpose.py
Owners: @onnx/sig-operators-approvers

add test case
  onnx/backend/test/data/node/test_convtranspose_group_2/model.onnx
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/model.onnx
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

update doc
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

remove one unnecessary test
  onnx/reference/ops/op_conv_transpose.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/reference/ops/op_conv_transpose.py
Owners: @onnx/sig-operators-approvers
