Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Use rank in data propagation
  onnx/shape_inference/implementation.h
  onnx/test/cpp/data_propagation_test.cc
Owners: @onnx/sig-archinfra-approvers

fix: issue:Shape inference fails on Concat when first tensor is initialized empty #6276
  onnx/defs/tensor_proto_util.cc
Owners: @onnx/sig-operators-approvers

extract install
  INSTALL.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Use rank in data propagation (#6557)
  onnx/shape_inference/implementation.h
  onnx/test/cpp/data_propagation_test.cc
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Updates based on code review
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Fix handling of tensor rank in concat data propagation
  onnx/defs/data_propagators.h
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add one more test
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-archinfra-approvers

Update based on code review
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

relax Q/DQ scale type constraint
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

Support set schema inference function in python
  .gitmodules
  CMakeLists.txt
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

supress deprecated warning
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

minor updates
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add rotary embeddings schema
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

minor edits
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add node tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

fix some test failures
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Replace with scatterND
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix handling of tensor rank in concat data propagation (#6570)
  onnx/defs/data_propagators.h
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add ref_impl
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/op_run.py
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add function for skip norms
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Fix schemas for skip norms
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_1.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

modified skip inputs
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update gather doc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Generated op docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

More updates to the documentation
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

add ref_impl, shape_inference_test
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix: skip empty input output names in Extractor
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Fix wrong comparison between numpy dtypes to None
  onnx/reference/custom_element_types.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

add if/else for interleaving
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update gather doc (#6585)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

remove duplicate impls
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rmsnormalization.py
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Optimize one sort away
  onnx/reference/ops/op_topk.py
Owners: @onnx/sig-operators-approvers

Use correct tiebraking condition for topk
  docs/TestCoverage.md
  onnx/backend/test/case/node/topk.py
  onnx/reference/ops/op_topk.py
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers
