Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix cpplint warnings (#7626)
  onnx/checker.cc
  onnx/common/graph_node_list.h
  onnx/common/ir.h
  onnx/common/status.cc
  onnx/cpp2py_export.cc
  onnx/defs/attr_proto_util.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
  onnx/defs/traditionalml/utils.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx_pb.h
  onnx/proto_utils.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update one unit test failing sooner with the new verification
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

remove unnecessary test
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Verifies an external file is valid when saving an external tensor (#7627)
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Fix ReduceLogSumExp reference implementation for integer input
  onnx/reference/ops/op_reduce_log_sum_exp.py
Owners: @onnx/sig-operators-approvers

Apply C++17 features and remove __ANDROID__ branches in onnx/string_utils.h
  onnx/common/ir.h
  onnx/defs/parser.cc
  onnx/string_utils.h
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
  docs/Changelog.md
  docs/IR.md
  onnx/checker.cc
  onnx/common/array_ref.h
  onnx/common/common.h
  onnx/common/file_utils.h
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/defs/rnn/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix fromString parsing
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Simplify other code
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

More C++17 fixes of structure bindings and maybe_unused
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/common/visitor.h
  onnx/cpp2py_export.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/inliner/inliner.cc
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More fixes
  onnx/checker.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Apply C++17 features and remove __ANDROID__ in onnx/string_utils.h (#7649)
  onnx/checker.cc
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/visitor.h
  onnx/cpp2py_export.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/inliner/inliner.cc
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/string_utils.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add ONNX_INSTALL option to disable CMake installations
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

refactor(test): remove dead code and fix docstrings in reference evaluator tests
  onnx/test/reference_evaluator_model_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Update old.cc
  onnx/defs/rnn/old.cc
Owners: @onnx/sig-operators-approvers

Clean up reference evaluator tests (#7098) (#7654)
  onnx/test/reference_evaluator_model_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

update
  onnx/checker.cc
  onnx/common/common.h
  onnx/common/file_utils.h
Owners: @onnx/sig-archinfra-approvers

Update old.cc
  onnx/defs/rnn/old.cc
Owners: @onnx/sig-operators-approvers

update
  docs/Changelog.md
Owners: @onnx/sig-operators-approvers

fix cpplint issues (#7650)
  .github/workflows/manylinux/entrypoint.sh
  docs/IR.md
  onnx/checker.cc
  onnx/common/array_ref.h
  onnx/common/common.h
  onnx/common/file_utils.h
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/defs/rnn/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update
  .github/workflows/clang_tidy_review.yml
  MANIFEST.in
  pyproject.toml
  tools/gen_coverage_report.py
Owners: @onnx/sig-archinfra-approvers

update
  .lintrunner.toml
Owners: @onnx/sig-archinfra-approvers

update
  onnx/common/ir.h
  onnx/defs/controlflow/utils.h
  onnx/defs/doc_strings.cc
  onnx/defs/doc_strings.h
  onnx/defs/image/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update stale.yml
  .github/workflows/stale.yml
Owners: @onnx/sig-archinfra-approvers

remove thirdparty (#7655)
  .github/workflows/clang_tidy_review.yml
  .lintrunner.toml
  MANIFEST.in
  pyproject.toml
  tools/gen_coverage_report.py
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/clang_tidy_review.yml
  .github/workflows/clang_tidy_review_post.yml
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks_post.yml
Owners: @onnx/sig-archinfra-approvers

update
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Add Copyright Header (#7656)
  onnx/defs/controlflow/utils.h
  onnx/defs/doc_strings.cc
  onnx/defs/doc_strings.h
  onnx/defs/image/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
Owners: @onnx/sig-operators-approvers

Update add_msvc_runtime_flag to work with MSVC_RUNTIME_LIBRARY
  CMakeLists.txt
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

improve condition in github workflows (#7658)
  .github/workflows/clang_tidy_review.yml
  .github/workflows/clang_tidy_review_post.yml
  .github/workflows/lint.yml
  .github/workflows/pr_checks_post.yml
Owners: @onnx/sig-archinfra-approvers

WIP
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/shape_inference.h
  onnx/test/data_propagation_test.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Improve
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/test/shape_inference_test.py
  onnx/test/symbolic_shape_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Format
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/test/data_propagation_test.py
  onnx/test/shape_inference_test.py
  onnx/test/symbolic_shape_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Test
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Update fixes from tests
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/test/shape_inference_backend_node_test.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Lint
  onnx/test/shape_inference_backend_node_test.py
Owners: @onnx/sig-archinfra-approvers

Update test
  onnx/test/shape_inference_backend_node_test.py
Owners: @onnx/sig-archinfra-approvers

Propagate data
  onnx/defs/generator/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/shape_inference/implementation.cc
  onnx/test/shape_inference_backend_node_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix unused parameter error
  onnx/defs/preview/defs.cc
Owners: @onnx/sig-operators-approvers
