Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-commmittee, @onnx/sig-operators-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

update doc + shape inference
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

make impl of det more clear
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/det.py
  onnx/backend/test/data/node/test_det_2d/model.onnx
  onnx/backend/test/data/node/test_det_nd/model.onnx
Owners: @onnx/sig-operators-approvers

fix annotation
  onnx/backend/test/case/node/det.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

remove spaces
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

emphasize the case where output is scalar. Improve shape inference error message.
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

fix annotation 2
  onnx/backend/test/case/node/det.py
Owners: @onnx/sig-operators-approvers

fix test
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/det.py
  onnx/backend/test/data/node/test_det_nd/model.onnx
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

fix doc
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

remove spaces
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/det.py
Owners: @onnx/sig-operators-approvers

typo
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Add Det to ONNX
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/det.py
  onnx/backend/test/data/node/test_det_2d/model.onnx
  onnx/backend/test/data/node/test_det_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_det_nd/model.onnx
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Added negatice indices to docs for OneHot op
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/onehot.py
  onnx/backend/test/data/node/test_onehot_negative_indices/model.onnx
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_onehot_negative_indices/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Update Changelog.md
  docs/Changelog.md
Owners: @onnx/sig-operators-approvers

Add Det to ONNX (#2233)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/det.py
  onnx/backend/test/data/node/test_det_2d/model.onnx
  onnx/backend/test/data/node/test_det_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_det_nd/model.onnx
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add Det to ONNX (#2233)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/det.py
  onnx/backend/test/data/node/test_det_2d/model.onnx
  onnx/backend/test/data/node/test_det_2d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_2d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_det_nd/model.onnx
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_det_nd/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

nit
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

nit
  onnx/backend/test/case/node/scatternd.py
Owners: @onnx/sig-operators-approvers

typo
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

nit
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

update docs according to comment
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Add note to sample impl, clarify order of loop interation
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/scatternd.py
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

improve docs
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

nit
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Support ScatterND operator in ONNX
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scatternd.py
  onnx/backend/test/data/node/test_scatternd/model.onnx
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

nit
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

rebase
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

attempt to fix flacky CI
  appveyor.yml
Owners: @onnx/sig-archinfra-approvers

indent
  appveyor.yml
Owners: @onnx/sig-archinfra-approvers

Add param check
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

Added negative axes for slice and squeeze opset 11
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/slice.py
  onnx/backend/test/case/node/squeeze.py
  onnx/backend/test/data/node/test_slice_negative_axes/model.onnx
  onnx/backend/test/data/node/test_slice_negative_axes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_slice_negative_axes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_slice_negative_axes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_slice_negative_axes/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_slice_negative_axes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_squeeze_negative_axes/model.onnx
  onnx/backend/test/data/node/test_squeeze_negative_axes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_squeeze_negative_axes/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Support ScatterND operator in ONNX (#2220)
  appveyor.yml
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scatternd.py
  onnx/backend/test/data/node/test_scatternd/model.onnx
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Support ScatterND operator in ONNX (#2220)
  appveyor.yml
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scatternd.py
  onnx/backend/test/data/node/test_scatternd/model.onnx
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Support ScatterND operator in ONNX (#2220)
  appveyor.yml
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scatternd.py
  onnx/backend/test/data/node/test_scatternd/model.onnx
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_scatternd/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update Changelog.md
  docs/Changelog.md
Owners: @onnx/sig-operators-approvers

Minor formatting fix
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Shape inference for NMS
  onnx/defs/object_detection/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Support GatherND operator in ONNX (#2106)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/gathernd.py
  onnx/backend/test/data/node/test_gathernd_example_float32/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_float32/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/model.onnx
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_gathernd_example_int32/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-commmittee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/docs/operators @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
