Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

adapt latest->24.04
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update ci
  .github/workflows/main.yml
  onnx/reference/op_run.py
  onnx/reference/ops/aionnx_preview_training/op_adagrad.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

more changes
  .github/workflows/main.yml
  onnx/reference/ops/op_argmax.py
  onnx/reference/ops/op_argmin.py
  onnx/reference/ops/op_batch_normalization.py
  onnx/reference/ops/op_bernoulli.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_celu.py
  onnx/reference/ops/op_conv.py
  onnx/reference/ops/op_conv_integer.py
  onnx/reference/ops/op_div.py
  onnx/reference/ops/op_log.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add a test on vector w_scale
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Handle w_scale as a per-output-channel vector
  onnx/reference/ops/op_qlinear_conv.py
Owners: @onnx/sig-operators-approvers

Fix python linter warnings in setup.py (#6459)
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix python linter warnings
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add rotary embeddings schema
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Try binary install of pillow
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Move to using protogen's .pyi file generator (#6096)
  .github/workflows/main.yml
  .gitignore
  .reuse/dep5
  CMakeLists.txt
  tools/protoc-gen-mypy.bat
  tools/protoc-gen-mypy.py
  tools/protoc-gen-mypy.sh.in
Owners: @onnx/sig-archinfra-approvers

Restore some changes
  .github/workflows/main.yml
  tools/protoc-gen-mypy.bat
  tools/protoc-gen-mypy.sh.in
Owners: @onnx/sig-archinfra-approvers

wording
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers

Update tools/protoc-gen-mypy.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers

Test which pillow package is downloaded (Update main.yml)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Aktualisieren von main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Move suggest fixes to a separate CI workflow (#6455)
  .github/workflows/lint.yml
  .github/workflows/pr_checks.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Enhance CenterCropPad documentation
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Test validation of w_scale shape
  onnx/reference/ops/op_qlinear_conv.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add node tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

minor edits
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix schemas for skip norms
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_1.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

optimized collect_new_io_core
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

add return type
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

move duplicate check to extract_model
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/utils.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

add input type
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Optimize _collect_new_io_core in extract_model (#6466)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Enhance CenterCropPad documentation (#6464)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Simplify protobuf linking (#6444)
  CMakeLists.txt
  README.md
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Print correct Python version in CMake summary
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Fix ODR violations
  onnx/defs/parser.cc
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

Fix ODR violations (#6468)
  onnx/defs/parser.cc
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

Print correct Python version in CMake summary (#6467)
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Use enum class
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/version_converter/adapters/upsample_9_10.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers
