Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

remove string test cases
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/backend/test/data/node/test_cast_FLOAT_to_STRING/model.onnx
  onnx/backend/test/data/node/test_cast_FLOAT_to_STRING/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_STRING/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_STRING_to_FLOAT/model.onnx
  onnx/backend/test/data/node/test_cast_STRING_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_STRING_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING/model.onnx
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING_expanded/model.onnx
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_castlike_FLOAT_to_STRING_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT/model.onnx
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT_expanded/model.onnx
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_castlike_STRING_to_FLOAT_expanded/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Fix quantizelinear test
  onnx/backend/test/case/node/quantizelinear.py
Owners: @onnx/sig-operators-approvers

Do not lint tests
  .lintrunner.toml
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Fix shape inference test
  onnx/checker.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Remove re2 dependency (#7083)
  onnx/reference/ops/op_regex_full_match.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
  pixi.lock
  pixi.toml
  requirements-reference.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update float8 table for the Cast op spec (#7085)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix: prefixing of graphs when `rename_inputs=False/rename_outputs=False` (#6994)
  onnx/compose.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Document Multi-Device Configuration proto specifications in IR.md (#7056)
  docs/IR.md
Owners: @onnx/sig-archinfra-approvers

Skip some tests for older numpys
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

public op-level shape inference
  onnx/defs/nn/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Fix lint errors
  .lintrunner.toml
  onnx/backend/test/case/node/gathernd.py
  onnx/backend/test/case/node/image_decoder.py
  onnx/backend/test/runner/__init__.py
  onnx/parser.py
  onnx/reference/ops/op_col2im.py
  onnx/reference/ops/op_conv_transpose.py
  onnx/reference/ops/op_deform_conv.py
  onnx/reference/ops/op_gathernd.py
  onnx/reference/ops/op_image_decoder.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/version_utils.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix F401
  onnx/__init__.py
  onnx/reference/ops/__init__.py
  onnx/reference/ops/_helpers.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/__init__.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/__init__.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/__init__.py
  onnx/reference/ops_optimized/__init__.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Slight refactoring for style
  onnx/checker.py
  onnx/reference/op_run.py
  onnx/reference/ops/_helpers.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

defs init
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Update import
  onnx/reference/op_run.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers

Update imports
  onnx/_mapping.py
  onnx/reference/op_run.py
  onnx/reference/reference_evaluator.py
  onnx/shape_inference.py
  onnx/utils.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Fix lint
  onnx/reference/op_run.py
  onnx/reference/ops/op_tfidf_vectorizer.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Clean up type ignores in tests
  onnx/test/inference_function_test.py
  onnx/test/model_container_refeval_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/schema_test.py
  onnx/test/shape_inference_test.py
  onnx/test/symbolic_shape_test.py
  onnx/test/test_backend_reference.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  onnx/test/tools_test.py
Owners: @onnx/sig-archinfra-approvers

got-expected
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Fix test comparison order
  onnx/test/model_container_refeval_test.py
  onnx/test/reference_evaluator_ml_test.py
Owners: @onnx/sig-archinfra-approvers

skip ort
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Use importlib
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Lint
  onnx/_mapping.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Fix cast test cases
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Editted the ArgMax testcases for the select_last_index = false option: Now there are actual examples where the input tensors contain multiple max values.
  onnx/backend/test/case/node/argmax.py
  onnx/backend/test/data/node/test_argmax_default_axis_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_keepdims_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_negative_axis_keepdims_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_no_keepdims_example/test_data_set_0/input_0.pb
Owners: @onnx/sig-operators-approvers

Bump protobuf to 6.31.1 (#7086)
  CMakeLists.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Fix Resize reference operator
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

fix clip
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Clean up backend tests for reference runtime
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Use main protobuf to temporarily fix Windows builds
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

disable magic number lint warning
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

fix variable name in docstring
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

update float8.md
  docs/docsgen/source/technical/float8.md
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

add e8m0 dtype
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/_mapping.py
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT16_to_FLOAT8E8M0/model.onnx
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT16_to_FLOAT8E8M0/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT16_to_FLOAT8E8M0/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT/model.onnx
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT16/model.onnx
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT8E8M0_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT_to_FLOAT8E8M0/model.onnx
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT_to_FLOAT8E8M0/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_e8m0_FLOAT_to_FLOAT8E8M0/test_data_set_0/output_0.pb
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/operator_sets.h
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_cast.py
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix lint error
  onnx/_mapping.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Editted the ArgMax testcases for the select_last_index = false option: Now there are actual examples where the input tensors contain multiple max values.
  onnx/backend/test/case/node/argmax.py
  onnx/backend/test/data/node/test_argmax_default_axis_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_keepdims_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_negative_axis_keepdims_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_argmax_no_keepdims_example/test_data_set_0/input_0.pb
Owners: @onnx/sig-operators-approvers
