Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Document UINT4, INT4 storage type (#5933)
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Add parser support for int4 types
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

Add proto support for overloaded functions (#5011)
  docs/IR.md
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/helper.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Document UINT4, INT4 storage type (#5933)
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

fixed typecheck for lstm f,g,h
  onnx/backend/test/case/node/lstm.py
Owners: @onnx/sig-operators-approvers

annotating instead of casting
  onnx/backend/test/case/node/lstm.py
Owners: @onnx/sig-operators-approvers

Add badges to the README (#5928)
  README.md
Owners: @onnx/sig-archinfra-approvers

annotating the return variables
  onnx/backend/test/case/node/lstm.py
Owners: @onnx/sig-operators-approvers

Revert "Safe implementation for register"
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

using rvalue reference for register pipline
  onnx/cpp2py_export.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

restore the default behavior of `AddDomainToVersion`
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

overload `has_schema` with version param
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
Owners: @onnx/sig-archinfra-approvers

add multi register case in unittest
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

fix build error in cpp unittest
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-archinfra-approvers

Revert "fix build error in cpp unittest"
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-archinfra-approvers

fix build error for cpp custom register
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix ReferenceEvaluator when used with subclasses
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

fix other references to ReferenceEvaluator
  onnx/reference/op_run.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/ops/op_rnn.py
  onnx/reference/ops/op_scan.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove unnecessary modifications
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
Owners: @onnx/sig-operators-approvers

resolve_external_data_location and test
  docs/docsgen/source/onnx_sphinx.py
  onnx/checker.cc
  onnx/checker.h
  onnx/checker.py
  onnx/common/path.h
  onnx/cpp2py_export.cc
  onnx/external_data_helper.py
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/onnx_cpp2py_export/parser.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/checker.h
  onnx/cpp2py_export.cc
  onnx/external_data_helper.py
  onnx/model_container.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/checker.py
  onnx/external_data_helper.py
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
Owners: @onnx/sig-archinfra-approvers

Q/DQ docs readability + 4bit info in onnx.proto
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Describe 4bit packing in raw buffer section
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

onnx/checker.py
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/checker.py
  onnx/onnx_cpp2py_export/checker.pyi
Owners: @onnx/sig-archinfra-approvers

onnx/checker.py lint
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

onnx/checker.py lint
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

bytes_
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
Owners: @onnx/sig-archinfra-approvers

Add parser support for int4 types (#5934)
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

+use_model_path
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

undo pyi, remove resolve_external_data_location from checker.py
  onnx/checker.py
  onnx/external_data_helper.py
  onnx/model_container.py
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
Owners: @onnx/sig-archinfra-approvers

.
  onnx/onnx_cpp2py_export/checker.pyi
Owners: @onnx/sig-archinfra-approvers

.
  onnx/onnx_cpp2py_export/checker.pyi
Owners: @onnx/sig-archinfra-approvers

.
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/onnx_cpp2py_export/parser.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
Owners: @onnx/sig-archinfra-approvers

.
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
Owners: @onnx/sig-archinfra-approvers

.
  onnx/cpp2py_export.cc
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

onnx_sphinx.py
  docs/docsgen/source/onnx_sphinx.py
Owners: @onnx/sig-archinfra-approvers

# type: ignore[attr-defined]
  onnx/external_data_helper.py
  onnx/model_container.py
Owners: @onnx/sig-archinfra-approvers
