Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

use opset 24 in tests
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-archinfra-approvers

Add node determinism attribute to operator schemas
  onnx/cpp2py_export.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix test failures
  onnx/defs/nn/old.cc
  onnx/test/cpp/function_context_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update codes as reviewed
  onnx/defs/__init__.py
  onnx/defs/schema.cc
  onnx/test/schema_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix enum values
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix lint
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

ENFORCE node determinism in context dependent functions
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

fix lint
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Fix for lint
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

Mark operators with subgraphs as non-deterministic
  onnx/defs/schema.cc
  onnx/test/schema_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix determinism of old Attention op
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

fix merge mistakes
  onnx/cpp2py_export.cc
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More fixes
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/ONNXConfig.cmake.in
  onnx/defs/schema.h
  onnx/test/cmake/CMakeLists.txt
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add test
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers

Allow conversion from OpSchema to OpSchemaRegisterOnce
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix CI error
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Allow conversion from OpSchema to OpSchemaRegisterOnce (#7390)
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/ONNXConfig.cmake.in
  onnx/defs/schema.h
  onnx/test/cmake/CMakeLists.txt
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Apply suggestion from @take-cheeze
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Apply suggestion from @take-cheeze
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Apply suggestion from @take-cheeze
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Apply suggestion from @take-cheeze
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Fix for security bot
  onnx/defs/__init__.py
Owners: @onnx/sig-operators-approvers

Add node determinism attribute to operator schemas (#7176)
  onnx/cpp2py_export.cc
  onnx/defs/__init__.py
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/test/cpp/function_context_test.cc
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Apply suggestion from @justinchuby
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix c-style casts
  onnx/common/ir.h
  onnx/common/tensor.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/sequence/utils.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/adapters/broadcast_forward_compatibility.h
  onnx/version_converter/adapters/pad_10_11.h
  onnx/version_converter/adapters/sum_8_7.h
  onnx/version_converter/adapters/upsample_8_9.h
  onnx/version_converter/convert.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add google-readability-casting
  .clang-tidy
  onnx/defs/math/defs.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix c-style casts
  onnx/defs/nn/old.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix c-style casts (#7401)
  .clang-tidy
  onnx/common/ir.h
  onnx/common/tensor.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/sequence/utils.cc
  onnx/shape_inference/implementation.cc
  onnx/version_converter/adapters/broadcast_forward_compatibility.h
  onnx/version_converter/adapters/pad_10_11.h
  onnx/version_converter/adapters/sum_8_7.h
  onnx/version_converter/adapters/upsample_8_9.h
  onnx/version_converter/convert.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update release_mac.yml 3.14-dev to 3.14 (#7396)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Use constexpr
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/image/defs.cc
  onnx/defs/logical/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/text/defs.cc
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/training/defs.cc
Owners: @onnx/sig-operators-approvers

Remove unused header inclusion
  onnx/checker.cc
  onnx/defs/generator/utils.cc
  onnx/defs/image/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/utils.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/training/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/inliner_test.cc
  onnx/test/cpp/ir_test.cc
  onnx/test/cpp/op_reg_test.cc
  onnx/test/cpp/schema_registration_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update onnx/defs/math/old.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Update onnx/defs/math/old.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Use constexpr (#7403)
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/image/defs.cc
  onnx/defs/logical/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/text/defs.cc
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/training/defs.cc
Owners: @onnx/sig-operators-approvers

Remove unused header inclusion (#7404)
  onnx/checker.cc
  onnx/defs/generator/utils.cc
  onnx/defs/image/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/utils.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/training/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/inliner_test.cc
  onnx/test/cpp/ir_test.cc
  onnx/test/cpp/op_reg_test.cc
  onnx/test/cpp/schema_registration_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

fix scatternd spec
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix typo
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

update docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers
