Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Improve release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Improve release_linux_*.yml (#6671)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Bump absl cpp to 20240722.1
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix Resize operator document
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

change used rand in comparisons
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/equal.py
  onnx/backend/test/case/node/greater.py
  onnx/backend/test/case/node/greater_equal.py
  onnx/backend/test/case/node/less.py
  onnx/backend/test/case/node/less_equal.py
Owners: @onnx/sig-operators-approvers

initial tests
  onnx/backend/test/case/node/add.py
  onnx/backend/test/case/node/div.py
  onnx/backend/test/case/node/equal.py
  onnx/backend/test/case/node/greater.py
  onnx/backend/test/case/node/greater_equal.py
  onnx/backend/test/case/node/less.py
  onnx/backend/test/case/node/less_equal.py
  onnx/backend/test/case/node/mul.py
  onnx/backend/test/case/node/sub.py
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Lint
  onnx/parser.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_affine_grid.py
  onnx/reference/ops/op_constant.py
  onnx/reference/ops/op_pool_common.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_reference.py
  setup.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Work around g++ ubsan issue for ABSL
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

use arm64 runner
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_arm64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_arm64.yml
Owners: @onnx/sig-archinfra-approvers

Check if wheels should be published before using a job with a deployment environment (#6688)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Bump absl cpp to 20240722.1 (#6672)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

remove twine
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

remove twine from requirements-dev-file (#6692)
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Correct protobuf install instructions on Windows
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Correct protobuf install instructions on Windows (#6695)
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Update INSTALL.md to show build onnx on Windows
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update requirements-dev_freethreading.txt
  requirements-dev_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint_freethreading.sh
  .github/workflows/release_linux_x86_64_freethreading.yml
  requirements-release_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main_freethreading.yml
  .github/workflows/manylinux/entrypoint_freethreading.sh
Owners: @onnx/sig-archinfra-approvers

update
  workflow_scripts/protobuf/build_protobuf_unix_freethreading.sh
Owners: @onnx/sig-archinfra-approvers

Update build_protobuf_unix_freethreading.sh
  workflow_scripts/protobuf/build_protobuf_unix_freethreading.sh
Owners: @onnx/sig-archinfra-approvers

Update INSTALL.md to show build onnx on Windows (#6696)
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64_freethreading.yml
  .github/workflows/release_linux_x86_64_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update build_protobuf_unix_freethreading.sh
  workflow_scripts/protobuf/build_protobuf_unix_freethreading.sh
Owners: @onnx/sig-archinfra-approvers

rename flag bool to fail_if_negative_value
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Add a unittest
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Check the input of to be non-negative
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

move the position of parameters
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
