Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update
  .github/workflows/release_linux_x86_64 freethreading.yml
  .github/workflows/release_mac_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Fix pooling pads issues (#6650)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/averagepool.py
  onnx/backend/test/case/node/lppool.py
  onnx/backend/test/case/node/maxpool.py
  onnx/backend/test/data/node/test_averagepool_2d_ceil_last_window_starts_on_pad/model.onnx
  onnx/backend/test/data/node/test_averagepool_2d_ceil_last_window_starts_on_pad/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_averagepool_2d_ceil_last_window_starts_on_pad/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_averagepool_3d_dilations_large_count_include_pad_is_1_ceil_mode_is_True/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg2k_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_1d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_pads/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_lower/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_upper/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_strides/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_3d_default/test_data_set_0/output_0.pb
  onnx/reference/ops/op_pool_common.py
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Improve name in CI-Pipeline (#6659)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

fix
  .github/workflows/auto_update_doc.yml
  .github/workflows/check_urls.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/pr_checks.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
  .github/workflows/reuse.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Remove unnecessary secrets in pipeline (#6661)
  .github/workflows/create_release.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Hardening of checkout (#6662)
  .github/workflows/auto_update_doc.yml
  .github/workflows/check_urls.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/pr_checks.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
  .github/workflows/reuse.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Use static dbg_count variables (#6494)
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_x86_64_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Use DeprecationWarning
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Use DeprecationWarning (#6667)
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

modified skip inputs
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

add ref_impl, shape_inference_test
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint fixes
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization.py
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add function for skip norms
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Fix schemas for skip norms
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_1.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

fix some tests
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

remove duplicate impls
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rmsnormalization.py
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix shape_inference_test
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

fix syntax in shape inference
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

fix lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

add pip list
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers
