Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

More fixes
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

More fixes
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

More fixes
  onnx/defs/math/defs.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Apply clang-tidy readability rules
  .clang-tidy
  onnx/checker.h
  onnx/common/assertions.h
  onnx/common/constants.h
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/visitor.h
  onnx/defs/data_propagators.h
  onnx/defs/function.h
  onnx/defs/operator_sets.h
  onnx/defs/parser.h
  onnx/defs/printer.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/onnx_pb.h
  onnx/shape_inference/attribute_binder.h
  onnx/shape_inference/implementation.h
  onnx/string_utils.h
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/adapters/batch_normalization_13_14.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/cast_9_8.h
  onnx/version_converter/adapters/compatible.h
  onnx/version_converter/adapters/gemm_6_7.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/gridsample_19_20.h
  onnx/version_converter/adapters/maxpool_8_7.h
  onnx/version_converter/adapters/no_previous_version.h
  onnx/version_converter/adapters/q_dq_21_20.h
  onnx/version_converter/adapters/remove_consumed_inputs.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/softmax_13_12.h
  onnx/version_converter/adapters/split_17_18.h
  onnx/version_converter/adapters/sum_8_7.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More fixes
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

More fixes
  .clang-tidy
  onnx/common/ir.h
  onnx/defs/data_type_utils.cc
  onnx/defs/printer.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

More fixes
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

More fixes
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

More fixes
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

More fixes
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Format code
  onnx/defs/data_type_utils.cc
Owners: @onnx/sig-operators-approvers

Fix builds
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix builds
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Fix freebsd build (#7518)
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update cmake/Utils.cmake
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Revert ONNX CMake changes (#7515)
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/summary.cmake
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Add dependencis
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Delete .gitignore
  .gitignore
Owners: @onnx/sig-archinfra-approvers

More fixes
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Bump protobuf to 6.33.2
  CMakeLists.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

Add dependencis
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/test_stub_assertion.py
  onnx/test/test_stub_assertion.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix CenterCropPad: compare target shape with dimension, not axis index (#7522)
  .gitignore
  onnx/reference/ops/op_center_crop_pad.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

to 26
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update docs
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_cumprod_1d/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_exclusive/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_int32_exclusive/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_reverse/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_reverse_exclusive/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_axis_0/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_axis_1/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_int32/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_negative_axis/model.onnx
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Export functions used in PyTorch
  CMakeLists.txt
  onnx/checker.h
  onnx/common/ir_pb_converter.h
Owners: @onnx/sig-archinfra-approvers

Export functions used in PyTorch (#7524)
  CMakeLists.txt
  onnx/checker.h
  onnx/common/ir_pb_converter.h
Owners: @onnx/sig-archinfra-approvers

Export protobuf symbols
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/test_stub_assertion.py
  onnx/test/test_stub_assertion.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/test_stub_assertion.py
  onnx/test/test_stub_assertion.py
Owners: @onnx/sig-archinfra-approvers

Make Python stub files (.pyi) optional in build
  onnx/test/test_stub_assertion.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Export protobuf symbols (#7525)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add sanitizer support
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

More fixes
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

More fixes
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add MSAN
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/Utils.cmake
  tsan.supp
Owners: @onnx/sig-archinfra-approvers

Add supp
  .github/workflows/main.yml
  REUSE.toml
  tsan.supp
Owners: @onnx/sig-archinfra-approvers
