Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Add shape inference test for custom op (#6068)
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Migrate CI to use Github Actions (#6075)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/main.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/external/googletest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Prevent crash on import after GCC 8 builds (#6048)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add one more test
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/checker.cc
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

Run lint
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

Allow ReferenceEvaluator to return intermediate results (#6066)
  onnx/reference/reference_evaluator.py
  onnx/test/model_container_refeval_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/tools_test.py
Owners: @onnx/sig-archinfra-approvers

Check that graph outputs are defined
  onnx/checker.cc
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Remove benchmarking code (#6076)
  .gitmodules
  CMakeLists.txt
  cmake/summary.cmake
  tools/protobuf-bench.cc
Owners: @onnx/sig-archinfra-approvers

Include the ".onnxtext" extension in supported serialization format (#6051)
  onnx/__init__.py
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

Fix 1 typo in numpy_helper.py (#6041)
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

fix a skipped shape infer code (#6049)
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

Fix compose test
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Add shape inference test for custom op (#6068)
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Check graph outputs are defined
  onnx/checker.cc
  onnx/test/checker_test.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Check graph outputs are defined (#6083)
  onnx/checker.cc
  onnx/test/checker_test.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Update CI pipeline README
  .github/workflows/main.yml
  README.md
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Remove test data from PyPI package
  onnx/backend/test/loader/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  pyproject.toml
  tests/backend/test_backend_onnxruntime.py
  tests/backend/test_backend_reference.py
  tests/backend/test_backend_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Apply suggestions from code review
  onnx/backend/test/loader/__init__.py
  onnx/backend/test/runner/__init__.py
  tests/backend/test_backend_reference.py
  tests/backend/test_backend_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Apply suggestions from code review
  onnx/backend/test/loader/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  tests/backend/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Apply lintrunner
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/stat_coverage.py
  tests/backend/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update CI pipeline README (#6086)
  .github/workflows/main.yml
  README.md
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Mention that perm is optional
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update pyproject
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/__init__.py
  onnx/backend/base.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/reference/op_run.py
  onnx/reference/ops/aionnxml/op_svm_classifier.py
  onnx/test/reference_evaluator_test.py
  pyproject.toml
  tools/protoc-gen-mypy.py
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix more
  onnx/__init__.py
  onnx/helper.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/aionnxml/op_svm_classifier.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/ops/op_reduce_mean.py
  onnx/reference/ops/op_shape.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/tools/replace_constants.py
  onnx/utils.py
  onnx/version_converter.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fix
  onnx/reference/ops/_helpers.py
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_acos/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asin/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atanh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_sinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tan/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Code style guide
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Clean-ups
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/stat_coverage.py
Owners: @onnx/sig-operators-approvers

Move to using protogen's .pyi file generator
  .gitignore
  .reuse/dep5
  CMakeLists.txt
  tools/protoc-gen-mypy.bat
  tools/protoc-gen-mypy.py
  tools/protoc-gen-mypy.sh.in
Owners: @onnx/sig-archinfra-approvers

Add missing shape inference check for DequantizeLinear (#6080)
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

Turn off pb type building on Linux pipeline
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add back custom stub generator with explanation
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers

remove trailing whitespace
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers

fix erroneous whitespace
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add Gradient-2 with bfloat16
  onnx/defs/operator_sets_preview.h
  onnx/defs/schema.h
  onnx/defs/training/defs.cc
  onnx/defs/training/old.cc
  onnx/helper.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Manual backend data?
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_jpeg2k_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_instancenorm_epsilon/model.onnx
  onnx/backend/test/data/node/test_instancenorm_example/model.onnx
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Delete traditional ml ops
  onnx/defs/operator_sets_ml.h
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/traditionalml/utils.cc
  onnx/defs/traditionalml/utils.h
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog-ml.md
  docs/Operators-ml.md
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
