Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Avoid returning const vectors (#6391)
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_proto_util.h
  onnx/defs/tensor_util.cc
  onnx/defs/tensor_util.h
Owners: @onnx/sig-operators-approvers

Use CMake python module (#6381)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Support node labels in parser and printer (#6349)
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Fix more static analyzer warnings (#6363)
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.h
  onnx/common/model_helpers.cc
  onnx/common/model_helpers.h
  onnx/common/status.h
  onnx/common/visitor.h
  onnx/defs/data_propagators.h
  onnx/defs/function.h
  onnx/defs/printer.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
  onnx/inliner/inliner.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix more static analyser warnings (#6360)
  onnx/checker.cc
  onnx/common/file_utils.h
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_ml.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/adapter.h
  onnx/version_converter/adapters/axes_attribute_to_input.h
  onnx/version_converter/adapters/axis_attribute_to_input.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/broadcast_forward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix clang-tidy warnings (#6378)
  .clang-tidy
  onnx/checker.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/model_helpers.cc
  onnx/common/status.cc
  onnx/common/status.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.h
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/convert.cc
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Revert Python finding logic and some CMake fixes for Windows (#6382)
  CMakeLists.txt
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update Protobuf to latest version (Win) (#6362)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Not all release runs have to be successul for publishing weekly to testpypi (#6372)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix more static analyser warnings (#6396)
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/controlflow/utils.cc
  onnx/defs/math/old.cc
  onnx/defs/shape_inference.h
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use -Wall -Wextra on APPLE platforms (#6399)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add clang-tidy checks and fix warnings (#6398)
  .clang-tidy
  onnx/checker.cc
  onnx/checker.h
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/status.cc
  onnx/common/tensor.h
  onnx/defs/controlflow/defs.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/function.cc
  onnx/defs/function.h
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/parser.h
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/shape_inference/attribute_binder.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/adapter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/group_normalization_20_21.h
  onnx/version_converter/adapters/reshape_4_5.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_12_13.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/split_17_18.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Set hidden visibility on onnx target (#6393)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Use std::unordered_{map,set} (#6390)
  onnx/checker.cc
  onnx/checker.h
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Support official Python launcher on Windows (#6407)
  tools/protoc-gen-mypy.bat
Owners: @onnx/sig-archinfra-approvers

Use BUILD_SHARED_LIBS as the flag to control SHARED build.
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update op_pool_common.py
  onnx/reference/ops/op_pool_common.py
Owners: @onnx/sig-operators-approvers

Update op_pool_common.py
  onnx/reference/ops/op_pool_common.py
Owners: @onnx/sig-operators-approvers

Update DFS function to non-recursion version
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update op_pool_common.py, add missing "| None" (#6421)
  onnx/reference/ops/op_pool_common.py
Owners: @onnx/sig-operators-approvers

Fix parser to handle empty optional parameters in edge cases
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Add more testcases
  onnx/test/parser_test.py
Owners: @onnx/sig-archinfra-approvers

Fix parser to handle empty optional parameters in edge cases (#6427)
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/test/cpp/parser_test.cc
  onnx/test/parser_test.py
Owners: @onnx/sig-archinfra-approvers

adapt run caller
  .github/workflows/create_release.yml
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Add misc checks and turn some functions and variables into static (#6401)
  .clang-tidy
  onnx/checker.cc
  onnx/checker.h
  onnx/common/ir_pb_converter.cc
  onnx/cpp2py_export.cc
  onnx/defs/function.cc
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/utils.cc
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add misc checks and fix clang-tidy warnings
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/traditionalml/utils.h
  onnx/inliner/inliner.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Check nullptr
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/defs/parser.h
  onnx/defs/schema.h
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use add_whole_archive_flag and further clean up
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Revert unintended change
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Use default special methods generated by the compiler
  onnx/common/tensor.h
Owners: @onnx/sig-archinfra-approvers

Enable performance and clang-analyzer checks
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

Fix warnings from other linters
  onnx/checker.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/nn/old.cc
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Format code
  onnx/checker.cc
  onnx/defs/controlflow/old.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
