Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix path sanitization bypass leading to arbitrary read (#5917)
  onnx/checker.cc
  onnx/checker.h
  onnx/common/path.h
  onnx/cpp2py_export.cc
  onnx/external_data_helper.py
  onnx/model_container.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.0
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update top-k documentation
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

use cmake 3.27.9
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

use cmake 3.27.9
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

use cmake 3.27.9
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

helper_test
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

typo
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

typo
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

The latest Cmake 3.28.3 is failing with "Could NOT find Protobuf (missing: Protobuf_LIBRARIES)". Use Cmake 3.27.9 (#5951)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

helper.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

ret helper_test
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

schema.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Update TreeEnsemble .onnx files for IR 10
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/model.onnx
Owners: @onnx/sig-operators-approvers

### Description <!-- - Describe your changes. --> - Test onnxruntime 1.17 with opset 20 in CI
  .azure-pipelines/MacOS-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix ReferenceEvaluator when run from a subclass (#5936)
  onnx/reference/op_run.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/ops/op_rnn.py
  onnx/reference/ops/op_scan.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Don't propagate valueinfo for parameters
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers

Fix ConstantOfShape type constraints
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/generator/defs.cc
Owners: @onnx/sig-operators-approvers

Support register custom OpSchema by python (#5906)
  docs/docsgen/source/api/defs.md
  onnx/checker.cc
  onnx/checker.h
  onnx/checker.py
  onnx/cpp2py_export.cc
  onnx/defs/__init__.py
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add attribute output_dtype to QuantizeLinear
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_quantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/common/interned_strings.h
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/q_dq_21_20.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix type inference + tests
  onnx/defs/quantization/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Improve error message readability
  onnx/defs/quantization/defs.cc
Owners: @onnx/sig-operators-approvers

Strict typing
  onnx/defs/quantization/defs.cc
Owners: @onnx/sig-operators-approvers

Fix ConstantOfShape type constraints (#5961)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/generator/defs.cc
Owners: @onnx/sig-operators-approvers

Update inliner to propagate valueinfos (#5942)
  onnx/common/proto_util.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Add attribute output_dtype to QuantizeLinear (#5956)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_quantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/common/interned_strings.h
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/q_dq_21_20.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Remove trailing whitespace
  .azure-pipelines/MacOS-CI.yml
Owners: @onnx/sig-archinfra-approvers

OnnxReleases.md Release drafting
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Address review comments
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Test opset 20 in CI (#5958)
  .azure-pipelines/MacOS-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

OnnxReleases.md Release drafting (#5965)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Valueinfo metadata
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Metadata for ValueInfo (#5966)
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

replicate https://github.com/onnx/onnx/pull/5735 without applying its comments
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix shape inference for Squeeze-11 and Squeeze-1 (#5967)
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix typos
  docs/docsgen/source/intro/python.md
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.0 (#5959)
  docs/Versioning.md
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/model.onnx
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update top-k documentation (#5948)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

### Description Bump VERSION_NUMBER to 1.17.0
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers
