Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update docs/OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

add python 3.14-dev (release_win_x86_64.yml) (#7149)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add documentation for building and publishing whls to pypi (OnnxReleases.md) (#7147)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

no pytest for 3.13t (release_win_x86_64.yml) (#7150)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add infer_types function for type-only inference
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

Add bfloat16 to TopK
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Fix Shape operator specification: correct range bounds and document start > end behavior (#7132)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/shape.py
  onnx/backend/test/data/node/test_shape_start_greater_than_end/model.onnx
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/output_0.pb
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Independent Type Inference: You can now infer types even when shape inference fails
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Implement saturate_cast (#7143)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fixed some typos in documentation.
  docs/docsgen/source/intro/concepts.md
  docs/docsgen/source/intro/converters.md
  docs/docsgen/source/intro/python.md
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Apply suggestions from code review
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Add FP6 support with fixes: revert opset to 24, complete packing/casting/tests/docs per review and CI
  docs/IR.md
  docs/docsgen/source/technical/float6.md
  docs/docsgen/source/technical/index.md
  onnx/_custom_element_types.py
  onnx/_mapping.py
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/nn/defs.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/shape_inference.h
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

lines
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Build-fix round 2: remove duplicate switch cases, unused helper, stray top-level block, duplicate import
  onnx/common/ir_pb_converter.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update SplitToSequence to support bfloat16
  onnx/defs/operator_sets.h
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
Owners: @onnx/sig-operators-approvers

Fix type arguments
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
Owners: @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Add `.txtpb` as a support text proto format in serialization
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

Generate docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Add `.txtpb` as a support text proto format in serialization (#7161)
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Add error logging for unset TypeProto values in shape inference
  onnx/defs/shape_inference.cc
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

remove 3.14-dev, turn off same tests for 3.13t (Update release_win_x86_64.yml)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

apply suggestions from code review
  docs/docsgen/source/intro/concepts.md
Owners: @onnx/sig-archinfra-approvers

Fix some typos in documentation (#7156)
  docs/docsgen/source/intro/concepts.md
  docs/docsgen/source/intro/converters.md
  docs/docsgen/source/intro/python.md
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update op_resize.py
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Wording
  docs/docsgen/source/api/index.md
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Update release_win_x86_64.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add version conversion and run lint
  onnx/backend/test/case/node/attention.py
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Generate test data
  onnx/backend/test/data/node/test_split_to_sequence_1/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_2/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_nokeepdims/model.onnx
  onnx/backend/test/data/node/test_top_k/model.onnx
  onnx/backend/test/data/node/test_top_k_negative_axis/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values_2d/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values_largest/model.onnx
  onnx/backend/test/data/node/test_top_k_smallest/model.onnx
  onnx/backend/test/data/node/test_top_k_uint64/model.onnx
Owners: @onnx/sig-operators-approvers

Regenerate docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
