Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Use PowerShell (pwsh) in windows step
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Use PowerShell (pwsh) in windows step in main.yml (#7311)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Add doc-string to function numpy_helper.py::tobytes_little_endian()
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update rotary_embedding reference implementation and tests (#7304)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

Override `__repr__` for some proto classes (#7259)
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

Last fix to attention backend test, fix dimension of Range input (#7300)
  onnx/backend/test/data/node/test_attention_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_3d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_attn_mask_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_attn_mask_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_3d_mask_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_attention_4d_with_past_and_present_qk_matmul_bias_4d_mask_causal_expanded/model.onnx
  onnx/defs/nn/utils.cc
Owners: @onnx/sig-operators-approvers

update doc
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

rename variables
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

indent
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

update docs
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Rename variables in rotary embedding reference for clarity (#7316)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

Rename variables in rotary embedding reference for clarity (#7316)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

Update rotary_embedding reference implementation and tests (#7304, #7316) (#7313)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rotary_embedding.py
Owners: @onnx/sig-operators-approvers

Override __repr__ for some proto classes (#7259) (#7314)
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

Create 19 -> 18 type op conversion
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

fix improper generation mistake
  docs/Changelog-ml.md
  docs/Changelog.md
  docs/Operators-ml.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Align LpPool ceil-mode docs and tests
  docs/Changelog-ml.md
  docs/Operators-ml.md
  docs/Operators.md
  onnx/backend/test/case/node/lppool.py
  onnx/defs/nn/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Restore opset_imports in generated Operators.md examples
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Restore opset_imports in generated Operators.md examples
  docs/Changelog-ml.md
  docs/Operators-ml.md
Owners: @onnx/sig-operators-approvers

Focus LpPool ceil-mode tests on minimal padding case
  docs/Changelog-ml.md
  docs/Changelog.md
  docs/Operators-ml.md
  docs/Operators.md
  onnx/backend/test/case/node/lppool.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Remove redundant SequenceInsert adapters
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

Implement repr methods for Model/Graph/Function
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

Create tests
  onnx/__init__.py
  onnx/test/basic_test.py
Owners: @onnx/sig-archinfra-approvers

mypy
  onnx/__init__.py
Owners: @onnx/sig-archinfra-approvers

test
  onnx/test/basic_test.py
Owners: @onnx/sig-archinfra-approvers

Update version number to 1.19.1rc1
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

add check for rc-candidates (Update create_release.yml) (#7261)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update version number to 1.19.1rc1 (#7322)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

add check for rc-candidates (Update create_release.yml) (#7261) (#7323)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Implement repr methods for Model/Graph/Function (#7320)
  onnx/__init__.py
  onnx/test/basic_test.py
Owners: @onnx/sig-archinfra-approvers

Implement repr methods for Model/Graph/Function (#7320)
  onnx/__init__.py
  onnx/test/basic_test.py
Owners: @onnx/sig-archinfra-approvers

Implement repr methods for Model/Graph/Function (#7320) (#7325)
  onnx/__init__.py
  onnx/test/basic_test.py
Owners: @onnx/sig-archinfra-approvers

Update ruff to 0.13.1
  onnx/reference/ops/op_scan.py
  onnx/test/reference_evaluator_test.py
  pixi.toml
  pyproject.toml
  requirements-lintrunner.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Improve byteorder handling in numpy_helper.py::tobytes_little_endian()
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Revert changes
  onnx/test/reference_evaluator_test.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
