Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update sdist_test.yml
  .github/workflows/sdist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update sdist_test.yml (#6786)
  .github/workflows/sdist_test.yml
Owners: @onnx/sig-archinfra-approvers

refactor: remove unnecessary x86 check in win freethreading (#6785)
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

remove updates for docker
  .github/dependabot.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update and rename sdist_test.yml to test_install.yml
  .github/workflows/test_install.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update test_install.yml
  .github/workflows/test_install.yml
Owners: @onnx/sig-archinfra-approvers

Rename test_install.yml to additional_tests.yml
  .github/workflows/additional_tests.yml
Owners: @onnx/sig-archinfra-approvers

Remove ignore_type suppression
  onnx/backend/sample/ops/__init__.py
  onnx/backend/test/case/model/sequence.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/adagrad.py
  onnx/backend/test/case/node/adam.py
  onnx/backend/test/case/node/batchnorm.py
  onnx/backend/test/case/node/bernoulli.py
  onnx/backend/test/case/node/bitwiseand.py
  onnx/backend/test/case/node/bitwisenot.py
  onnx/backend/test/case/node/bitwiseor.py
  onnx/backend/test/case/node/bitwisexor.py
  onnx/backend/test/case/node/dropout.py
  onnx/backend/test/case/node/gatherelements.py
  onnx/backend/test/case/node/if.py
  onnx/backend/test/case/node/layernormalization.py
  onnx/backend/test/case/node/loop.py
  onnx/backend/test/case/node/momentum.py
  onnx/backend/test/case/node/negativeloglikelihoodloss.py
  onnx/backend/test/case/node/onehot.py
  onnx/backend/test/case/node/pad.py
  onnx/backend/test/case/node/rmsnormalization.py
  onnx/backend/test/case/node/roialign.py
  onnx/backend/test/case/node/topk.py
  onnx/backend/test/case/node/trilu.py
  onnx/backend/test/case/node/unique.py
  onnx/backend/test/case/utils.py
  onnx/backend/test/runner/__init__.py
  onnx/defs/__init__.py
  onnx/test/data_propagation_test.py
  onnx/test/function_test.py
  onnx/test/helper_test.py
  onnx/test/model_container_test.py
  onnx/test/utils_test.py
  onnx/test/version_converter_test.py
  onnx/tools/update_model_dims.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update auto_update_doc.yml
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

fix: Use correct requirements file for release_mac_freethreading.yml (#6768)
  .github/workflows/release_mac_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update auto_update_doc.yml (#6792)
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

fix: dont' push wheels with the same filename to pypi twice (#6790)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Remove dependabot configs for dockerfiles (#6789)
  .github/dependabot.yml
Owners: @onnx/sig-archinfra-approvers

fix non existing requirements-file
  .github/workflows/release_mac_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

fix non existing requirements-file (#6796)
  .github/workflows/release_mac_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

fix wrong use of always in release_linux_x86_64.yml (#6797)
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update googletest.cmake
  cmake/external/googletest.cmake
Owners: @onnx/sig-archinfra-approvers

Update gtest to version > v1.16.0 (commit of 8March25) (#6783)
  cmake/external/googletest.cmake
Owners: @onnx/sig-archinfra-approvers

hard code docker image
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

windows-latest -> windows-2022
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

hardcode version
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Remove ignore_type suppression
  onnx/backend/test/report/__init__.py
  onnx/backend/test/report/coverage.py
  onnx/numpy_helper.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update __init__.py
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

Update __init__.py
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

Update __init__.py
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

Update requirements.txt
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Update requirements.txt
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

hard code docker image docker://quay.io/pypa/manylinux2014_x86_64:2025.02.28-1 in release pipeline (#6799)
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

windows-latest -> windows-2022 (#6800)
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_win.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Deprecate printable_graph in helper
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  requirements.txt
Owners: @onnx/sig-archinfra-approvers
