Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

add comments of the new argument of getShapeInput
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Check the input of ConstantOfShape to be non-negative (#6691)
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

TypoFix in float8.md for
  docs/docsgen/source/technical/float8.md
Owners: @onnx/sig-archinfra-approvers

TypoFix in float8.md (#6699)
  docs/docsgen/source/technical/float8.md
Owners: @onnx/sig-archinfra-approvers

Update recommended Protobuf version to 5.29.2 and other improvements in INSTALL.md
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Fix Pad operator example in Python API docs (correct attribute usage)
  docs/PythonAPIOverview.md
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Improve CMake summary
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main_freethreading.yml
  requirements-dev_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

Use Python3_add_library to simplify code
  CMakeLists.txt
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update recommended Protobuf version and other improvements in INSTALL.md (#6701)
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Fix Pad operator example in Python API docs (correct attribute usage) (#6702)
  docs/PythonAPIOverview.md
Owners: @onnx/sig-archinfra-approvers

Use Python3_add_library to simplify build code (#6705)
  CMakeLists.txt
  setup.py
Owners: @onnx/sig-archinfra-approvers

Test tensor type inaccuracy in the docs
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Change for clarity
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Hardcoding the docker image version, adding the information which docker images are used (#6663)
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Fix a tensor type inaccuracy in the docs (#6707)
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

Remove onnxruntime tests
  onnx/test/elu_test.py
  onnx/test/relu_test.py
  onnx/test/test_backend_onnxruntime.py
  onnx/test/test_with_ort.py
Owners: @onnx/sig-archinfra-approvers

update lint
  onnx/version_converter/adapters/softmax_13_12.h
Owners: @onnx/sig-archinfra-approvers

append softmax 13 -> 12 converter
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

add test code for softmax 13->12
  onnx/test/version_converter_test.py
Owners: @onnx/sig-archinfra-approvers

Remove onnxruntime tests (#6709)
  onnx/test/elu_test.py
  onnx/test/relu_test.py
  onnx/test/test_backend_onnxruntime.py
  onnx/test/test_with_ort.py
Owners: @onnx/sig-archinfra-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Start Intro Source_data_epoch
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Add `dtype` tests for various operators (#6687)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/add.py
  onnx/backend/test/case/node/div.py
  onnx/backend/test/case/node/equal.py
  onnx/backend/test/case/node/greater.py
  onnx/backend/test/case/node/greater_equal.py
  onnx/backend/test/case/node/less.py
  onnx/backend/test/case/node/less_equal.py
  onnx/backend/test/case/node/mul.py
  onnx/backend/test/case/node/sub.py
Owners: @onnx/sig-operators-approvers

nit changes
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update main_freethreading.yml
  .github/workflows/main_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

minor edits
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add node tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add rotary embeddings schema
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

minor updates
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers
