Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update onnx/backend/test/case/node/attention.py
  onnx/backend/test/case/node/attention.py
Owners: @onnx/sig-operators-approvers

Update onnx/backend/test/case/node/attention.py
  onnx/backend/test/case/node/attention.py
Owners: @onnx/sig-operators-approvers

Update onnx/backend/test/case/node/attention.py
  onnx/backend/test/case/node/attention.py
Owners: @onnx/sig-operators-approvers

Update the saturating behavior for E4M3FNUZ/E5M2FNUZ in Cast and CastLike
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

revert
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

Update the saturating behavior for E4M3FNUZ/E5M2FNUZ in Cast and CastLike (#7130)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Delete .gitignore
  .gitignore
Owners: @onnx/sig-archinfra-approvers

Switch order of steps in release_win_x86_64.yml (#7125)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

add top level permissions (Update pixi_build.yml) (#7126)
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

define top level permission (Update copilot-setup-steps.yml) (#7127)
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

Fix RMS norm function definition
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
Owners: @onnx/sig-operators-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_shape_start_greater_than_end/model.onnx
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Fix ELU and Softplus operators to support tensors of any shape (#7136)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Fix Einsum shape inference segfault for scalar inputs (#7055)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/einsum.py
  onnx/backend/test/data/node/test_einsum_scalar/model.onnx
  onnx/backend/test/data/node/test_einsum_scalar/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_einsum_scalar/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix Shape operator specification: correct range bounds and document start > end behavior (#7132)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/shape.py
  onnx/backend/test/data/node/test_shape_start_greater_than_end/model.onnx
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/output_0.pb
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Update onnx/inliner/inliner.cc
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_trilu.py
  onnx/reference/ops/op_trilu.py
Owners: @onnx/sig-operators-approvers

fix bracket
  onnx/reference/ops/op_trilu.py
Owners: @onnx/sig-operators-approvers

Generate tests
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
Owners: @onnx/sig-operators-approvers

Add support for constructing functions with graph attributes (#7112)
  .gitignore
  onnx/defs/function.cc
  onnx/defs/function.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix RMS norm function definition (#7135)
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Make some op-level shape inference functions public (#7091)
  onnx/defs/nn/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Implement saturate_cast
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

format
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Update numpy_helper.py
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Add FP6 support for issue #7048
  docs/IR.md
  docs/docsgen/source/technical/float6.md
  docs/docsgen/source/technical/index.md
  onnx/_custom_element_types.py
  onnx/_mapping.py
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/operator_sets.h
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/numpy_helper_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Final tweaks for FP6 support PR
  onnx/defs/parser.cc
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Address review: complete FP6 docs, impl, tests; fix opset
  docs/docsgen/source/technical/float6.md
  onnx/_mapping.py
  onnx/defs/quantization/defs.cc
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove failing 3.13t (release_win_x86_64.yml)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers
