Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Hard-code expected QLinearConv outputs
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Migrate to ubuntu-24.04 runner (#6373)
  .github/workflows/main.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/compose.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/hub.py
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/gen_proto.py
  onnx/gen_proto.py
Owners: @onnx/sig-archinfra-approvers

Add back ruff suppression
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code (#6470)
  onnx/compose.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

optimize dfs my dict
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

move output_to_index_node outside
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/reference/ops/_op_list.py
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

check if input_name is in the dict
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

lint the code
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/reference/ops/_helpers.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/_op_list.py
Owners: @onnx/sig-operators-approvers

skip if visited
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/reference/op_run.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/backend/base.py
  onnx/external_data_helper.py
  onnx/helper.py
  onnx/mapping.py
  onnx/model_container.py
  onnx/shape_inference.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/test/test_backend_onnxruntime.py
  onnx/test/test_backend_reference.py
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers

not storing node in dict
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

try to match previous behavior
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

change name
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

move _input_names
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

use not in
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

remove input check
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Optimize dfs in extract_model by dict (#6472)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

More robust utf-8 string conversions on Windows (#6454)
  onnx/common/file_utils.h
  onnx/common/path.h
  onnx/test/cpp/utf8_conversion_test.cc
Owners: @onnx/sig-archinfra-approvers

optimize by queue
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Fix path code
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

use pop to replace if
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

allows infer_shapes to take path input
  onnx/shape_inference.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

update doc
  onnx/shape_inference.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

simplify infer_shapes
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Optimize collect_referred_local_functions in extract_model (#6478)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

load from input if not infer
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/reference/ops/_op_list.py
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Restore issub check
  onnx/reference/ops/_helpers.py
Owners: @onnx/sig-operators-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/reference/op_run.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove dead code
  onnx/reference/ops/experimental/_op_list.py
Owners: @onnx/sig-operators-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/reference/ops/_helpers.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/_op_list.py
Owners: @onnx/sig-operators-approvers

raise if output_path is empty
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers
