Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
Owners: @onnx/sig-operators-approvers

update
  onnx/common/assertions.cc
  onnx/common/assertions.h
Owners: @onnx/sig-archinfra-approvers

update
  onnx/common/assertions.h
Owners: @onnx/sig-archinfra-approvers

update
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/q_dq_21_20.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers

update
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

update
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers

update
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/q_dq_21_20.h
Owners: @onnx/sig-archinfra-approvers

update
  onnx/version_converter/adapters/type_restriction.h
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Keep non-tensor type information in IR (#7592)
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers

Fix create_releases.yml (#7605)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Clarify offline nanobind guidance
  CMakeLists.txt
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

CMake: improve nanobind discovery for offline builds (#7530)
  CMakeLists.txt
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Ignore .pb files from github language classification
  .gitattributes
Owners: @onnx/sig-archinfra-approvers

Ignore .pb files from github language classification (#7606)
  .gitattributes
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks.yml
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks.yml
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks.yml
Owners: @onnx/sig-archinfra-approvers

update
  onnx/common/assertions.cc
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/gemm_7_6.h
Owners: @onnx/sig-archinfra-approvers

Preserve value info for mapped outputs
  onnx/compose.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Update compose value_info test
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

update
  onnx/common/assertions.h
Owners: @onnx/sig-archinfra-approvers

update
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/q_dq_21_20.h
  onnx/version_converter/adapters/type_restriction.h
Owners: @onnx/sig-archinfra-approvers

Build option for OpenSSF Compiler Hardening Flags (#7601)
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/summary.cmake
  onnx/common/assertions.cc
  onnx/common/assertions.h
  onnx/defs/schema.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
  onnx/version_converter/adapters/Attention_24_23.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/q_dq_21_20.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/weekly_modelzoo.yml
Owners: @onnx/sig-archinfra-approvers

IR: Add API to generate unique name for consistency
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Use Protobuf defaults when attribute is present but value is not
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Added test
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Linter fixes
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

IR: Add API to generate unique name for consistency (#7609)
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7613)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Clarify DFT behavior when inverse=True and onesided=True (irfft) (#7574)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dft.py
  onnx/backend/test/data/node/test_dft_irfft/model.onnx
  onnx/backend/test/data/node/test_dft_irfft/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_irfft/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_irfft/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_irfft_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_irfft_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_irfft_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_rfft/model.onnx
  onnx/backend/test/data/node/test_dft_rfft/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_rfft/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_rfft/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_rfft_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_rfft_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_rfft_opset19/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_dft.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Refactor test_protobuf_default to use text_format
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Fix default attribute values in shape inference (#7602)
  onnx/defs/shape_inference.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

IR: Fix use after free in eraseInitializerAndInput
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Add unit tests for Reshape shape inference with inputProduct=0
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Review comments
  docs/proposals/0000-template.md
  docs/proposals/0001-ArchiveFileFormatProposal.md
  docs/proposals/0002-NLPinONNXproposal.md
  docs/proposals/0003-ONNXIFIproposal.md
  docs/proposals/0004-FunctionsProposal.md
  docs/proposals/0005-SymbolicShapeInfProposal.md
  docs/proposals/0006-ONNXMultiDeviceProposal.md
  docs/proposals/0007-ShardingFormalism.md
Owners: @onnx/sig-archinfra-approvers

Delete _codeql_detected_source_root
  _codeql_detected_source_root
Owners: @onnx/sig-archinfra-approvers

address spec in lpnorm
  onnx/backend/test/case/node/lpnormalization.py
  onnx/defs/doc_strings.cc
  onnx/reference/ops/op_lp_normalization.py
Owners: @onnx/sig-operators-approvers
