Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Format code
  onnx/defs/printer.cc
Owners: @onnx/sig-archinfra-approvers

[Cherry-Pick] Fix main url checks (#6312) (#6327)
  .github/workflows/check_urls.yml
  docs/ImplementingAnOnnxBackend.md
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Fix model extraction utility (#6344)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Extend printer and parser to support invalid identifiers (#6346)
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Support node label in printer and parser
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Fix some errors
  onnx/defs/parser.cc
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

use commit hash
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Test for Python 3.13
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add python 3.13
  .github/workflows/main.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Add missing matrix.target-architecture ? (Update release_mac.yml) (#6350)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Some performance fixes in C++ code, use of emplace instead of insert (#6304)
  onnx/common/file_utils.h
  onnx/common/ir.h
  onnx/common/tensor.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor/utils.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Format code
  onnx/defs/tensor/utils.cc
Owners: @onnx/sig-operators-approvers

Use reference
  onnx/defs/tensor/utils.cc
Owners: @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/defs/shape_inference.cc
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Revert some changes
  onnx/defs/data_type_utils.cc
Owners: @onnx/sig-operators-approvers

Fix include-what-you-use warnings
  onnx/defs/math/utils.h
Owners: @onnx/sig-operators-approvers

Fix some clang-tidy warnings (#6353)
  onnx/checker.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/defs/shape_inference.cc
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix NonMaxSuppression default values in ReferenceEvaluator
  onnx/reference/custom_element_types.py
  onnx/reference/ops/op_non_max_suppression.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

lint
  onnx/reference/ops/op_non_max_suppression.py
Owners: @onnx/sig-operators-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

BugFix: make sure that unique files names are used before uploading the wheels (#6355)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix NonMaxSuppression default values in ReferenceEvaluator (#6354)
  onnx/reference/custom_element_types.py
  onnx/reference/ops/op_non_max_suppression.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Simplify create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Simplify create_release.yml (#6357)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

initial commit
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix static analyzer warnings
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/adapter.h
  onnx/version_converter/adapters/axes_attribute_to_input.h
  onnx/version_converter/adapters/axis_attribute_to_input.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/broadcast_forward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/type_restriction.h
Owners: @onnx/sig-archinfra-approvers

Fix static analyzer warnings
  onnx/defs/sequence/defs.cc
Owners: @onnx/sig-operators-approvers

Fix static analyzer warnings
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_ml.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
Owners: @onnx/sig-operators-approvers

Fix static analyzer warnings
  onnx/checker.cc
  onnx/common/file_utils.h
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Format code
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

Handle optional identifier and add test case
  onnx/defs/parser.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Support node labels in parser and printer (#6349)
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Test with the latest protobuf because protobuf/issues/18045 is fixed
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix typo in the GroupNorm description (#6358)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add Swish Operator
  onnx/backend/test/case/node/swish.py
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers
