Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

rename release win
  .github/workflows/create_release.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

add switch release vs final
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

fix lint
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-archinfra-approvers

fix test of squeeze-11
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Remove unused variables (#6303)
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/inliner/inliner.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix/workaround dll load failure due to a breaking change in msvc 17.10
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

split publish to pypi and testpypi to seperate jobs
  .github/workflows/create_release.yml
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

better comments
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

reduce deps
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

yamllint
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sourcedist.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

[Cherry-Pick] Remove unused variables (#6303) (#6324)
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/inliner/inliner.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix main url checks (#6312)
  .github/workflows/check_urls.yml
  docs/ImplementingAnOnnxBackend.md
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

BF: fix branch name: Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

BF: fix condition for publishing to testpypi (Update create_release.yml) (#6338)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Lint
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/reference/ops/aionnxml/op_dict_vectorizer.py
  onnx/reference/ops/aionnxml/op_svm_classifier.py
  onnx/reference/ops/op_loop.py
  onnx/reference/ops/op_scan.py
  onnx/test/test_backend_onnxruntime.py
  onnx/test/test_backend_test.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update test_backend_test.py
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers

Update op_scan.py
  onnx/reference/ops/op_scan.py
Owners: @onnx/sig-operators-approvers

The latest protobuf pkg 5.28.0 is failing on Windows. use the one preoriing it for testing
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Build onnx with newer protobuf
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

https://github.com/protocolbuffers/protobuf/archive/refs/tags/v3.28.0.tar.gz
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

clone source and build
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

Fix shape inference for Squeeze-1,11 with dynamic input shape (#6314)
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix OOB in data propagation of math ops when input is broadcasted to zero (#6323)
  onnx/defs/math/defs.cc
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update defs.cc
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

correct comment
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

protobuf!=5.28.0\
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Make checking and inference conditional in extract model
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Make shape inference also conditional
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

The latest protobuf pkg 5.28.0 is failing on Windows. use the one pre… (#6342)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Setup codecov test analysis
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Extend printer and parser to support invalid identifiers
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Set up codecov test analysis (#6345)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

The latest protobuf pkg 5.28.0 is failing on Windows. use the one pre… (#6342)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

[Cherry-Pick] Fix protobuf pkg 5.28.0 failing on Windows (#6342) (#6347)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update syntax doc and add another testcase
  docs/Syntax.md
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers
