Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update
  .github/workflows/scientific.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Simplify conditions in workflow
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Simplify conditions in workflow (#7588)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Align integer Div with truncating semantics
  docs/Operators.md
  onnx/backend/test/case/node/div.py
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_div.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Inline integer Div doc notes
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_div.py
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Keep non-tensor type information in IR
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers

Update pyproject.toml
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Add RFC template based on Rust's template
  docs/proposals/0000-template.md
  docs/proposals/README.md
Owners: @onnx/sig-archinfra-approvers

Drop reference evaluator Div truncation test
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_div_int32_trunc/model.onnx
  onnx/backend/test/data/node/test_div_int32_trunc/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_div_int32_trunc/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_div_int32_trunc/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Create release-verification.md
  docs/release-verification.md
Owners: @onnx/sig-archinfra-approvers

Update generated docs for Div integer semantics
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Fix Div integer semantics to use trunc division (#7585)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/div.py
  onnx/backend/test/data/node/test_div_int32_trunc/model.onnx
  onnx/backend/test/data/node/test_div_int32_trunc/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_div_int32_trunc/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_div_int32_trunc/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_div.py
Owners: @onnx/sig-operators-approvers

remove invalid upgrade test case
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-archinfra-approvers

clarify DFT behavior when inverse=True and onesided=True (irfft)
  onnx/backend/test/case/node/dft.py
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_dft.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix some more tests
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_dft_irfft/model.onnx
  onnx/backend/test/data/node/test_dft_irfft/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_irfft/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_irfft/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_irfft_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_irfft_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_irfft_opset19/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_rfft/model.onnx
  onnx/backend/test/data/node/test_dft_rfft/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_rfft/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dft_rfft/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dft_rfft_opset19/model.onnx
  onnx/backend/test/data/node/test_dft_rfft_opset19/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dft_rfft_opset19/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Update release-verification.md
  docs/release-verification.md
Owners: @onnx/sig-archinfra-approvers

Update release-verification.md
  docs/release-verification.md
Owners: @onnx/sig-archinfra-approvers

Update release-verification.md
  docs/release-verification.md
Owners: @onnx/sig-archinfra-approvers

fixing verbose logging error at verbose=3 for reference evaluator
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Apply suggestion from @justinchuby
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-archinfra-approvers

Fixing verbose logging error at verbose=3 for reference_evaluator (#7597)
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Create release-verification.md (#7595)
  docs/release-verification.md
Owners: @onnx/sig-archinfra-approvers

Update renovate.json5
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

Update renovate.json5
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

Add renovate for updating docker images (#7572)
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

update
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

Update renovate config (#7600)
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

update
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

update
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Rename original_type to type
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers
