Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update release_test_weekly_sdist.yml
  .github/workflows/release_test_weekly_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Install missing pytest; Update release_test_weekly_sdist.yml (#6617)
  .github/workflows/release_test_weekly_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Enable readability checks
  .clang-tidy
  onnx/checker.cc
  onnx/common/assertions.h
  onnx/common/ir.h
  onnx/cpp2py_export.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/controlflow/utils.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/old.cc
  onnx/defs/printer.cc
  onnx/defs/shape_inference.cc
  onnx/defs/traditionalml/defs.cc
  onnx/test/cpp/shape_inference_test.cc
  onnx/version_converter/adapters/scan_9_8.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove where for rotary dim
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_no_position_ids_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_interleaved_rotary_dim_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
  tools/update_doc.sh
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Enable more readability checks (#6618)
  .clang-tidy
  onnx/checker.cc
  onnx/common/assertions.h
  onnx/common/ir.h
  onnx/cpp2py_export.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/controlflow/utils.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/old.cc
  onnx/defs/printer.cc
  onnx/defs/shape_inference.cc
  onnx/defs/traditionalml/defs.cc
  onnx/test/cpp/shape_inference_test.cc
  onnx/version_converter/adapters/scan_9_8.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fix lint error
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

Allow scale type in QuantizeLinear and DequantizeLinear to be different from the high-precision type (#6531)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

Inital
  onnx/defs/traditionalml/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add onehotencoder tests
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Appease linter
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

basic install instruction in readme
  README.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Move INSTALL instruction to separate file (#6560)
  INSTALL.md
  README.md
Owners: @onnx/sig-archinfra-approvers

fix typo: Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Fix ordering of checks
  onnx/defs/traditionalml/defs.cc
Owners: @onnx/sig-operators-approvers

Improve attribute checking in `CategoryMapper` (#6619)
  onnx/defs/traditionalml/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix typo: Update README.md (#6620)
  README.md
Owners: @onnx/sig-archinfra-approvers

Run workflow if specific label was set
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Expose cxx standard
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Expose cxx standard (#6625)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Remove vscode settings
  .vscode/settings.json
Owners: @onnx/sig-archinfra-approvers

Improve ml_dtypes compatibility
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Fix
  onnx/reference/custom_element_types.py
  onnx/reference/ops/_op.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

snap
  onnx/reference/custom_element_types.py
  onnx/reference/ops/_op.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

modified skip inputs
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add function for skip norms
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Fix schemas for skip norms
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example/test_data_set_0/output_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/test_data_set_0/output_1.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

add ref_impl, shape_inference_test
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix some tests
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

remove duplicate impls
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rmsnormalization.py
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization,py
  onnx/backend/test/data/node/test_skip_layer_normalization_2d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_3d_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_epsilon_example_expanded/model.onnx
  onnx/backend/test/data/node/test_skip_layer_normalization_scaling_factor_example_expanded/model.onnx
  onnx/defs/nn/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint fixes
  onnx/backend/test/case/node/skiplayernormalization.py
  onnx/backend/test/case/node/skiprmsnormalization.py
  onnx/defs/function.h
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_rms_normalization.py
  onnx/reference/ops/op_skip_layer_normalization.py
  onnx/reference/ops/op_skip_rms_normalization.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add rotary embeddings schema
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

minor edits
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

minor updates
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add node tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_rotary_embedding_with_different_shapes_expanded/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Replace with scatterND
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

fix some test failures
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers
