Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

fix: linting errors fixed
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Update weekly_mac_ci.yml
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

Update weekly_mac_ci.yml
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

Update and rename weekly_mac_ci.yml to weekly_modelzoo.yml
  .github/workflows/weekly_modelzoo.yml
Owners: @onnx/sig-archinfra-approvers

update
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

fix: fallback to constructor with string with -mmacosx-version-min < 10.15
  onnx/common/file_utils.h
Owners: @onnx/sig-archinfra-approvers

Add Pixi development environment
  .github/workflows/pixi-build.yml
  INSTALL.md
  REUSE.toml
  pixi.lock
  pixi.toml
Owners: @onnx/sig-archinfra-approvers

Add ml_dtypes as a requirement
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Add ml_dtypes as a requirement (#7045)
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

Update dependencies and remove linter calls from CI
  .github/workflows/pixi-build.yml
  INSTALL.md
  pixi.lock
  pixi.toml
Owners: @onnx/sig-archinfra-approvers

Run pixi CI on Windows
  .github/workflows/pixi-build.yml
  INSTALL.md
  pixi.lock
  pixi.toml
Owners: @onnx/sig-archinfra-approvers

use newest python 3.13 version in Update release_win_aarch64.yml
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Add Pixi development environment (#7044)
  .github/workflows/pixi-build.yml
  INSTALL.md
  REUSE.toml
  pixi.lock
  pixi.toml
Owners: @onnx/sig-archinfra-approvers

use newest python 3.13 version in release_win_aarch64.yml (#7046)
  .github/workflows/release_win_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update and rename pixi-build.yml to pixi_build.yml
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Replace requirements-release with requirements-release_build in weekly_modelzoo.yml (#7039)
  .github/workflows/weekly_modelzoo.yml
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Update and rename pixi-build.yml to pixi_build.yml (#7047)
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Use pybind11_add_module (#7034)
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

clean up unnecessary dependencies in entrypoint.sh (#7051)
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Delete docs/proposals/ONNXIFIproposal.md
  docs/proposals/ONNXIFIproposal.md
Owners: @onnx/sig-archinfra-approvers

Fix extra-semi-stmt warnings (#6771)
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.cc
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/tensor.h
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.h
  onnx/inliner/inliner.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/batch_normalization_13_14.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/gemm_6_7.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/maxpool_8_7.h
  onnx/version_converter/adapters/no_previous_version.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Link onnx_cpp2py_export with OBJECT library because it used private symbols of ONNX
  CMakeLists.txt
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Fix cross-compiling
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

fix: updated the `_is_path_traversal` function
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

fix: fixed linting error
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

fix: prevented absolute paths and cleaned path traversal logic
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

fix: adjusted the test and restricted path traversal
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/reference/ops/op_resize.py
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_resize.py
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_resize.py
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_resize.py
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Update readme.md
  community/readme.md
Owners: @onnx/steering-committee

Update requirements-dev.txt
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers
