Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Use std::move
  onnx/version_converter/adapters/upsample_9_8.h
Owners: @onnx/sig-archinfra-approvers

Use reinterpret_cast
  onnx/common/tensor.h
Owners: @onnx/sig-archinfra-approvers

Fix invalid use of const_cast (#6451)
  onnx/common/tensor.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/upsample_9_8.h
Owners: @onnx/sig-archinfra-approvers

Apply clang-tidy to array_ref
  onnx/common/array_ref.h
Owners: @onnx/sig-archinfra-approvers

Replace std::unique_ptr<Ts[]> with std::vector<Ts>
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Use const reference/pointer
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/shape_inference.h
  onnx/version_converter/adapters/type_restriction.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/cpp2py_export.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Use enum class (#6450)
  onnx/common/model_helpers.cc
  onnx/common/status.cc
  onnx/common/status.h
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/common/array_ref.h
Owners: @onnx/sig-archinfra-approvers

Fix static analyzer warnings (#6449)
  onnx/common/array_ref.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/cpp2py_export.cc
  onnx/defs/shape_inference.h
  onnx/test/cpp/function_verify_test.cc
  onnx/test/cpp/shape_inference_test.cc
  onnx/version_converter/adapters/type_restriction.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix exception handling
  onnx/test/cpp/function_context_test.cc
Owners: @onnx/sig-archinfra-approvers

Support models larger than 2GB (#6438)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Fix excpetion handling (#6453)
  onnx/test/cpp/function_context_test.cc
Owners: @onnx/sig-archinfra-approvers

Add missing CHECK_PARSER_STATUS
  onnx/defs/parser.cc
Owners: @onnx/sig-archinfra-approvers

Use ParseOptionalIdentifier
  onnx/defs/parser.cc
Owners: @onnx/sig-archinfra-approvers

Tiny fixes
  onnx/defs/parser.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/checker.cc
  onnx/cpp2py_export.cc
  onnx/defs/shape_inference.h
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add missing CHECK_PARSER_STATUS (#6448)
  onnx/defs/parser.cc
Owners: @onnx/sig-archinfra-approvers

Move suggest fixes to a separate CI workflow
  .github/workflows/lint.yml
  .github/workflows/pr_checks.yml
Owners: @onnx/sig-archinfra-approvers

More robust utf8 handing on Windows
  onnx/common/file_utils.h
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

Add test
  onnx/common/path.h
  onnx/test/cpp/utf8_conversion_test.cc
Owners: @onnx/sig-archinfra-approvers

add patch
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update requirements-release.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Patch protobuf for header errors
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

patch protobuf version
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

First try to support torch Tensor for the reference evaluator
  onnx/reference/__init__.py
  onnx/reference/op_run.py
  onnx/reference/ops/aionnx_preview_training/op_adagrad.py
  onnx/reference/ops/aionnx_preview_training/op_adam.py
  onnx/reference/ops/aionnxml/op_binarizer.py
  onnx/reference/ops/op_abs.py
  onnx/reference/ops/op_acos.py
  onnx/reference/ops/op_acosh.py
  onnx/reference/ops/op_add.py
  onnx/reference/ops/op_affine_grid.py
  onnx/reference/ops/op_and.py
  onnx/reference/ops/op_div.py
  onnx/reference/ops/op_matmul.py
  onnx/test/reference_evaluator_torch_test.py
  onnx/test/test_backend_torch.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

fix misspelling
  onnx/reference/ops/op_acosh.py
Owners: @onnx/sig-operators-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add default value
  onnx/reference/ops/op_affine_grid.py
Owners: @onnx/sig-operators-approvers

Turn enum DifferentiationCategory to enum class DifferentiationCategory
  onnx/cpp2py_export.cc
  onnx/defs/image/defs.cc
  onnx/defs/logical/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/text/defs.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update CMakeLists.txt
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/defs/image/defs.cc
  onnx/defs/logical/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/text/defs.cc
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers
