Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Set version in `rel-1.16.0` to 1.16.0rc1
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Fix Check URLs errors in `main`
  .github/workflows/check_urls.yml
  docs/Hub.md
Owners: @onnx/sig-archinfra-approvers

Fix Check URLs errors in `rel-1.16.0`
  .github/workflows/check_urls.yml
  docs/Hub.md
Owners: @onnx/sig-archinfra-approvers

Exclude test data
  onnx/backend/test/stat_coverage.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Set version in `rel-1.16.0` to 1.16.0rc1 (#5969)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Fix Check URLs errors in `main` (#5972)
  .github/workflows/check_urls.yml
  docs/Hub.md
Owners: @onnx/sig-archinfra-approvers

fix bug
  onnx/cpp2py_export.cc
  onnx/defs/schema.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

[Cherry-pick] Fix Check URLs errors in `rel-1.16`
  .github/workflows/check_urls.yml
  docs/Hub.md
Owners: @onnx/sig-archinfra-approvers

[Cherry-pick] Fix Check URLs errors in `rel-1.16` (#5973)
  .github/workflows/check_urls.yml
  docs/Hub.md
Owners: @onnx/sig-archinfra-approvers

Uuse CMAKE_PREFIX_PATH in finding libprotobuf
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

minor fix
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

minor fix
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

Use CMAKE_PREFIX_PATH in finding libprotobuf (#5975)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

Fix typos (#5944)
  docs/docsgen/source/intro/python.md
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Bump `main` VERSION_NUMBER to 1.17.0 (#5968)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Fix source and pip tar.gz builds on s390x systems (#5984)
  pyproject.toml
  setup.py
Owners: @onnx/sig-archinfra-approvers

[Cherry-pick] Fix builds from source and pip tar.gz on s390x systems
  pyproject.toml
  setup.py
Owners: @onnx/sig-archinfra-approvers

### Description Set version in `rel-1.16.0` to 1.16.0rc2
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Move data dependent tests into top-level tests
  onnx/backend/test/loader/__init__.py
  onnx/backend/test/runner/__init__.py
  pyproject.toml
  tests/backend/test_backend_onnxruntime.py
  tests/backend/test_backend_reference.py
  tests/backend/test_backend_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix bug in shape inference
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Fix description error
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

fix bug and add unittest
  onnx/defs/schema.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

deregister in unittest
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

reformat py lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

fix unique_name
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Fix unique_name (#5992)
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Set version in `rel-1.16.0` to 1.16.0rc2 (#5987)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Apply suggestions from code review
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

[Cherry-pick] Fix unique_name
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Fix SegFault bug in shape inference (#5990)
  onnx/defs/schema.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

[Cherry-pick] Fix unique_name (#5994)
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Fix path
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

[Cherry-pick]Fix SegFault bug in shape inference
  onnx/defs/schema.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

[Cherry-pick]Fix SegFault bug in shape inference (#5995)
  onnx/defs/schema.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use CMAKE_PREFIX_PATH in finding libprotobuf (#5975)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

[Cherry-pick] Use CMAKE_PREFIX_PATH in finding libprotobuf (#5975)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

iterating through nodes recursively
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers

change imports
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers

formatting changes
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/compose.py
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers
