Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update Protobuf to latest version (Win) (#6362)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix more static analyser warnings (#6360)
  onnx/checker.cc
  onnx/common/file_utils.h
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_ml.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/adapter.h
  onnx/version_converter/adapters/axes_attribute_to_input.h
  onnx/version_converter/adapters/axis_attribute_to_input.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/broadcast_forward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix static analyzer warnings
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.h
  onnx/common/model_helpers.cc
  onnx/common/model_helpers.h
  onnx/common/status.h
  onnx/common/visitor.h
  onnx/defs/data_propagators.h
  onnx/defs/function.h
  onnx/defs/printer.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
  onnx/inliner/inliner.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

comment out google-re2
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

update
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

update rc
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add setuptools?
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add marker for python version 3.13
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

set range for numpy
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

fix requirements
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

comment out nbval
  .github/workflows/win_no_exception_ci.yml
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

change way of installing
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

use environment markers
  requirements-dev.txt
  requirements-reference.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  requirements-dev.txt
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

fix requ
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

rearrange marker
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Fix more static analyzer warnings (#6363)
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.h
  onnx/common/model_helpers.cc
  onnx/common/model_helpers.h
  onnx/common/status.h
  onnx/common/visitor.h
  onnx/defs/data_propagators.h
  onnx/defs/function.h
  onnx/defs/printer.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
  onnx/inliner/inliner.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix reference implementation for ConcatFromSequence
  onnx/reference/ops/op_concat_from_sequence.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

limit google-re < python 3.13
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

add ubuntu 24.04 to build onnx step
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

change 24.04 -> latest
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

limit numpy version
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

fix numpy dep
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

limit versions
  requirements-dev.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Restoring the feature via labels to initiate a run
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Test ubuntu-24.04 runner
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

adapt dep
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers
