Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update ci
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Fix CI on Windows 3.12
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update onnx/reference/custom_element_types.py
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/reference/custom_element_types.py
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/reference/custom_element_types.py
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Fix CI on Windows 3.12 (#6179)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

yupdate
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Fix conversion of unrepresentable dtypes in s390x
  onnx/helper.py
  onnx/mapping.py
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Update testcases to byteswap raw data for make_tensor on big endian systems
  onnx/test/helper_test.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

add header
  .github/workflows/check_urls.yml
  .github/workflows/pages.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

fix retry count, top level
  .github/workflows/auto_update_doc.yml
  .github/workflows/check_urls.yml
Owners: @onnx/sig-archinfra-approvers

add missing permissions
  .github/workflows/auto_update_doc.yml
  .github/workflows/dco_merge_group.yml
Owners: @onnx/sig-archinfra-approvers

Add alternative approach for model conversion
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Fix reference implementation for ScatterND with 4D tensors (#6174)
  onnx/reference/ops/op_scatter_elements.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Addition of group > 1 in test and in backend for ConvTranspose (#6175)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/convtranspose.py
  onnx/backend/test/data/node/test_convtranspose_group_2/model.onnx
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/model.onnx
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/output_0.pb
  onnx/reference/ops/op_conv_transpose.py
Owners: @onnx/sig-operators-approvers

a) add license/Copyright header, b) add missing TopLevel Security (#6184)
  .github/workflows/auto_update_doc.yml
  .github/workflows/check_urls.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/pages.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix wrong test name (causing test files of previous test with same name to be overwritten)
  onnx/backend/test/case/node/reducesum.py
Owners: @onnx/sig-operators-approvers

Refactor windows workflow to work on standard windows
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Add alternative approach in ONNX converter section (#6188)
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Fix a few crashes while running shape inference
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/shape_inference.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

rename test with test_
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/resize.py
  onnx/backend/test/data/node/export_resize_tf_crop_and_resize/model.onnx
  onnx/backend/test/data/node/export_resize_tf_crop_and_resize_axes_2_3/model.onnx
  onnx/backend/test/data/node/export_resize_tf_crop_and_resize_axes_3_2/model.onnx
  onnx/backend/test/data/node/export_resize_tf_crop_and_resize_extrapolation_value/model.onnx
  onnx/backend/test/data/node/export_resize_upsample_sizes_nearest_not_larger/model.onnx
  onnx/backend/test/data/node/export_resize_upsample_sizes_nearest_not_smaller/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_2_3/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_2_3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_2_3/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_2_3/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_2_3/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_3_2/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_3_2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_3_2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_3_2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_axes_3_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/model.onnx
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/model.onnx
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

fix cast
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Rename test name with duplicated names, add logic to check it does not happen again (#6194)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/reducemax.py
  onnx/backend/test/case/node/reducesum.py
  onnx/backend/test/case/node/resize.py
  onnx/backend/test/data/node/test_reduce_max_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_max_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_max_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_max_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_negative_axes_keepdims_random/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_negative_axes_keepdims_random/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/model.onnx
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/model.onnx
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

add default implementation
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Support for bfloat16 for binary, unary operators in reference implementation (#6166)
  onnx/reference/custom_element_types.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_identity.py
  onnx/test/reference_evaluator_test.py
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

warning
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

add comment
  onnx/custom_element_types.py
  onnx/test/parser_test.py
Owners: @onnx/sig-archinfra-approvers

Try numpy 2.0
  .github/workflows/auto_update_doc.yml
  .github/workflows/main.yml
  CONTRIBUTING.md
  README.md
  docs/Changelog.md
  docs/Operators.md
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

lint
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Fix cast issues
  onnx/backend/test/case/node/adagrad.py
  onnx/backend/test/case/node/unique.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_pool_common.py
  onnx/subbyte.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix doc
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
Owners: @onnx/sig-operators-approvers

misspelling
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/unique.py
  onnx/reference/reference_evaluator.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix type issues
  onnx/reference/ops/aionnx_preview_training/op_adagrad.py
  onnx/reference/ops/op_lp_pool.py
  onnx/reference/ops/op_unique.py
Owners: @onnx/sig-operators-approvers
