Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update onnx/helper.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Use flake8-type-checking
  onnx/helper.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Use TYPE_CHECKING in more code
  onnx/checker.py
  onnx/compose.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/serialization.py
  onnx/shape_inference.py
  onnx/subbyte.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Refine type of attribute
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Fix -Wextra-semi-stmt
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.cc
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/tensor.h
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.h
  onnx/inliner/inliner.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/batch_normalization_13_14.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/gemm_6_7.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/maxpool_8_7.h
  onnx/version_converter/adapters/no_previous_version.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix linter
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Improve Python code typing (#6763)
  onnx/checker.py
  onnx/compose.py
  onnx/external_data_helper.py
  onnx/gen_proto.py
  onnx/helper.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/reference/ops/op_string_split.py
  onnx/reference/reference_evaluator.py
  onnx/serialization.py
  onnx/shape_inference.py
  onnx/subbyte.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Merge requirements-release_freethreading.txt into requirements-release.txt
  .github/workflows/release_mac_freethreading.yml
  requirements-release.txt
  requirements-release_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

Enable flake8-type-checking
  onnx/backend/base.py
  onnx/backend/sample/ops/__init__.py
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/case/model/expand.py
  onnx/backend/test/case/model/stringnormalizer.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/concat.py
  onnx/backend/test/case/test_case.py
  onnx/backend/test/case/utils.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/runner/item.py
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
  onnx/reference/custom_element_types.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_if.py
  onnx/reference/ops/op_leaky_relu.py
  onnx/reference/ops/op_pool_common.py
  onnx/reference/ops/op_split_to_sequence.py
  onnx/test/checker_test.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/schema_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  pyproject.toml
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update requirements-min.txt
  requirements-min.txt
Owners: @onnx/sig-archinfra-approvers

Enable flake8-type-checking (#6775)
  onnx/backend/base.py
  onnx/backend/sample/ops/__init__.py
  onnx/backend/test/case/model/__init__.py
  onnx/backend/test/case/model/expand.py
  onnx/backend/test/case/model/stringnormalizer.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/concat.py
  onnx/backend/test/case/test_case.py
  onnx/backend/test/case/utils.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/runner/__init__.py
  onnx/backend/test/runner/item.py
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
  onnx/reference/custom_element_types.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_if.py
  onnx/reference/ops/op_leaky_relu.py
  onnx/reference/ops/op_pool_common.py
  onnx/reference/ops/op_split_to_sequence.py
  onnx/test/checker_test.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/schema_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_test.py
  onnx/test/test_external_data.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  pyproject.toml
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update requirements-release_freethreading_win.txt
  requirements-release_freethreading_win.txt
Owners: @onnx/sig-archinfra-approvers

add win32
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

update
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Merge requirements-release_freethreading into requirements-release (#6776)
  .github/workflows/release_mac_freethreading.yml
  requirements-release.txt
  requirements-release_freethreading.txt
Owners: @onnx/sig-archinfra-approvers

Get rid of unused parameters and improve typing
  onnx/backend/base.py
  onnx/reference/op_run.py
  onnx/reference/ops/op_attribute_has_value.py
  onnx/reference/ops/op_lstm.py
  onnx/reference/ops/op_scan.py
  onnx/reference/ops/op_sequence_empty.py
  onnx/reference/ops/op_tfidf_vectorizer.py
  onnx/test/reference_evaluator_test.py
  onnx/test/test_backend_reference.py
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Bump ruff to 0.9.10
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

Add typing_extensions in more requirements files
  requirements-dev_freethreading.txt
  requirements-lintrunner.txt
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Lift min numpy version 1.25.2
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Bump ruff to 0.9.10 (#6780)
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

Adapt requirements files as 3.9 is the minimal supported python version (#6777)
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Update release_win_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

feat: freethreading python wheels for windows (#6764)
  .github/workflows/create_release.yml
  .github/workflows/release_win_freethreading.yml
  requirements-release_freethreading_win.txt
Owners: @onnx/sig-archinfra-approvers

Update googletest.cmake
  cmake/external/googletest.cmake
Owners: @onnx/sig-archinfra-approvers

Fix pylint warnings
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/castlike.py
  onnx/backend/test/stat_coverage.py
  onnx/reference/ops/op_split_to_sequence.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix invalid git command
  onnx/backend/test/case/node/__init__.py
Owners: @onnx/sig-operators-approvers

remove unnecessary x86 check
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update setup.py
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update sdist_test.yml
  .github/workflows/sdist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update sdist_test.yml
  .github/workflows/sdist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update sdist_test.yml
  .github/workflows/sdist_test.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
