Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Run lintrunner
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Fix INT4 TensorProto byte size is 5x larger than expected with negative values (#6161)
  onnx/helper.py
  onnx/reference/op_run.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Pin onnxruntime to 1.17.3 for release CIs (#6143)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

Fix INT4 TensorProto byte size is 5x larger than expected with negative values (#6161)
  onnx/helper.py
  onnx/reference/op_run.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

Remove benchmarking code (#6076)
  .gitmodules
  CMakeLists.txt
  cmake/summary.cmake
  tools/protobuf-bench.cc
Owners: @onnx/sig-archinfra-approvers

Update transpose doc
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.h
Owners: @onnx/sig-operators-approvers

Migrate CI to use Github Actions (#6075)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/main.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/external/googletest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Mention that perm is optional
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Prevent crash on import after GCC 8 builds (#6048)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add shape inference test for custom op (#6068)
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Update CI pipeline README (#6086)
  .github/workflows/main.yml
  README.md
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Add missing shape inference check for DequantizeLinear (#6080)
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

Check graph outputs are defined (#6083)
  onnx/checker.cc
  onnx/test/checker_test.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.1 branch (#6106)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Add/Format License/Copyright headers (#6128)
  .github/workflows/dco_merge_group.yml
  .github/workflows/main.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  CONTRIBUTING.md
  README.md
  RELEASE-MANAGEMENT.md
  SECURITY.md
Owners: @onnx/sig-archinfra-approvers

Corrected the ReduceSumSqure op to match the reference (#6121)
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix(ci): install python dependencies with `--only-binary :all:` in manylinux (#6120)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Fix input names for quantize/dequantize ONNX backend tests (#6122)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e4m3fn/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e5m2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint4/test_data_set_0/input_2.pb
Owners: @onnx/sig-operators-approvers

fix: install google-re2 with `--only-binary` option (#6129)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Revert "Corrected the ReduceSumSqure op to match the reference" (#6125)
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

chore(ci): build and test macOS universal2 wheels on macOS arm64 (#6117)
  .github/workflows/release_mac.yml
  docs/CIPipelines.md
  setup.py
Owners: @onnx/sig-archinfra-approvers

Specify axis parameter for DequantizeLinear when input rank is 1 (#6095)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

Verify model deletion after testing (#6127)
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

Pin onnxruntime to 1.17.3 for release CIs (#6143)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix INT4 TensorProto byte size is 5x larger than expected with negative values (#6161)
  onnx/helper.py
  onnx/reference/op_run.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Undo test case addition
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Support for bfloat16 for binary, unary operators in reference implementation
  onnx/reference/custom_element_types.py
  onnx/reference/ops/_op.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

lint
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

add missing dependency
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

add condition
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

fix install and identity node
  onnx/reference/ops/op_identity.py
  requirements-dev.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix requirements
  onnx/test/reference_evaluator_test.py
  requirements-dev.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

mypy
  onnx/reference/custom_element_types.py
Owners: @onnx/sig-archinfra-approvers

Upgrade protobuf to 3.25.2
  README.md
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

update link
  workflow_scripts/protobuf/build_protobuf_unix.sh
Owners: @onnx/sig-archinfra-approvers

url
  workflow_scripts/protobuf/build_protobuf_unix.sh
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

update protobuf
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers
