Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

# type: ignore[attr-defined]
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

# type: ignore[attr-defined]
  onnx/model_container.py
Owners: @onnx/sig-archinfra-approvers

Update proto to add metadata props
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

a
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

.
  onnx/external_data_helper.py
  onnx/model_container.py
Owners: @onnx/sig-archinfra-approvers

fix py code style
  onnx/onnx_cpp2py_export/defs.pyi
Owners: @onnx/sig-archinfra-approvers

Fix field number
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Run lintrunner
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

start with pipeline for official release
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

adapt documentation
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

use sha for github action
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

add schema inference py interface
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

fix type error
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

adapt condition
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update IR.md and fix typo
  docs/IR.md
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

import future annotation
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Update batchnorm documentation (number of outputs for training mode) (#5932)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Annotation style
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Q/DQ docs readability + 4bit info in onnx.proto (#5937)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add metadata to TensorProto
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Update inliner to propagate valueinfos
  onnx/inliner/inliner.cc
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Add overload impl to `RegisterSchema` for compatibility Use `move` instead of `forward` Remove default domain value in `DeregisterSchema`
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update proto to add metadata props (#5938)
  docs/IR.md
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Introduce type aliases for function ids
  onnx/common/proto_util.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Format file
  onnx/common/proto_util.h
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update onnx/cpp2py_export.cc
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Update onnx/cpp2py_export.cc
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Update onnx/external_data_helper.py
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/test/test_external_data.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

use static_cast, checker module
  onnx/common/path.h
  onnx/external_data_helper.py
  onnx/model_container.py
Owners: @onnx/sig-archinfra-approvers

_resolve_external_data_location
  onnx/external_data_helper.py
  onnx/model_container.py
Owners: @onnx/sig-archinfra-approvers

Add newline
  onnx/common/proto_util.h
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/common/path.h
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers
