Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update test_backend_reference.py (#6967)
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Formatting
  onnx/cpp2py_export.cc
  onnx/defs/schema.h
  onnx/inliner.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/test/cpp/inliner_test.cc
  onnx/test/inliner_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Removed unused parameter
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers

Remove commented line
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers

Improve handling of CMAKE_BUILD_TYPE
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

display types on cast error
  onnx/backend/test/case/node/cast.py
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Fix parser float handling
  onnx/defs/parser.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Display types on cast node test errors (#6970)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
Owners: @onnx/sig-operators-approvers

Clarify Mod operator
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Clarify Mod operator
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Use Native Runner für linux Aarch64 whl (public preview runner available) (#6907)
  .github/workflows/create_release.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x64_freethreading.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Formatting
  onnx/cpp2py_export.cc
  onnx/defs/schema.h
  onnx/inliner.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/test/cpp/inliner_test.cc
  onnx/test/inliner_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Extend python interface to inliner
  onnx/cpp2py_export.cc
  onnx/inliner.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx_cpp2py_export/inliner.pyi
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Update and rename release_win_freethreading.yml to release_win_x64_fr… (#6911)
  .github/workflows/create_release.yml
  .github/workflows/release_win_x64_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Add python unit test
  onnx/test/inliner_test.py
Owners: @onnx/sig-archinfra-approvers

Refactor inliner part 1
  onnx/defs/schema.h
  onnx/inliner/inliner.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Extend test case
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

First version of inliner for schema defined functions
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Update SDF inliner
  onnx/inliner/inliner.cc
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Add workflow dispatch option to publish whl to pypi onnx (#6819)
  .github/workflows/create_release.yml
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Add workflow to generate release notes (#6961)
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Use Python3::Interpreter instead of Python3_EXECUTABLE (#6918)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Simplify CMake code (#6927)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix typos in multiple files (#6956)
  docs/docsgen/source/onnx_sphinx.py
  onnx/backend/test/case/node/layernormalization.py
  onnx/reference/ops/op_layer_normalization.py
  onnx/reference/ops/op_roi_align.py
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Export more symbols used by PyTorch (#6916)
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers

Use requirements-release_build in entrypoint.sh (#6945)
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Improve model Extractor (#6920)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Update test_backend_reference.py (#6967)
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Update and rename Install_test.yml to install_test.yml (#6950)
  .github/install_test.yml
Owners: @onnx/sig-archinfra-approvers

Remove deprecated mapping constants (#6914)
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/mapping.md
  onnx/__init__.py
  onnx/_mapping.py
  onnx/helper.py
  onnx/mapping.py
Owners: @onnx/sig-archinfra-approvers

Update CMake to 3.24 and use LINK_LIBRARY:WHOLE_ARCHIVE (#6934)
  CMakeLists.txt
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Clarify the `axes` input of [un]Squeeze to be 1D tensors (#6888)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Support set schema inference function in python (#5940)
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
