Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update version to 1.19.0rc1 (#7183)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Removing voting details in readme.md (#7059)
  community/readme.md
Owners: @onnx/steering-committee

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Improve OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

add trademark information (Update README.md) (#7189)
  README.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7188)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Improve conditions in create_release.yml (#7186)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update manylinux_2014 -> manylinux_2_28 (#7151)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Improve release document (OnnxReleases.md) (#7187)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

improve condition in create_release.yml (#7196)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

bump version to 1.20.0, opset to 25
  VERSION_NUMBER
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fix lint
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

Create CPPLINT.cfg
  CPPLINT.cfg
Owners: @onnx/sig-archinfra-approvers

fix lint
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

formatting for bitcast files
  onnx/backend/test/case/node/bitcast.py
  onnx/reference/ops/op_bitcast.py
Owners: @onnx/sig-operators-approvers

Add BitCast import to _op_list __all__
  onnx/reference/ops/_op_list.py
Owners: @onnx/sig-operators-approvers

fix condition
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

fix condition
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Create CPPLINT.cfg (#7198)
  CPPLINT.cfg
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update docs/OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Improve OnnxReleases.md (#7202)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

fixed integer division
  onnx/reference/ops/op_div.py
Owners: @onnx/sig-operators-approvers

fixed typo
  onnx/reference/ops/op_div.py
Owners: @onnx/sig-operators-approvers

fix condition for publishing to release pypi (#7200)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

bump version to 1.20.0, opset to 25 (#7197)
  VERSION_NUMBER
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add md file for KV cache
  docs/docsgen/source/technical/InPlaceKVCache.png
  docs/docsgen/source/technical/kv_cache.md
Owners: @onnx/sig-archinfra-approvers

Add to REUSE.toml
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

fixed convinteger
  onnx/backend/test/case/node/convinteger.py
  onnx/reference/ops/op_conv_integer.py
Owners: @onnx/sig-operators-approvers
