Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix Shape operator specification: correct range bounds and document start > end behavior (#7132)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/shape.py
  onnx/backend/test/data/node/test_shape_start_greater_than_end/model.onnx
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_shape_start_greater_than_end/test_data_set_0/output_0.pb
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix Einsum shape inference segfault for scalar inputs (#7055)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/einsum.py
  onnx/backend/test/data/node/test_einsum_scalar/model.onnx
  onnx/backend/test/data/node/test_einsum_scalar/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_einsum_scalar/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add support for constructing functions with graph attributes (#7112)
  .gitignore
  onnx/defs/function.cc
  onnx/defs/function.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix RMS norm function definition (#7135)
  onnx/backend/test/data/node/test_rms_normalization_2d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_2d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis0_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_1_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_2_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_3d_axis_negative_3_epsilon_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis0_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_1_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_2_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_3_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_4d_axis_negative_4_expanded/model.onnx
  onnx/backend/test/data/node/test_rms_normalization_default_axis_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Make some op-level shape inference functions public (#7091)
  onnx/defs/nn/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Add FP6 support: FLOAT6E2M3/FLOAT6E3M2 (proto/schema/parser/checker, numpy pack/unpack, Cast/Q/DQ, docs/tests)
  .github/workflows/release_win_x86_64.yml
  docs/IR.md
  docs/OnnxReleases.md
  docs/Operators.md
  docs/TestCoverage.md
  docs/docsgen/source/technical/float6.md
  docs/docsgen/source/technical/index.md
  onnx/_custom_element_types.py
  onnx/_mapping.py
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/fp6_test.py
  onnx/test/numpy_helper_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add `.txtpb` as a support text proto format in serialization (#7161)
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

Fix Resize reference operator (#7105)
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Fix some typos in documentation (#7156)
  docs/docsgen/source/intro/concepts.md
  docs/docsgen/source/intro/converters.md
  docs/docsgen/source/intro/python.md
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix shared module name when cross-compiling (#7026)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

fixed erf for empty inputs (#7170)
  onnx/reference/ops/op_erf.py
Owners: @onnx/sig-operators-approvers

Add bf16 support to TopK and SplitToSequence (#7158)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/attention.py
  onnx/backend/test/data/node/test_split_to_sequence_1/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_2/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_nokeepdims/model.onnx
  onnx/backend/test/data/node/test_top_k/model.onnx
  onnx/backend/test/data/node/test_top_k_negative_axis/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values_2d/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values_largest/model.onnx
  onnx/backend/test/data/node/test_top_k_smallest/model.onnx
  onnx/backend/test/data/node/test_top_k_uint64/model.onnx
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/operator_sets.h
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix Softmax reference for inputs of length 1 (#7169)
  onnx/reference/ops/op_softplus.py
Owners: @onnx/sig-operators-approvers

Fix hardmax reference implementation (#7167)
  onnx/reference/ops/op_hardmax.py
Owners: @onnx/sig-operators-approvers

Add Swish operator (#7172)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/swish.py
  onnx/backend/test/data/node/test_swish/model.onnx
  onnx/backend/test/data/node/test_swish/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_swish_expanded/model.onnx
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_swish.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix return type of HardSigmoid in reference implementation (#7168)
  onnx/reference/ops/op_hard_sigmoid.py
Owners: @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md (#7160)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update release.yml module: CI pipelines (#7171)
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Add TensorScatter op for in-place kv cache update (#7114)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/backend/test/data/node/test_tensorscatter/model.onnx
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_tensor_scatter.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add missing call-win_arm64 (Update create_release.yml) (#7173)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

turn off some tests for 3.13t, 3.14-dev (#7162)
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

[Docs] Add tip blocks referencing ir-py project for Python APIs (#7109)
  docs/docsgen/source/api/index.md
  docs/docsgen/source/intro/python.md
Owners: @onnx/sig-archinfra-approvers

[Reference] Fix constant of shape when input value is 0d (#7177)
  onnx/reference/ops/op_constant_of_shape.py
  onnx/reference/ops/op_if.py
Owners: @onnx/sig-operators-approvers

Make stale bot ignore "contributions welcome" issues (#7180)
  .github/workflows/stale.yml
Owners: @onnx/sig-archinfra-approvers

Fix Resize operator document (#6686)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

update versions for 1.19 release (#7182)
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Removing voting details in readme.md (#7059)
  community/readme.md
Owners: @onnx/steering-committee

Add missing symbols for onnx-mlir (#7179)
  onnx/common/status.h
  onnx/defs/attr_proto_util.h
  onnx/defs/function.h
  onnx/defs/parser.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

add trademark information (Update README.md) (#7189)
  README.md
Owners: @onnx/sig-archinfra-approvers

Improve conditions in create_release.yml (#7186)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7188)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Improve release document (OnnxReleases.md) (#7187)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update manylinux_2014 -> manylinux_2_28 (#7151)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Create CPPLINT.cfg (#7198)
  CPPLINT.cfg
Owners: @onnx/sig-archinfra-approvers

Improve OnnxReleases.md (#7202)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

bump version to 1.20.0, opset to 25 (#7197)
  VERSION_NUMBER
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

fixed handling of empty inputs for the softmax operator (#7206)
  onnx/reference/ops/op_softmax.py
Owners: @onnx/sig-operators-approvers

add install command to OnnxReleases.md (#7204)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Fix division for integer dtype in reference implementation (#7203)
  onnx/reference/ops/op_div.py
Owners: @onnx/sig-operators-approvers

FP6: finalize encoder path, helper raw packing; sync with PR review; CI fixes
  docs/fp6_scratchpad.md
Owners: @onnx/sig-archinfra-approvers
