Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Set version 1.17.0 for official release (#6405)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Enable flake8-builtins rules (#5706)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/__init__.py
  onnx/backend/sample/ops/abs.py
  onnx/backend/test/case/node/pow.py
  onnx/backend/test/case/node/scan.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/topk.py
  onnx/backend/test/data/node/test_pow/test_data_set_0/output_0.pb
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/onnx_cpp2py_export/version_converter.pyi
  onnx/reference/op_run.py
  onnx/reference/ops/op_clip.py
  onnx/reference/ops/op_optional.py
  onnx/reference/ops/op_topk.py
  onnx/reference/ops/op_unique.py
  onnx/test/basic_test.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Allow building onnxlib in SHARED mode.
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Doc: Add exception checks in check_model (#5736)
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

Expose LexicalScopeContext in checker.py (#5693)
  onnx/checker.py
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Create in-memory large models without serializing large initializers through protobuf (#5685)
  docs/docsgen/source/api/index.md
  docs/docsgen/source/api/model_container.md
  onnx/checker.cc
  onnx/helper.py
  onnx/model_container.py
  onnx/test/model_container_test.py
Owners: @onnx/sig-archinfra-approvers

Resurrect check function context logic (#5778)
  onnx/checker.py
  onnx/helper.py
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Make ReferenceEvaluator support ModelContainer (#5754)
  onnx/model_container.py
  onnx/reference/reference_evaluator.py
  onnx/test/model_container_refeval_test.py
Owners: @onnx/sig-archinfra-approvers

Define `__all__` in onnx.reference (#5749)
  onnx/reference/__init__.py
Owners: @onnx/sig-archinfra-approvers

Print the actual and expected attribute types in checker (#5762)
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Fix reference implementation for loops with optional number of iterations (#5752)
  docs/docsgen/source/conf.py
  onnx/backend/test/runner/__init__.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_clip.py
  onnx/reference/ops/op_constant.py
  onnx/reference/ops/op_det.py
  onnx/reference/ops/op_dynamic_quantize_linear.py
  onnx/reference/ops/op_if.py
  onnx/reference/ops/op_loop.py
  onnx/reference/ops/op_scan.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_model_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add default for check_function & Use lexical_scope_ctx for readability (#5757)
  onnx/checker.py
Owners: @onnx/sig-archinfra-approvers

Update diff2html to support dark theme when showing operator differences (#5795)
  docs/docsgen/source/_static/diff2html-ui-slim.min.js
  docs/docsgen/source/_static/diff2html.min.css
  docs/docsgen/source/_static/readme.txt
Owners: @onnx/sig-archinfra-approvers

Replace sanity with saftey for inclusive terminology (#5802)
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Clean up backend tests for ONNX Runtime (#5814)
  .azure-pipelines/MacOS-CI.yml
  onnx/test/test_backend_onnxruntime.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Use find_package() to locate googletest and benchmark dependencies (#5804)
  CMakeLists.txt
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Use mac-release 10.15 (#5820)
  .github/workflows/release_mac.yml
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Support Unicode file paths when loading an ONNX file (#5806)
  onnx/common/file_utils.h
  onnx/test/checker_test.py
Owners: @onnx/sig-archinfra-approvers

Removed unused string_view include (#5813)
  onnx/defs/parser.cc
Owners: @onnx/sig-archinfra-approvers

Include pyi files in build (#5777)
  CMakeLists.txt
  pyproject.toml
  setup.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers

fix: need setuptools>=64 for editable_mode (#5827)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Fix reference implementation for nested local functions (#5817)
  onnx/reference/op_run.py
  onnx/reference/ops/op_if.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Process subgraphs in inliner (#5841)
  onnx/inliner/inliner.cc
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Enable unity(Jumbo) builds (#5768)
  CMakeLists.txt
  onnx/checker.cc
  onnx/common/path.h
  onnx/defs/data_propagators.h
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Increment year to 2024 in conf.py (#5855)
  docs/docsgen/source/conf.py
Owners: @onnx/sig-archinfra-approvers

Fix documentation in file *.proto about FLOAT8E5M2FNUZ (#5849)
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Revert "Bump actions/upload-artifact from 3.1.3 to 4.0.0" (#5845)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Fix label encoder definition in schema (#5863)
  docs/Changelog-ml.md
  docs/Operators-ml.md
  onnx/defs/schema.cc
  onnx/defs/traditionalml/defs.cc
Owners: @onnx/sig-operators-approvers

Add blocked quantization mode for De/QuantizeLinear (#5812)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_blocked/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked/test_data_set_0/output_0.pb
  onnx/common/interned_strings.h
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/q_dq_21_20.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update sc-election-guidelines (Remove non existing Campaigning session) (#5797)
  community/sc-election-guidelines.md
Owners: @onnx/steering-committee

Fix corner case where output size need to reduce by one in MaxPool (#5741)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/maxpool.py
  onnx/backend/test/data/node/test_maxpool_2d_ceil_output_size_reduce_by_one/model.onnx
  onnx/backend/test/data/node/test_maxpool_2d_ceil_output_size_reduce_by_one/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_maxpool_2d_ceil_output_size_reduce_by_one/test_data_set_0/output_0.pb
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_max_pool.py
  onnx/test/test_backend_onnxruntime.py
  requirements-lintrunner.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add `perm` length constraint in Transpose doc (#5857)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Skip some int4 test with old numpy version (#5858)
  onnx/test/helper_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Print tensor dtypes as strings in shape inference (#5856)
  onnx/defs/shape_inference.cc
Owners: @onnx/sig-operators-approvers

unblock ci by skipping known ort test failures (#5896)
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

Improve attribute docs formatting on the docs site (#5873)
  docs/docsgen/source/onnx_sphinx.py
Owners: @onnx/sig-archinfra-approvers

Support Python 3.12 (#5743)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

Add proto support for overloaded functions (#5011)
  docs/IR.md
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/helper.py
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/shape_inference/implementation.cc
  onnx/test/model_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Fix Out of bounds read due to lack of string termination in assert (#5918)
  onnx/common/assertions.cc
Owners: @onnx/sig-archinfra-approvers

Add License/Copyright headers to azure yml files (#5923)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .reuse/dep5
Owners: @onnx/sig-archinfra-approvers
