Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

packing
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

make_tensor
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Format
  onnx/helper.py
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

wip
  onnx/backend/test/case/node/cast.py
Owners: @onnx/sig-operators-approvers

update
  onnx/backend/test/case/node/cast.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update cast tests
  onnx/backend/test/case/node/cast.py
Owners: @onnx/sig-operators-approvers

wip
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/numpy_helper_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

format
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers

Update mapping
  onnx/_mapping.py
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Update test
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Remove subbyte
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

storage field
  onnx/_mapping.py
Owners: @onnx/sig-archinfra-approvers

Update castlike
  onnx/backend/test/case/node/castlike.py
  onnx/subbyte.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update reference tests
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

update
  onnx/helper.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

update tests
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

format
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

update helpers
  onnx/numpy_helper.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

update expected order
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Update tests
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Clean up checker
  onnx/checker.py
  onnx/defs/data_type_utils.cc
  onnx/defs/logical/defs.cc
  onnx/defs/logical/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/schema.cc
  onnx/defs/text/defs.cc
  onnx/test/cpp/function_context_test.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix test_cmp_custom_dtype
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Fix tests
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Revert cc files
  onnx/defs/data_type_utils.cc
  onnx/defs/logical/defs.cc
  onnx/defs/logical/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/schema.cc
  onnx/defs/text/defs.cc
  onnx/test/cpp/function_context_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Revert h files
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

Apply suggestions from code review
  onnx/reference/op_run.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Update onnx/reference/op_run.py
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

Fix tests
  onnx/backend/test/runner/__init__.py
  onnx/numpy_helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix test_make_tensor
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Fix maketensor for strings
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

Add Attention subgraph attributes
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

lint and test
  onnx/backend/test/runner/__init__.py
  onnx/helper.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add dtype
  onnx/backend/test/case/node/cast.py
Owners: @onnx/sig-operators-approvers

Fix cast tests
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
Owners: @onnx/sig-operators-approvers

lint
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Simplify cast tests
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
Owners: @onnx/sig-operators-approvers

Fix cast
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
Owners: @onnx/sig-operators-approvers

Fix helper for 0-sized strings
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

update test cases
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
Owners: @onnx/sig-operators-approvers

update data
  onnx/backend/test/data/node/test_cast_FLOAT8E4M3FNUZ_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E4M3FNUZ_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E4M3FN_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E4M3FN_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E5M2FNUZ_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E5M2FNUZ_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E5M2_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT8E5M2_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FNUZ_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FNUZ_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FNUZ_to_FLOAT16_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FNUZ_to_FLOAT_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FN_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FN_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FN_to_FLOAT16_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E4M3FN_to_FLOAT_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2FNUZ_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2FNUZ_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2FNUZ_to_FLOAT16_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2FNUZ_to_FLOAT_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2_to_FLOAT16_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_castlike_FLOAT8E5M2_to_FLOAT_expanded/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers
