Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Support register custom OpSchema by python (#5906)
  docs/docsgen/source/api/defs.md
  onnx/checker.cc
  onnx/checker.h
  onnx/checker.py
  onnx/cpp2py_export.cc
  onnx/defs/__init__.py
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/onnx_cpp2py_export/checker.pyi
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update proto to add metadata props (#5938)
  docs/IR.md
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Add parser support for int4 types (#5934)
  onnx/defs/parser.h
Owners: @onnx/sig-archinfra-approvers

Fix endianness conversion in numpy_helper.to_array() (#5904)
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Add badges to the README (#5928)
  README.md
Owners: @onnx/sig-archinfra-approvers

Fix path sanitization bypass leading to arbitrary read (#5917)
  onnx/checker.cc
  onnx/checker.h
  onnx/common/path.h
  onnx/cpp2py_export.cc
  onnx/external_data_helper.py
  onnx/model_container.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Update batchnorm documentation (number of outputs for training mode) (#5932)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix ReferenceEvaluator when run from a subclass (#5936)
  onnx/reference/op_run.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/ops/op_rnn.py
  onnx/reference/ops/op_scan.py
  onnx/reference/reference_evaluator.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove deprecated properties from FormalParameter (#5921)
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

TreeEnsemble operator (#5874)
  docs/AddNewOp.md
  docs/Changelog-ml.md
  docs/Operators-ml.md
  docs/TestCoverage-ml.md
  onnx/backend/test/case/node/ai_onnx_ml/tree_ensemble.py
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/test_data_set_0/output_0.pb
  onnx/defs/__init__.py
  onnx/defs/operator_sets_ml.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/traditionalml/utils.h
  onnx/helper.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Document UINT4, INT4 storage type (#5933)
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Add valueinfos field to FunctionProto (#5903)
  docs/IR.md
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Q/DQ docs readability + 4bit info in onnx.proto (#5937)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Bump Numpy minimal version to 1.20 (#5902)
  requirements-min.txt
  requirements.txt
Owners: @onnx/sig-archinfra-approvers

The latest Cmake 3.28.3 is failing with "Could NOT find Protobuf (missing: Protobuf_LIBRARIES)". Use Cmake 3.27.9 (#5951)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

Metadata for ValueInfo (#5966)
  onnx/helper.py
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Fix typos (#5944)
  docs/docsgen/source/intro/python.md
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

OnnxReleases.md Release drafting (#5965)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Fix ConstantOfShape type constraints (#5961)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/generator/defs.cc
Owners: @onnx/sig-operators-approvers

Prepare for rel-1.16.0 (#5959)
  docs/Versioning.md
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_set_membership/model.onnx
  onnx/backend/test/data/node/test_ai_onnx_ml_tree_ensemble_single_tree/model.onnx
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use CMAKE_PREFIX_PATH in finding libprotobuf (#5975)
  .azure-pipelines/Windows-CI.yml
Owners: @onnx/sig-archinfra-approvers

Fix SegFault bug in shape inference (#5990)
  onnx/defs/schema.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Bump `main` VERSION_NUMBER to 1.17.0 (#5968)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Fix Check URLs errors in `main` (#5972)
  .github/workflows/check_urls.yml
  docs/Hub.md
Owners: @onnx/sig-archinfra-approvers

Fix source and pip tar.gz builds on s390x systems (#5984)
  pyproject.toml
  setup.py
Owners: @onnx/sig-archinfra-approvers

Update top-k documentation (#5948)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Add attribute output_dtype to QuantizeLinear (#5956)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_quantizelinear_blocked/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_asymmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_blocked_symmetric/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_do_not_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_example_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_log_sum_exp_negative_axes_keepdims_random_expanded/test_data_set_0/output_0.pb
  onnx/common/interned_strings.h
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/q_dq_21_20.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update inliner to propagate valueinfos (#5942)
  onnx/common/proto_util.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/test/cpp/inliner_test.cc
Owners: @onnx/sig-archinfra-approvers

Fix unique_name (#5992)
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Fix shape inference for Squeeze-11 and Squeeze-1 (#5967)
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Test opset 20 in CI (#5958)
  .azure-pipelines/MacOS-CI.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Not to install cmake in pyproject.toml on Windows (#6045)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Bump ai.onnx opset to 22 (#6001)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

fix a skipped shape infer code (#6049)
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-archinfra-approvers

Replace rank inference with shape inference for Einsum op (#6010)
  onnx/defs/math/defs.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add more partner projects to be notified about new releases (#6042)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Fix conversion from split 11 to split 18. (#6020)
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/split_17_18.h
Owners: @onnx/sig-archinfra-approvers

build from source instruction with latest cmake change (#6038)
  README.md
Owners: @onnx/sig-archinfra-approvers

Update release process documentation (#6043)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Generalize input/output number check in shape inference (#6005)
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
