Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Export functions (#7505)
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_ml.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Revert ONNX CMake changes (#7515)
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/summary.cmake
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Export functions used in PyTorch (#7524)
  CMakeLists.txt
  onnx/checker.h
  onnx/common/ir_pb_converter.h
Owners: @onnx/sig-archinfra-approvers

Export protobuf symbols (#7525)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Bump version to 1.20.1rc1
  VERSION_NUMBER
  onnx/common/version.h
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Bump version to 1.20.1rc1 (#7561)
  VERSION_NUMBER
  onnx/common/version.h
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Cherry pick into 1.20.1 (#7560)
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/summary.cmake
  onnx/checker.h
  onnx/common/ir_pb_converter.h
  onnx/cpp2py_export.cc
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_ml.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Enable MSVC warnings
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Remove protobuf warnings from MSVC compile options
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

remove rc
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Remove rc for 1.20.1 release (#7567)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Fix unused parameter error
  onnx/defs/preview/defs.cc
Owners: @onnx/sig-operators-approvers

add nanobind
  renovate.json
Owners: @onnx/sig-archinfra-approvers

Add Renovate configuration for dependency management
  renovate.json
Owners: @onnx/sig-archinfra-approvers

update
  renovate.json
Owners: @onnx/sig-archinfra-approvers

Remove empty line at the beginning of renovate.json
  renovate.json
Owners: @onnx/sig-archinfra-approvers

update
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

update
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

clarify DFT behavior when inverse=True and onesided=True (irfft)
  onnx/backend/test/case/node/dft.py
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/reference/ops/op_dft.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix Reshape shape inference to use dim_param when inputProduct is 0
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

update
  renovate.json5
Owners: @onnx/sig-archinfra-approvers

Refactor build mode condition in release workflow
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update BUILD_MODE to use github.event.inputs
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix Python version and artifact name echo statements
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

fix some more tests
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Clarify permissions comment and update dependencies install
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update workflow to include apt-get update
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Clarify permissions comment and update dependencies install (#7577)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Refactor build mode condition in release workflow (#7576)
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Bump protobuf to 6.33.2
  CMakeLists.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

More fixes
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add dependencis
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Add MSAN
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/Utils.cmake
  tsan.supp
Owners: @onnx/sig-archinfra-approvers

More fixes
  tsan.supp
Owners: @onnx/sig-archinfra-approvers

More fixes
  cmake/Utils.cmake
Owners: @onnx/sig-archinfra-approvers

Add supp
  .github/workflows/main.yml
  REUSE.toml
  tsan.supp
Owners: @onnx/sig-archinfra-approvers

Add sanitizer support
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/Utils.cmake
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
