Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Create copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

Create copilot-instructions.md
  .github/copilot-instructions.md
Owners: @onnx/sig-archinfra-approvers

Update copilot-instructions.md
  .github/copilot-instructions.md
Owners: @onnx/sig-archinfra-approvers

remove outdated comment in requirements-dev.txt (#7060)
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

Update copilot-instructions.md
  .github/copilot-instructions.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

fix typo in RELEASE-MANAGEMENT.md (#7062)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Restore ONNX_VERIFY_PROTO3
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Cleanup onnx_proto CMake code
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Create copilot-setup-steps.yml (#7061)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_einsum_scalar/model.onnx
  onnx/backend/test/data/node/test_einsum_scalar/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_einsum_scalar/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Restore ONNX_VERIFY_PROTO3 (#7064)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update weekly_modelzoo.yml
  .github/workflows/weekly_modelzoo.yml
Owners: @onnx/sig-archinfra-approvers

weekly_modelzoo.yml (mac -> linux runner) (#7069)
  .github/workflows/weekly_modelzoo.yml
Owners: @onnx/sig-archinfra-approvers

Use ml_dtypes everywhere
  onnx/_mapping.py
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Docs
  docs/docsgen/source/api/custom_element_types.md
  docs/docsgen/source/api/numpy_helper.md
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

Update cast in ref runtime
  onnx/_mapping.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/reference/ops/op_cast.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Format
  onnx/backend/test/case/node/cast.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/test/helper_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

quantize_linear
  docs/docsgen/source/api/index.md
  onnx/backend/test/case/node/cast.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/custom_element_types.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_constant.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update ref tests
  onnx/backend/test/case/node/cast.py
  onnx/helper.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/subbyte.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

clean up
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

remove print
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

feat: add cumulative product operator
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cumprod.py
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_cum_prod.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update input and output tensors in pb files to match the model
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_UINT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_UINT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_UINT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_UINT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_UINT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_UINT8/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Cleanup onnx_proto CMake code (#7065)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

add fail-fast to release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

run pixi_build.yml only weekly
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

Update input and output tensors in pb files to match the model (#7074)
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_UINT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT16_to_UINT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_INT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_UINT4/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_FLOAT_to_UINT4/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_INT4_to_INT8/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT16/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_FLOAT16/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_UINT8/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cast_UINT4_to_UINT8/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

more casts
  onnx/defs/tensor_proto_util.cc
Owners: @onnx/sig-operators-approvers

add fail-fast to release_mac.yml (#7077)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

run pixi_build.yml only weekly (#7078)
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Reduce macos runs in main.yml (#7076)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

cast like
  onnx/reference/ops/op_cast_like.py
Owners: @onnx/sig-operators-approvers
