Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

use specific version
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

adapt pillow
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Handle the optional input in infer_node_outputs (#6250)
  onnx/shape_inference.py
  onnx/test/inference_function_test.py
Owners: @onnx/sig-archinfra-approvers

Update docs/ArtifactAuthenticity.md
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update docs/ArtifactAuthenticity.md
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

add changes according to comments
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  requirements-reference.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

adapt pillow requirement
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  requirements-dev.txt
  requirements-min.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

update
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

extract sdist build
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

reduce signing
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

Check in script that checks for external data file alignment
  onnx/check-model-extdata-alignment.py
Owners: @onnx/sig-archinfra-approvers

add comments
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Add check on dimensions in Gemm opset 6 (#6217)
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

adapt environment name
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

fix name
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.2 branch
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Update broken URLs
  docs/Changelog.md
  onnx/defs/tensor/old.cc
  onnx/tools/net_drawer.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add schema inference py interface
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/defs.pyi
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

fix type error
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

fix bug
  onnx/cpp2py_export.cc
  onnx/defs/schema.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

test: passing protobuf object by pybind11_protobuf
  .gitmodules
  CMakeLists.txt
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

add unittest for custom schema shape inference add check in `InferenceContext` py wrapper
  onnx/cpp2py_export.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

add check for `InferenceContext` py wrapper
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

return None if target is not exist
  onnx/cpp2py_export.cc
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

remove logic because it was in another pr
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

update
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

fix doc
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update cmake
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

fix cmake error
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.2 branch (#6254)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

remove numpy<2 from requirements-dev
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

update
  requirements-dev.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

lint fix
  docs/Changelog.md
Owners: @onnx/sig-operators-approvers

limit numpy version in tests
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  requirements-min.txt
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

Update broken URLs (#6255)
  docs/Changelog.md
  onnx/defs/tensor/old.cc
  onnx/tools/net_drawer.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
