Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Handle the optional input in infer_node_outputs (#6250)
  onnx/shape_inference.py
  onnx/test/inference_function_test.py
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

add comments
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

remove test env
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

fix name
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update ort filter to 1.20.0 to skip tests known to fail with ort 1.19.0 (#6306)
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

Update docs/ArtifactAuthenticity.md
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

remove upload
  .github/workflows/create_release.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  docs/ArtifactAuthenticity.md
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.2 branch (#6254)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update broken URLs (#6255)
  docs/Changelog.md
  onnx/defs/tensor/old.cc
  onnx/tools/net_drawer.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

adapt environment name
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

extract sdist build
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sourcedist.yml
Owners: @onnx/sig-archinfra-approvers

Bump ai.onnx opset to 23 (#6316)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Prepare for rel-1.17.0 (#6281)
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Bumped main VERSION_NUMBER to 1.18.0 (#6315)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Fix main url checks (#6312)
  .github/workflows/check_urls.yml
  docs/ImplementingAnOnnxBackend.md
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Remove unused variables (#6303)
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/inliner/inliner.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

add release workflow
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

pass secrets to reusable workflows
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix missing secrets for publishing of onnxweekly (#6321)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml (upgrade github actions download/upload artifact) (#6320)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update defs.cc
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Add test for shape arithmetic
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-archinfra-approvers

fix test isues on older python platforms
  onnx/numpy_helper.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
