Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update fix reuse
  onnx/backend/test/stat_coverage.py
Owners: @onnx/sig-operators-approvers

update
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

update
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

Fix reuse (#7463)
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Change precedence from 'aggregate' to 'override' for generating scripts (#7458)
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

a) 3.14-dev -> 3.14, b) shell variable security (#7461)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Add persist-credentials option to checkout action (#7460)
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @onnx/sig-archinfra-approvers

Update codeql.yml
  .github/workflows/codeql.yml
Owners: @onnx/sig-archinfra-approvers

Add 2 bit types to onnx
  docs/Changelog.md
  docs/IR.md
  docs/Operators.md
  docs/docsgen/source/technical/int2.md
  onnx/_mapping.py
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/defs.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/generator/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  onnx/test/parser_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update operator schemas and documentation for version increments to 25
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

bump opset version to 25 and fix lint issues
  docs/Changelog.md
  docs/Operators.md
  docs/docsgen/source/technical/int2.md
  onnx/defs/controlflow/old.cc
  onnx/defs/generator/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add support for quantizelinear and dequantizelinear
  docs/Operators.md
  docs/TestCoverage.md
  docs/docsgen/source/technical/index.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_int2/model.onnx
  onnx/backend/test/data/node/test_dequantizelinear_int2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_int2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dequantizelinear_int2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_int2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint2/model.onnx
  onnx/backend/test/data/node/test_dequantizelinear_uint2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_pads/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_lower/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_upper/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_3d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_int2/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_int2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_int2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_int2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_quantizelinear_uint2/model.onnx
  onnx/backend/test/data/node/test_quantizelinear_uint2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_quantizelinear_uint2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_quantizelinear_uint2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint2/test_data_set_0/output_0.pb
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/reference_evaluator_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (time for release cut 1.21) (#7466)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Add support for dequantize/quantize linear and fix test
  docs/TestCoverage.md
  docs/Versioning.md
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_cast_like.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/basic_test.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Apply lintrunner
  onnx/defs/operator_sets.h
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Fix formatting in int2.md and ensure newline at end of file
  docs/docsgen/source/technical/int2.md
Owners: @onnx/sig-archinfra-approvers

regenerate docs
  onnx/backend/test/data/node/test_acos/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asin/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atanh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tan/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Restore backend/test files
  onnx/backend/test/data/node/test_acos/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_acosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asin/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_asinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atan/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_atanh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cosh_example/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/model.onnx
  onnx/backend/test/data/node/test_image_decoder_decode_png_rgb/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_lppool_2d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_pads/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_lower/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_2d_same_upper/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_lppool_3d_default/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_mish_expanded/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_sinh/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tan/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

regen proto files
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
Owners: @onnx/sig-archinfra-approvers

Update onnx.proto and .proto3
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Update rc version publish process (#7440)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

bump to 26
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Enable ASAN on MacOS
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Bump opset version to 26 (#7469)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Use MSAN
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

revert force
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Remove enforcement to node determinism attribute (#7473)
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Remove enforcement to node determinism attribute (#7473)
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

bump
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Improve free_threaded handling in nanobind
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix typos
  .github/workflows/clang_tidy_review.yml
  community/repo_guidelines.md
  docs/Changelog.md
  docs/Operators.md
  docs/docsgen/source/onnx_sphinx.py
  docs/proposals/ONNXMultiDeviceProposal.md
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/function.cc
  onnx/defs/tensor/old.cc
  onnx/reference/op_run.py
  onnx/reference/ops/aionnxml/op_array_feature_extractor.py
  onnx/reference/ops/op_gather_elements.py
  onnx/reference/ops/op_tfidf_vectorizer.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Add a tool to dump ONNX scheme into yaml files
  onnx/spec_to_yaml.py
Owners: @onnx/sig-archinfra-approvers

Fix typos (#7478)
  .github/workflows/clang_tidy_review.yml
  community/repo_guidelines.md
  docs/Changelog.md
  docs/Operators.md
  docs/docsgen/source/onnx_sphinx.py
  docs/proposals/ONNXMultiDeviceProposal.md
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/function.cc
  onnx/defs/tensor/old.cc
  onnx/reference/op_run.py
  onnx/reference/ops/aionnxml/op_array_feature_extractor.py
  onnx/reference/ops/op_gather_elements.py
  onnx/reference/ops/op_tfidf_vectorizer.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Enable conversion from DataTypeSet into set[str]
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Add a test for FormalParameter.types
  onnx/test/schema_test.py
Owners: @onnx/sig-archinfra-approvers

Use EXPECT_EQ
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/schema_registration_test.cc
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers
