Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Clean up reference evaluator tests (#7238)
  onnx/test/test_backend_reference.py
  onnx/test/test_backend_test.py
Owners: @onnx/sig-archinfra-approvers

Fix Range input in Attention function definition
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Change Unsqueeze to Squeeze
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

use static_cast
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix Range input rank in Attention op function definition (#7240)
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix Range input rank in Attention op function definition (#7240)
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Update version to 1.19.0rc3
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Cherry-pick Attention fix from main and upgrade version to 1.19.0rc3 (#7241)
  VERSION_NUMBER
  onnx/backend/test/data/node/test_attention_4d_diff_heads_mask4d_padded_kv_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md (#7239)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Use a valid SPDX identifier as license classifier
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Use a valid SPDX identifier as license classifier (#7242)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

refactor: use common method.
  onnx/reference/ops/op_reduce_sum.py
Owners: @onnx/sig-operators-approvers

fix: empty array is also empty.
  onnx/reference/ops/_op.py
Owners: @onnx/sig-operators-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

Update README.md
  README.md
Owners: @onnx/sig-archinfra-approvers

add reproducible builds to README.md (#7237)
  README.md
Owners: @onnx/sig-archinfra-approvers

Update pyproject.toml
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

use PEP 639, upgrade setuptools min version to 77 ( Update pyproject.toml) (#7246)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx.txt
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx.txt
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx.txt
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  CMakeLists.txt
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/helper.py
  onnx/test/cpp/data/test_ai_onnx_ml_binarizer.onnx
  onnx/test/cpp/data/test_softmax_example_expanded.Constant.onnx
  onnx/test/cpp/data/test_softmax_example_expanded.onnx
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_backend_test.py
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx.txt
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.NONE.onnx.txt
  onnx/inliner/inliner.cc
  onnx/onnx2/README.md
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/helper.py
  onnx/onnx2/io_helper.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
  onnx/test/test_onnx2_models.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  setup.py
Owners: @onnx/sig-archinfra-approvers

remove file
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx.txt
Owners: @onnx/sig-operators-approvers

lint
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.Attention.onnx
  onnx/backend/test/data/node/test_attention_3d_diff_heads_sizes_scaled/model.onnx.test_attention_3d_diff_heads_sizes_scaled.onnx
  onnx/inliner/inliner.cc
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
  onnx/test/test_onnx2_backend_onnx_vs_onnx2.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/io_helper.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/__init__.py
  onnx/onnx2/cpu/_onnx2py.cpp
  onnx/onnx2/cpu/common_helpers.cpp
  onnx/onnx2/cpu/common_helpers.h
  onnx/onnx2/cpu/fields.h
  onnx/onnx2/cpu/fields.hpp
  onnx/onnx2/cpu/onnx2.cpp
  onnx/onnx2/cpu/onnx2.h
  onnx/onnx2/cpu/onnx2_helper.cpp
  onnx/onnx2/cpu/onnx2_helper.h
  onnx/onnx2/cpu/simple_string.cpp
  onnx/onnx2/cpu/simple_string.h
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
  onnx/onnx2/cpu/stream_class.h
  onnx/onnx2/cpu/stream_class.hpp
  onnx/onnx2/cpu/stream_class_print.hpp
  onnx/onnx2/cpu/stream_class_read.hpp
  onnx/onnx2/cpu/stream_class_size.hpp
  onnx/onnx2/cpu/stream_class_write.hpp
  onnx/onnx2/cpu/thread_pool.cpp
  onnx/onnx2/cpu/thread_pool.h
  onnx/onnx2/io_helper.py
  onnx/test/cpp/test_onnx2_helper.cc
  onnx/test/cpp/test_onnx2_protos.cc
  onnx/test/cpp/test_onnx2_threads.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/onnx2/README.md
  onnx/onnx2/cpu/stream.cpp
  onnx/onnx2/cpu/stream.h
Owners: @onnx/sig-archinfra-approvers

Reference evaluator: treat empty axes as empty (#7244)
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_reduce_sum.py
Owners: @onnx/sig-operators-approvers

Update version to 1.19.0 for final release
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update version to 1.19.0 for final release (#7247)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Make some op-level shape inference functions public (#7091)
  onnx/defs/nn/defs.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Fix SequenceInsert version conversion type preservation
  onnx/common/ir_pb_converter.cc
  onnx/test/version_converter/automatic_upgrade_test.py
  onnx/version_converter.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers

Fix C++ compilation error in ir_pb_converter.cc - resolve string comparison issue
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers

Fix C++ compilation issues in ir_pb_converter.cc
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers

Fix code formatting issues for linting compliance
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update OnnxReleases.md with the correct pipeline configs (#7252)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers
