Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Avoid dangling reference to returned value
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
Owners: @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/defs/nn/defs.cc
  onnx/defs/printer.cc
  onnx/defs/schema.h
  onnx/shape_inference/implementation.cc
  onnx/version_converter/convert.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add readability-container-size-empty check
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Enable CMAKE_EXPORT_COMPILE_COMMANDS
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Avoid repeated search
  onnx/defs/data_type_utils.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

clarify clip with min>max
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/clip.py
  onnx/backend/test/data/node/test_clip_min_greater_than_max/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

added Rama's suggestion
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

clarify clip with min>max (#6395)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/clip.py
  onnx/backend/test/data/node/test_clip_min_greater_than_max/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Enable more compiler warnings (#6383)
  CMakeLists.txt
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

Fix more clang-tidy warnings (#6392)
  .clang-tidy
  CMakeLists.txt
  onnx/defs/data_type_utils.cc
  onnx/defs/nn/defs.cc
  onnx/defs/printer.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Avoid returning const vectors (#6391)
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_proto_util.h
  onnx/defs/tensor_util.cc
  onnx/defs/tensor_util.h
Owners: @onnx/sig-operators-approvers

Set hidden visibility on onnx
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Use std::unordered_set and std::unordered_map
  onnx/checker.cc
  onnx/checker.h
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Bump protobuf to 5.28.2
  .github/workflows/main.yml
  .github/workflows/pages.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Use std::unordered_{map,set} (#6390)
  onnx/checker.cc
  onnx/checker.h
  onnx/defs/function.cc
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Set hidden visibility on onnx target (#6393)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Use emplace
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/controlflow/utils.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use const reference
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

Don't call virtual functions in constructors
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers

Use std::make_unique
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers

Use reserve
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Fix more static analyser warnings (#6396)
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/controlflow/utils.cc
  onnx/defs/math/old.cc
  onnx/defs/shape_inference.h
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/common/interned_strings.h
  onnx/defs/data_type_utils.cc
  onnx/defs/function.h
  onnx/defs/parser.h
  onnx/defs/shape_inference.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/adapter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/group_normalization_20_21.h
  onnx/version_converter/adapters/reshape_4_5.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_12_13.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/split_17_18.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add bugprone-* checks
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Add bugprone-* checks
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/checker.cc
  onnx/common/interned_strings.cc
  onnx/common/status.cc
  onnx/defs/function.cc
  onnx/defs/schema.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add modernize-* checks and fix warnings
  .clang-tidy
  onnx/checker.h
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/tensor.h
  onnx/defs/controlflow/defs.cc
  onnx/defs/function.cc
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/shape_inference/attribute_binder.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use -Wall -Wextra on APPLE platforms
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add clang-tidy checks and fix warnings (#6398)
  .clang-tidy
  onnx/checker.cc
  onnx/checker.h
  onnx/common/interned_strings.cc
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/status.cc
  onnx/common/tensor.h
  onnx/defs/controlflow/defs.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/function.cc
  onnx/defs/function.h
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/parser.h
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/shape_inference/attribute_binder.h
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/adapter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/group_normalization_20_21.h
  onnx/version_converter/adapters/reshape_4_5.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_12_13.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/split_17_18.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update OnnxRelease document
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Use -Wall -Wextra on APPLE platforms (#6399)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add misc checks and fix clang-tidy warnings
  .clang-tidy
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/function.cc
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/reduction/defs.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/utils.cc
  onnx/shape_inference/implementation.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove unused functions
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Format code
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/checker.h
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers

Updated main version for official release
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Support official Python launcher on Windows
  tools/protoc-gen-mypy.bat
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
