Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

more cleanup
  docs/IR.md
  docs/docsgen/source/api/numpy_helper.md
  onnx/common/ir_pb_converter.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/numpy_helper.py
  onnx/reference/custom_element_types.py
  onnx/reference/ops/op_cast.py
  onnx/test/numpy_helper_test.py
  onnx/test/parser_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove unnecessary lambda
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

rewrite some uses of frompyfunc/vectorize
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/reference/ops/op_cast.py
  onnx/reference/ops/op_dequantize_linear.py
  onnx/reference/ops/op_quantize_linear.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

add publish to testpypi
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

remote turnkey
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

fix typo
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Improve 'unpack_int4' speed
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

fix url
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

USE_MSVC_STATIC_RUNTIME=1
  .github/workflows/release_win.yml
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

#4990 Update documentation for Blackman Window to address type of spec conflict.
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

#4990 Update documentation for Blackman Window to address type of spec conflict. Signed-off-by: Shashank <shashank.s.1202@gmail.com>
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Remove unused variables
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/inliner/inliner.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

undo USE_MSVC_STATIC_RUNTIM
  .github/workflows/release_win.yml
  workflow_scripts/protobuf/build_protobuf_win.ps1
Owners: @onnx/sig-archinfra-approvers

conda install msvc2015
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

pip install vs2015
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

add comment and update doc
  .github/workflows/release_win.yml
  README.md
Owners: @onnx/sig-archinfra-approvers

update doc not ort-genai
  README.md
Owners: @onnx/sig-archinfra-approvers

Revereted ai.onnx.ml back to 5
  docs/Versioning.md
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Prepare for rel-1.17.0
  docs/Versioning.md
  onnx/common/version.h
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Reverted schema ML domain to 5
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

CI is passing but wheels built with release-win still have the issue. Keep doc update and undo changes to the ci
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update ort filter to 1.20.0 to skip tests known to fail with ort 1.19.0
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

Update ort filter to 1.20.0 to skip tests known to fail with ort 1.19.0 (#6306)
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.17.0 (#6281)
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Added ONNXreleases doc URLs to exclude list
  .github/workflows/check_urls.yml
Owners: @onnx/sig-archinfra-approvers

Use reference and move operations
  onnx/common/file_utils.h
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Use reference
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor/utils.h
Owners: @onnx/sig-operators-approvers

Format code
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/utils.cc
  onnx/shape_inference/implementation.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use move operations
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers

Remove unused header inclusion
  onnx/common/tensor.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/schema.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Updated converters doc build lik to github workflows
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Updated caffe2 python backend test link to previous release
  docs/ImplementingAnOnnxBackend.md
Owners: @onnx/sig-archinfra-approvers

Remove unused variables (#6303)
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/inliner/inliner.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix shape inference for Squeeze-1,11 with dynamic input shape
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

test for no-axis-Squeeze-11 with dynamic input
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-archinfra-approvers

Fix main url checks (#6312)
  .github/workflows/check_urls.yml
  docs/ImplementingAnOnnxBackend.md
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Bumped main version_number to track next release
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Bumped main VERSION_NUMBER to 1.18.0 (#6315)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Bump ai.onnx opset to 23
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers
