Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

fix atol
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Fix pylint warning `consider-using-f-string`
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

Removal of unnecessary f-string
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

test: passing protobuf object by pybind11_protobuf
  .gitmodules
  CMakeLists.txt
  onnx/cpp2py_export.cc
  onnx/onnx_cpp2py_export/shape_inference.pyi
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

update
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

disable more tests
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Fix a few crashes while running shape inference (#6195)
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/shape_inference.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

dfs performance improvements
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Use sets to improve performance of dfs search (#6213)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

fix numpy issue
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Improve test coverage by convering model before calling onnxruntime
  .github/workflows/main.yml
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/test_backend_onnxruntime.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

update pillow requirement for numpy2.0
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

tries
  .github/workflows/main.yml
  requirements-reference.txt
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

disable test for older version of pillow
  onnx/test/test_backend_reference.py
  onnx/test/version_utils.py
Owners: @onnx/sig-archinfra-approvers

disable one more test
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

upgrade reuse
  .github/workflows/reuse.yml
  .reuse/dep5
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

add missing header
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

Upgrade reuse to v4.0.0 (#6216)
  .github/workflows/reuse.yml
  .reuse/dep5
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

Add check on dimensions in Gemm opset 6
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Address lintrunner complaint
  onnx/reference/op_run.py
Owners: @onnx/sig-archinfra-approvers

disable
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

update minor reuse stuff
  .github/workflows/clang_tidy_review.yml
  .github/workflows/clang_tidy_review_post.yml
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

refactor safe extract method to fix issue 6215
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update minor reuse stuff (#6221)
  .github/workflows/clang_tidy_review.yml
  .github/workflows/clang_tidy_review_post.yml
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

experiment with MacOS 11.7.0
  .github/workflows/release_mac.yml
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

.
  .github/workflows/release_mac.yml
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

first try
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

.
  .github/workflows/release_mac.yml
  .github/workflows/weekly_mac_ci.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Add unit test to replicate an issue
  onnx/test/shape_inference_issue_test.py
Owners: @onnx/sig-archinfra-approvers

isort
  onnx/test/shape_inference_issue_test.py
Owners: @onnx/sig-archinfra-approvers
