Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update docs and the test
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_l2normalization_axis_0/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Specify 0/0 case in LpNormalization (#7618)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/lpnormalization.py
  onnx/backend/test/data/node/test_l2normalization_axis_0/test_data_set_0/output_0.pb
  onnx/defs/doc_strings.cc
  onnx/reference/ops/op_lp_normalization.py
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/model.onnx
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Fix pr_checks (#7607)
  .github/workflows/pr_checks.yml
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

Update unittest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Update status.cc
  onnx/common/status.cc
Owners: @onnx/sig-archinfra-approvers

Update file_utils.h
  onnx/common/file_utils.h
Owners: @onnx/sig-archinfra-approvers

Update checker.cc
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

Fix cpplint warnings
  onnx/cpp2py_export.cc
  onnx/defs/logical/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/sequence/old.cc
  onnx/inliner/inliner.cc
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/test/cpp/parser_test.cc
  onnx/test/cpp/schema_registration_test.cc
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix cpplint warnings
  onnx/checker.cc
  onnx/common/array_ref.h
  onnx/common/ir.h
  onnx/defs/generator/defs.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/test/cpp/inliner_test.cc
  onnx/test/cpp/ir_test.cc
  onnx/test/cpp/parser_test.cc
  onnx/test/cpp/shape_inference_test.cc
  onnx/version_converter/adapters/softmax_12_13.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix clang-format
  onnx/defs/logical/old.cc
  onnx/defs/sequence/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/cpp/function_context_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update unittest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

update
  .github/actions/parse-python-versions.yml
  .github/workflows/pr_checks.yml
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/actions/parse-python-versions.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/pr_checks.yml
  .github/workflows/pr_checks_comment.yml
Owners: @onnx/sig-archinfra-approvers

Fix cpplint warnings (#7622)
  onnx/checker.cc
  onnx/common/array_ref.h
  onnx/common/ir.h
  onnx/cpp2py_export.cc
  onnx/defs/generator/defs.cc
  onnx/defs/logical/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/sequence/old.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/inliner/inliner.cc
  onnx/shape_inference/implementation.cc
  onnx/test/cpp/data_propagation_test.cc
  onnx/test/cpp/function_context_test.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/test/cpp/inliner_test.cc
  onnx/test/cpp/ir_test.cc
  onnx/test/cpp/parser_test.cc
  onnx/test/cpp/schema_registration_test.cc
  onnx/test/cpp/shape_inference_test.cc
  onnx/version_converter/adapters/softmax_12_13.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Delete _codeql_detected_source_root
  _codeql_detected_source_root
Owners: @onnx/sig-archinfra-approvers

update
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/generator/utils.h
  onnx/defs/logical/defs.cc
  onnx/defs/logical/old.cc
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/tensor_proto_util.h
  onnx/onnx-operators_pb.h
  onnx/onnx_pb.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/generator/utils.cc
  onnx/onnx-operators_pb.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

update
  onnx/defs/generator/utils.h
Owners: @onnx/sig-operators-approvers

update
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_proto_util.h
Owners: @onnx/sig-operators-approvers

update
  onnx/onnx_pb.h
Owners: @onnx/sig-archinfra-approvers

Update defs.cc
  onnx/defs/logical/defs.cc
Owners: @onnx/sig-operators-approvers

Update old.cc
  onnx/defs/logical/old.cc
Owners: @onnx/sig-operators-approvers

Clarify Softmax-family scalar shape inference
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix cpplint findings (#7624)
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/generator/utils.cc
  onnx/defs/generator/utils.h
  onnx/defs/logical/defs.cc
  onnx/defs/logical/old.cc
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_proto_util.h
  onnx/onnx-operators_pb.h
  onnx/onnx_pb.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix cpplint warnings
  onnx/checker.cc
  onnx/common/graph_node_list.h
  onnx/common/ir.h
  onnx/common/status.cc
  onnx/cpp2py_export.cc
  onnx/defs/attr_proto_util.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.h
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor_proto_util.cc
  onnx/defs/tensor_util.cc
  onnx/defs/traditionalml/utils.h
  onnx/inliner/inliner.cc
  onnx/inliner/inliner.h
  onnx/onnx_pb.h
  onnx/proto_utils.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Verifies an external file is valid when saving an external tensor
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

checks that a filename is not a symlink
  onnx/checker.cc
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

check symlink first
  onnx/checker.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

fix unit test
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

lint
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

add %%%%
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

add // NOSONAR
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

remove unique_path
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

add link option
  cmake/unittest.cmake
  onnx/checker.cc
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

disable some test when exception are not allowed
  cmake/unittest.cmake
  onnx/test/cpp/checker_test.cc
Owners: @onnx/sig-archinfra-approvers

Clarify NonMaxSuppression IoU threshold uses strict comparison (#7619)
  .gitignore
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/nonmaxsuppression.py
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/model.onnx
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_3.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/input_4.pb
  onnx/backend/test/data/node/test_nonmaxsuppression_iou_threshold_boundary/test_data_set_0/output_0.pb
  onnx/defs/doc_strings.cc
  onnx/defs/object_detection/defs.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers
