Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix Reduce copy pasta for noop_with_empty_axes
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/attention.py
  onnx/defs/reduction/utils.cc
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_reduce_l1.py
  onnx/reference/ops/op_reduce_l2.py
  onnx/reference/ops/op_reduce_log_sum.py
  onnx/reference/ops/op_reduce_log_sum_exp.py
  onnx/reference/ops/op_reduce_max.py
  onnx/reference/ops/op_reduce_mean.py
  onnx/reference/ops/op_reduce_min.py
  onnx/reference/ops/op_reduce_prod.py
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_reduce_sum_square.py
Owners: @onnx/sig-operators-approvers

Compile protobuf targets as position independent code
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

More robust protobuf linking
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Bump protobuf to 6.30.1
  .github/workflows/main.yml
  .github/workflows/main_freethreading.yml
  CMakeLists.txt
  cmake/ProtoBufPatch.cmake
Owners: @onnx/sig-archinfra-approvers

Add comments
  cmake/ProtoBufPatch.cmake
Owners: @onnx/sig-archinfra-approvers

Use ONNX_WERROR=ON in all jobs
  .github/workflows/main.yml
  .github/workflows/pages.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_win.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

Disable some Windows warnings
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Use ONNX_WERROR only in ONNX targets
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Use ONNX_WERROR=ON in all jobs (#6825)
  .github/workflows/main.yml
  .github/workflows/pages.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_win.yml
  .github/workflows/release_win_freethreading.yml
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix -Wextra-semi-stmt
  onnx/common/graph_node_list.h
  onnx/common/interned_strings.cc
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/tensor.h
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.h
  onnx/inliner/inliner.cc
  onnx/version_converter/BaseConverter.h
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/adapters/batch_normalization_13_14.h
  onnx/version_converter/adapters/broadcast_backward_compatibility.h
  onnx/version_converter/adapters/extend_supported_types.h
  onnx/version_converter/adapters/gemm_6_7.h
  onnx/version_converter/adapters/gemm_7_6.h
  onnx/version_converter/adapters/maxpool_8_7.h
  onnx/version_converter/adapters/no_previous_version.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/scan_8_9.h
  onnx/version_converter/adapters/scan_9_8.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/transformers.h
  onnx/version_converter/adapters/type_restriction.h
  onnx/version_converter/adapters/upsample_6_7.h
  onnx/version_converter/adapters/upsample_9_8.h
  onnx/version_converter/convert.cc
  onnx/version_converter/convert.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Simplify CI jobs
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Merge Windows CI jobs (#6827)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Better support of Sanitizers
  .github/workflows/main.yml
  .github/workflows/main_freethreading.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

More accurate summary
  cmake/ONNXConfig.cmake.in
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Fix the ONNX_BUILD_CUSTOM_PROTOBUF bug introduced by PR#6495.
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix the ONNX_BUILD_CUSTOM_PROTOBUF bug introduced by PR#6495.
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Use Protobuf targets
  CMakeLists.txt
  cmake/summary.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Fix endif misplacement
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Fix ONNX_BUILD_CUSTOM_PROTOBUF logic, refer to PR#6495
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/checker.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/sequence/defs.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Update preview_source_dist_test.yml
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Improve source build testing (#6831)
  .github/workflows/preview_source_dist_test.yml
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  onnx/checker.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/sequence/defs.cc
  onnx/test/cpp/function_verify_test.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Format code
  onnx/defs/sequence/defs.cc
Owners: @onnx/sig-operators-approvers

Enable modernize-raw-string-literal and readability-redundant-control-flow
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Add explicit
  onnx/common/ir.h
Owners: @onnx/sig-archinfra-approvers

Sort .clang-tidy
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings in headers
  onnx/common/status.h
  onnx/defs/parser.h
  onnx/defs/tensor/utils.h
  onnx/version_converter/adapters/resize_10_11.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix clang-tidy warnings
  onnx/common/interned_strings.h
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings in headers
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers
