Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update RELEASE-MANAGEMENT.md (#7380)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update manylinux image in release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update manylinux image in release_linux.yml (#7383)
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Python 3.14 in main (#7384)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Fix syntax errors in ONNXConfig.cmake.in
  cmake/ONNXConfig.cmake.in
Owners: @onnx/sig-archinfra-approvers

Enable Python 3.14 and 3.13
  .github/workflows/release_win_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Fix a syntactic error in ONNXConfig.cmake.in (#7385)
  cmake/ONNXConfig.cmake.in
Owners: @onnx/sig-archinfra-approvers

Add CMake tests
  .github/workflows/main.yml
  CMakeLists.txt
  onnx/test/cmake/CMakeLists.txt
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers

Add a comment to CMakeLists.txt and some fixes
  onnx/test/cmake/CMakeLists.txt
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers

Update LAST_RELEASE_VERSION to 1.19.1 which is missed in last version
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings
  .clang-tidy
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/inliner/inliner.cc
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Update LAST_RELEASE_VERSION to 1.19.1 which is missed in last version (#7391)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Add CMake test (#7387)
  .github/workflows/main.yml
  CMakeLists.txt
  onnx/test/cmake/CMakeLists.txt
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings (#7392)
  .clang-tidy
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.h
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/inliner/inliner.cc
  onnx/shape_inference/implementation.h
  onnx/version_converter/adapters/axis_input_to_attribute.h
  onnx/version_converter/helper.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

draft
  onnx/defs/reduction/utils.cc
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_reduce_l1.py
  onnx/reference/ops/op_reduce_l2.py
  onnx/reference/ops/op_reduce_log_sum.py
  onnx/reference/ops/op_reduce_log_sum_exp.py
  onnx/reference/ops/op_reduce_max.py
  onnx/reference/ops/op_reduce_mean.py
  onnx/reference/ops/op_reduce_min.py
  onnx/reference/ops/op_reduce_prod.py
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_reduce_sum_square.py
Owners: @onnx/sig-operators-approvers

reg-gen docs
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

fix reduce implementation
  onnx/reference/ops/_op.py
Owners: @onnx/sig-operators-approvers

Update reuse.yml
  .github/workflows/reuse.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Add copyright and license information to main.cc
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers

Add CMakeLists.txt to annotations path
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

Add workflow name and update job steps (using github action)
  .github/workflows/zizmor.yml
Owners: @onnx/sig-archinfra-approvers

downgrade reuse.yml (#7395)
  .github/workflows/reuse.yml
Owners: @onnx/sig-archinfra-approvers

Update Python version checks for artifact handling
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix noop_with_empty_axes in reduce ops (#7394)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/reduction/utils.cc
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_reduce_l1.py
  onnx/reference/ops/op_reduce_l2.py
  onnx/reference/ops/op_reduce_log_sum.py
  onnx/reference/ops/op_reduce_log_sum_exp.py
  onnx/reference/ops/op_reduce_max.py
  onnx/reference/ops/op_reduce_mean.py
  onnx/reference/ops/op_reduce_min.py
  onnx/reference/ops/op_reduce_prod.py
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_reduce_sum_square.py
Owners: @onnx/sig-operators-approvers

Add copyright and license information to main.cc (#7397)
  REUSE.toml
  onnx/test/cmake/main.cc
Owners: @onnx/sig-archinfra-approvers

GitHub Actions Security Analysis with zizmor (#7363)
  .github/workflows/zizmor.yml
Owners: @onnx/sig-archinfra-approvers

Fix #7175: Remove unsupported integer types from Erf operator
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

Apply clang-format
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Clarify supported dtypes for Erf operator (#7398)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

draft
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_cum_prod.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

lint
  onnx/reference/ops/op_cum_prod.py
Owners: @onnx/sig-operators-approvers

add tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cumprod.py
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

add backend tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/data/node/test_cumprod_1d/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_1d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_1d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_exclusive/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_exclusive/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_exclusive/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_1d_exclusive/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_int32_exclusive/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_int32_exclusive/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_int32_exclusive/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_1d_int32_exclusive/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_reverse/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_reverse/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_reverse/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_1d_reverse/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_reverse_exclusive/model.onnx
  onnx/backend/test/data/node/test_cumprod_1d_reverse_exclusive/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_1d_reverse_exclusive/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_1d_reverse_exclusive/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_axis_0/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_axis_0/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_axis_0/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_2d_axis_0/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_axis_1/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_axis_1/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_axis_1/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_2d_axis_1/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_int32/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_int32/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_int32/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_2d_int32/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_negative_axis/model.onnx
  onnx/backend/test/data/node/test_cumprod_2d_negative_axis/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_cumprod_2d_negative_axis/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_cumprod_2d_negative_axis/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers
