Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

update
  .github/workflows/scientific.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/scientific.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Run clang-format on dedupe changes
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update defs.cc
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update lint.yml
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Fix index out of bounds in version converter adapters (#7493)
  onnx/test/version_converter_test.py
  onnx/version_converter/adapters/axes_input_to_attribute.h
  onnx/version_converter/adapters/reshape_5_4.h
  onnx/version_converter/adapters/resize_10_11.h
  onnx/version_converter/adapters/scatter_10_11.h
  onnx/version_converter/adapters/split_13_12.h
  onnx/version_converter/adapters/upsample_9_8.h
Owners: @onnx/sig-archinfra-approvers

update
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/data_propagators.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor/utils.h
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/traditionalml/utils.h
Owners: @onnx/sig-operators-approvers

remove cpplint rule "-readability/todo" from lint.yml (#7554)
  .github/workflows/lint.yml
Owners: @onnx/sig-archinfra-approvers

Deduplicate operator doc strings to reduce binary size (#7531)
  onnx/defs/controlflow/defs.cc
  onnx/defs/controlflow/old.cc
  onnx/defs/doc_strings.cc
  onnx/defs/doc_strings.h
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/object_detection/defs.cc
  onnx/defs/object_detection/old.cc
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
  onnx/defs/rnn/defs.cc
  onnx/defs/rnn/old.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
Owners: @onnx/sig-operators-approvers

update
  onnx/defs/function.h
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/defs/printer.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.cc
  onnx/defs/training/defs.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update pixi.lock file
  pixi.lock
Owners: @onnx/sig-archinfra-approvers

Vectorize some reference op implementations
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

update
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

le_zero
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

update
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_sigmoid.py
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Update onnx/reference/ops/op_sigmoid.py
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Update op_sigmoid.py
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Clarify offline nanobind guidance
  INSTALL.md
Owners: @onnx/sig-archinfra-approvers

Fix cpplint copyright warnings (#7553)
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/data_propagators.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/function.cc
  onnx/defs/function.h
  onnx/defs/operator_sets.h
  onnx/defs/operator_sets_preview.h
  onnx/defs/operator_sets_training.h
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/defs/printer.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/shape_inference.cc
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor/utils.h
  onnx/defs/traditionalml/defs.cc
  onnx/defs/traditionalml/old.cc
  onnx/defs/traditionalml/utils.h
  onnx/defs/training/defs.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Update pixi.lock file (#7555)
  pixi.lock
Owners: @onnx/sig-archinfra-approvers

wip
  onnx/defs/shape_inference.h
Owners: @onnx/sig-operators-approvers

wip
  onnx/defs/shape_inference.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Replace deprecated github action "test-results-action" (#7552)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Vectorize sigmoid op implementation (#7556)
  onnx/reference/ops/op_sigmoid.py
Owners: @onnx/sig-operators-approvers

Add import for os module in test_backend_reference.py
  onnx/test/test_backend_reference.py
Owners: @onnx/sig-archinfra-approvers

Update release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Update release_win.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Wheels for python 3.14t (#7558)
  .github/workflows/main.yml
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7559)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers
