Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

ExternalData - On Windows document proper offset for memory mapping support (#6247)
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

move examples dir (https://github.com/onnx/onnx/issues/6087) (#6230)
  REUSE.toml
  examples/Protobufs.ipynb
  examples/check_model.ipynb
  examples/load_model.ipynb
  examples/make_model.ipynb
  examples/np_array_tensorproto.ipynb
  examples/resources/single_relu.onnx
  examples/resources/single_relu_new.onnx
  examples/resources/tensor.pb
  examples/resources/two_transposes.onnx
  examples/save_model.ipynb
  examples/shape_inference.ipynb
Owners: @onnx/sig-archinfra-approvers

Add check on dimensions in Gemm opset 6 (#6217)
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Add the missing python api docs (#6237)
  docs/docsgen/source/api/external_data_helper.md
  docs/docsgen/source/api/helper.md
  docs/docsgen/source/api/hub.md
  docs/docsgen/source/api/numpy_helper.md
  docs/docsgen/source/api/parser.md
  docs/docsgen/source/api/reference.md
  docs/docsgen/source/api/shape_inference.md
Owners: @onnx/sig-archinfra-approvers

Handle functions in external data helper (#6233)
  onnx/external_data_helper.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers

Refactor safe extract method to fix issue 6215 (#6222)
  onnx/backend/test/runner/__init__.py
  onnx/hub.py
  onnx/utils.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

typo: Update OnnxReleases.md (#6231)
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Handle the optional input in infer_node_outputs (#6250)
  onnx/shape_inference.py
  onnx/test/inference_function_test.py
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.17.0 (#6281)
  docs/Versioning.md
  onnx/common/version.h
  onnx/defs/schema.h
  onnx/helper.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Remove unused variables (#6303)
  onnx/checker.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/parser.cc
  onnx/inliner/inliner.cc
  onnx/version_converter/convert.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Bumped main VERSION_NUMBER to 1.18.0 (#6315)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update broken URLs (#6255)
  docs/Changelog.md
  onnx/defs/tensor/old.cc
  onnx/tools/net_drawer.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Combine different release pipelines by the use of reusable workflows (#6277)
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix missing secrets for publishing of onnxweekly (#6321)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update main.yml (upgrade github actions download/upload artifact) (#6320)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Bump actions/upload-artifact from 3 to 4 (#6319)
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
Owners: @onnx/sig-archinfra-approvers

Update ort filter to 1.20.0 to skip tests known to fail with ort 1.19.0 (#6306)
  onnx/test/test_backend_onnxruntime.py
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.2 branch (#6254)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Fix main url checks (#6312)
  .github/workflows/check_urls.yml
  docs/ImplementingAnOnnxBackend.md
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Bump ai.onnx opset to 23 (#6316)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Fix some clang-tidy warnings (#6353)
  onnx/checker.cc
  onnx/defs/generator/defs.cc
  onnx/defs/generator/old.cc
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/optional/defs.cc
  onnx/defs/optional/old.cc
  onnx/defs/parser.cc
  onnx/defs/printer.cc
  onnx/defs/reduction/old.cc
  onnx/defs/reduction/utils.cc
  onnx/defs/reduction/utils.h
  onnx/defs/shape_inference.cc
  onnx/inliner/inliner.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix shape inference for Squeeze-1,11 with dynamic input shape (#6314)
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

The latest protobuf pkg 5.28.0 is failing on Windows. use the one pre… (#6342)
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix OOB in data propagation of math ops when input is broadcasted to zero (#6323)
  onnx/defs/math/defs.cc
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Some performance fixes in C++ code, use of emplace instead of insert (#6304)
  onnx/common/file_utils.h
  onnx/common/ir.h
  onnx/common/tensor.h
  onnx/defs/data_type_utils.cc
  onnx/defs/data_type_utils.h
  onnx/defs/math/defs.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/tensor/utils.cc
  onnx/defs/tensor/utils.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Fix model extraction utility (#6344)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add missing matrix.target-architecture ? (Update release_mac.yml) (#6350)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

BF: fix condition for publishing to testpypi (Update create_release.yml) (#6338)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Set up codecov test analysis (#6345)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Extend printer and parser to support invalid identifiers (#6346)
  docs/Syntax.md
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/printer.cc
  onnx/test/cpp/parser_test.cc
Owners: @onnx/sig-archinfra-approvers

Trigger release pipeline when label "run release..." was added to PR (#6376)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Enable more compiler warnings (#6383)
  CMakeLists.txt
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

CI: Restoring the possibility to initiate a run via labels (#6371)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

clarify clip with min>max (#6395)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/clip.py
  onnx/backend/test/data/node/test_clip_min_greater_than_max/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/model.onnx
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_clip_min_greater_than_max_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
Owners: @onnx/sig-operators-approvers

Fix more clang-tidy warnings (#6392)
  .clang-tidy
  CMakeLists.txt
  onnx/defs/data_type_utils.cc
  onnx/defs/nn/defs.cc
  onnx/defs/printer.cc
  onnx/defs/schema.h
  onnx/defs/tensor/defs.cc
  onnx/shape_inference/implementation.cc
  onnx/version_converter/convert.cc
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

BugFix: make sure that unique files names are used before uploading the wheels (#6355)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix typo in the GroupNorm description (#6358)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/reference/ops/op_quantize_linear.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix wrong publishing target (onnx instead of onnx-weekly) (#6375)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Simplify create_release.yml (#6357)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Fix NonMaxSuppression default values in ReferenceEvaluator (#6354)
  onnx/reference/custom_element_types.py
  onnx/reference/ops/op_non_max_suppression.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
