Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix Resize reference operator (#7105)
  onnx/reference/ops/op_resize.py
Owners: @onnx/sig-operators-approvers

Add bf16 support to TopK and SplitToSequence (#7158)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/attention.py
  onnx/backend/test/data/node/test_split_to_sequence_1/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_2/model.onnx
  onnx/backend/test/data/node/test_split_to_sequence_nokeepdims/model.onnx
  onnx/backend/test/data/node/test_top_k/model.onnx
  onnx/backend/test/data/node/test_top_k_negative_axis/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values_2d/model.onnx
  onnx/backend/test/data/node/test_top_k_same_values_largest/model.onnx
  onnx/backend/test/data/node/test_top_k_smallest/model.onnx
  onnx/backend/test/data/node/test_top_k_uint64/model.onnx
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
  onnx/defs/math/utils.cc
  onnx/defs/math/utils.h
  onnx/defs/operator_sets.h
  onnx/defs/sequence/defs.cc
  onnx/defs/sequence/old.cc
  onnx/defs/sequence/utils.cc
  onnx/defs/sequence/utils.h
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix shared module name when cross-compiling (#7026)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Signed-off-by: lfopensource <linglingfan.cnn@gmail.com>
  onnx/test/test_type_inference.cc
  onnx/test/test_type_inference.py
Owners: @onnx/sig-archinfra-approvers

Add Swish operator
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/swish.py
  onnx/backend/test/data/node/test_swish/model.onnx
  onnx/backend/test/data/node/test_swish/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_swish_expanded/model.onnx
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_swish.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fixed hardmax
  onnx/reference/ops/op_hardmax.py
Owners: @onnx/sig-operators-approvers

fixed erf
  onnx/reference/ops/op_erf.py
Owners: @onnx/sig-operators-approvers

fixed convInteger
  onnx/backend/test/case/node/convinteger.py
  onnx/reference/ops/op_conv_integer.py
Owners: @onnx/sig-operators-approvers

fixed hardsigmoid
  onnx/reference/ops/op_hard_sigmoid.py
Owners: @onnx/sig-operators-approvers

fixed softmax
  onnx/reference/ops/op_softplus.py
Owners: @onnx/sig-operators-approvers

fixed erf for empty inputs (#7170)
  onnx/reference/ops/op_erf.py
Owners: @onnx/sig-operators-approvers

Update release.yml module: CI pipelines
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Fix Softmax reference for inputs of length 1 (#7169)
  onnx/reference/ops/op_softplus.py
Owners: @onnx/sig-operators-approvers

Fix return type of HardSigmoid in reference implementation (#7168)
  onnx/reference/ops/op_hard_sigmoid.py
Owners: @onnx/sig-operators-approvers

Add Swish operator
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/swish.py
  onnx/backend/test/data/node/test_swish/model.onnx
  onnx/backend/test/data/node/test_swish/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_swish_expanded/model.onnx
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_swish.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix hardmax reference implementation (#7167)
  onnx/reference/ops/op_hardmax.py
Owners: @onnx/sig-operators-approvers

Add Swish operator (#7172)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/swish.py
  onnx/backend/test/data/node/test_swish/model.onnx
  onnx/backend/test/data/node/test_swish/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_swish_expanded/model.onnx
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_swish_expanded/test_data_set_0/output_0.pb
  onnx/defs/math/defs.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_swish.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix numpy implementation; add 3d test case
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

add tensorscatter op
  onnx/backend/test/case/node/tensorscatter.py
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

add TensorScatter op and tests
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/backend/test/data/node/test_tensorscatter/model.onnx
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_tensor_scatter.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

allow arbitrary dimensional input
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

minor changes
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

remove trailing white space; upload new test files
  onnx/backend/test/data/node/test_tensorscatter/model.onnx
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/output_0.pb
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

add shape inference test; etc
  docs/Operators.md
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Add more semantic description; simplify numpy implementation
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/backend/test/data/node/test_tensorscatter_3d/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/output_0.pb
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/op_tensor_scatter.py
Owners: @onnx/sig-operators-approvers

resolve rebase conflict; some minor wording changes
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Add TensorScatter op for in-place kv cache update (#7114)
  docs/Changelog.md
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/tensorscatter.py
  onnx/backend/test/data/node/test_tensorscatter/model.onnx
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_3d/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/model.onnx
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_tensorscatter_circular/test_data_set_0/output_0.pb
  onnx/defs/operator_sets.h
  onnx/defs/tensor/defs.cc
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/op_tensor_scatter.py
  onnx/test/shape_inference_test.py
  onnx/test/version_converter/automatic_upgrade_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update release.yml module: CI pipelines (#7171)
  .github/release.yml
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Add nonpad_kv_seqlen input
  onnx/backend/test/case/node/attention.py
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/operator_sets.h
  onnx/reference/ops/op_attention.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

add failure condition
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md (#7160)
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Add support for 2-bit integer types (INT2, UINT2) in ONNX
  docs/IR.md
  docs/docsgen/source/technical/int2.md
  onnx/_mapping.py
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/generator/defs.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  onnx/test/parser_test.py
  onnx/version_converter/convert.h
  proto.md
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Allow attn_mask and is_causal to be both present
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Apply linting and fix typos
  docs/IR.md
  onnx/helper.py
  onnx/numpy_helper.py
  proto.md
Owners: @onnx/sig-archinfra-approvers

Allow attn_mask to have shorter kv sequence dimension
  onnx/backend/test/case/node/attention.py
  onnx/defs/nn/defs.cc
  onnx/reference/ops/op_attention.py
Owners: @onnx/sig-operators-approvers

add missing call-win_arm64 (Update create_release.yml) (#7173)
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers
