Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update ruff to 0.13.1 (#7327)
  onnx/reference/ops/op_scan.py
  onnx/test/reference_evaluator_test.py
  pixi.toml
  pyproject.toml
  requirements-lintrunner.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix testsuite fails on s390x (big-endian) (#7309)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/helper.py
  onnx/model_container.py
  onnx/numpy_helper.py
  onnx/test/checker_test.py
  onnx/test/helper_test.py
  onnx/test/test_external_data.py
  onnx/test/version_converter/automatic_upgrade_test.py
  onnx/test/version_converter_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update pixi lock file
  pixi.lock
Owners: @onnx/sig-archinfra-approvers

Update pixi lock file (#7331)
  pixi.lock
Owners: @onnx/sig-archinfra-approvers

Disable nanobind leak warnings in cpp2py_export
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

docs(AvgPool/MaxPool/LpPool): add equation to explain the behavior that ignores the final sliding window if it starts entirely in the padded region
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Silently drop 32bit support on Windows
  setup.py
Owners: @onnx/sig-archinfra-approvers

Drop 32bit support on Windows (#7335)
  setup.py
Owners: @onnx/sig-archinfra-approvers

Introduce ONNX object libraries
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Refine comments
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Refine comments
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Try empty libraries
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Revert "Drop 32bit support on Windows (#7335)"
  setup.py
Owners: @onnx/sig-archinfra-approvers

Enable macos 3.13 test
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Revert "Drop 32bit support on Windows" (#7336)
  setup.py
Owners: @onnx/sig-archinfra-approvers

Enable macOS + Python 3.13 test (#7330)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Don't install object libraries
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Introduce ONNX object libraries (#7087)
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Use it by default
  setup.py
Owners: @onnx/sig-archinfra-approvers

Temporarily skip ninja on Windows
  setup.py
Owners: @onnx/sig-archinfra-approvers

Support Ninja builds
  setup.py
Owners: @onnx/sig-archinfra-approvers

Try Windows
  setup.py
Owners: @onnx/sig-archinfra-approvers

Fix
  setup.py
Owners: @onnx/sig-archinfra-approvers

Revert changes
  setup.py
Owners: @onnx/sig-archinfra-approvers

Disable nanobind leak warnings in cpp2py_export (#7334)
  onnx/cpp2py_export.cc
Owners: @onnx/sig-archinfra-approvers

Support Ninja builds (#7332)
  setup.py
Owners: @onnx/sig-archinfra-approvers

Remove Black code style badge
  README.md
Owners: @onnx/sig-archinfra-approvers

Enable strict mode of zip
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/model/sequence.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/unique.py
  onnx/backend/test/stat_coverage.py
  onnx/helper.py
  onnx/hub.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op_common_indices.py
  onnx/reference/ops/aionnxml/op_dict_vectorizer.py
  onnx/reference/ops/aionnxml/op_feature_vectorizer.py
  onnx/reference/ops/aionnxml/op_label_encoder.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_classifier.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_regressor.py
  onnx/reference/ops/op_center_crop_pad.py
  onnx/reference/ops/op_gather_elements.py
  onnx/reference/ops/op_grid_sample.py
  onnx/reference/ops/op_loop.py
  onnx/reference/ops/op_scan.py
  onnx/reference/ops/op_scatter_elements.py
  onnx/reference/ops/op_sequence_map.py
  onnx/reference/ops/op_slice.py
  onnx/reference/ops/op_unique.py
  onnx/reference/reference_evaluator.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/model_inference_test.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_reference.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix typos
  docs/Changelog.md
  docs/IR.md
  docs/Operators.md
  docs/docsgen/source/technical/kv_cache.md
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/gatherelements.py
  onnx/backend/test/case/node/negativeloglikelihoodloss.py
  onnx/backend/test/case/node/softmaxcrossentropy.py
  onnx/defs/quantization/defs.cc
  onnx/defs/rnn/old.cc
  onnx/reference/ops/op_negative_log_likelihood_loss.py
  onnx/reference/ops/op_pool_common.py
  onnx/test/function_test.py
  onnx/test/helper_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

More strict=True
  onnx/reference/ops/_op_common_indices.py
  onnx/reference/ops/op_gather_elements.py
  onnx/reference/ops/op_scatter_elements.py
Owners: @onnx/sig-operators-approvers

Revert changes
  docs/Changelog.md
  onnx/defs/rnn/old.cc
Owners: @onnx/sig-operators-approvers

Enable strict mode of zip (#7340)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/model/sequence.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/unique.py
  onnx/backend/test/stat_coverage.py
  onnx/helper.py
  onnx/hub.py
  onnx/numpy_helper.py
  onnx/reference/op_run.py
  onnx/reference/ops/_op_common_indices.py
  onnx/reference/ops/aionnxml/op_dict_vectorizer.py
  onnx/reference/ops/aionnxml/op_feature_vectorizer.py
  onnx/reference/ops/aionnxml/op_label_encoder.py
  onnx/reference/ops/aionnxml/op_tree_ensemble.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_classifier.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_regressor.py
  onnx/reference/ops/op_center_crop_pad.py
  onnx/reference/ops/op_gather_elements.py
  onnx/reference/ops/op_grid_sample.py
  onnx/reference/ops/op_loop.py
  onnx/reference/ops/op_scan.py
  onnx/reference/ops/op_scatter_elements.py
  onnx/reference/ops/op_sequence_map.py
  onnx/reference/ops/op_slice.py
  onnx/reference/ops/op_unique.py
  onnx/reference/reference_evaluator.py
  onnx/test/compose_test.py
  onnx/test/function_inference_test.py
  onnx/test/model_inference_test.py
  onnx/test/reference_evaluator_ml_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_backend_reference.py
  onnx/test/version_converter/automatic_conversion_test_base.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix typos (#7342)
  docs/Changelog.md
  docs/IR.md
  docs/Operators.md
  docs/docsgen/source/technical/kv_cache.md
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/gatherelements.py
  onnx/backend/test/case/node/negativeloglikelihoodloss.py
  onnx/backend/test/case/node/softmaxcrossentropy.py
  onnx/defs/quantization/defs.cc
  onnx/reference/ops/op_negative_log_likelihood_loss.py
  onnx/reference/ops/op_pool_common.py
  onnx/test/function_test.py
  onnx/test/helper_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix white space
  docs/Broadcasting.md
  docs/DefineDifferentiability.md
  docs/DimensionDenotation.md
  docs/ExternalData.md
  docs/Hub.md
  docs/IR.md
  docs/ManagingExperimentalOps.md
  docs/MetadataProps.md
  docs/OnnxReleases.md
  docs/OpConventions.md
  docs/PythonAPIOverview.md
  docs/ShapeInference.md
  docs/TypeDenotation.md
  docs/Versioning.md
  docs/docsgen/source/api/model_container.md
  docs/docsgen/source/technical/float4.md
  docs/docsgen/source/technical/float8.md
  docs/docsgen/source/technical/int4.md
  docs/proposals/ArchiveFileFormatProposal.md
  docs/proposals/FunctionsProposal.md
  docs/proposals/NLPinONNXproposal.md
  docs/proposals/ONNXIFIproposal.md
  docs/proposals/ONNXMultiDeviceProposal.md
  docs/proposals/ShardingFormalism.md
  docs/proposals/SymbolicShapeInfProposal.md
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Remove Black code style badge (#7338)
  README.md
Owners: @onnx/sig-archinfra-approvers

Update `data_location` docs to match onnx.in.proto
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

Update docs/ExternalData.md
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

Fix white space (#7344)
  docs/Broadcasting.md
  docs/DefineDifferentiability.md
  docs/DimensionDenotation.md
  docs/ExternalData.md
  docs/Hub.md
  docs/IR.md
  docs/ManagingExperimentalOps.md
  docs/MetadataProps.md
  docs/OnnxReleases.md
  docs/OpConventions.md
  docs/PythonAPIOverview.md
  docs/ShapeInference.md
  docs/TypeDenotation.md
  docs/Versioning.md
  docs/docsgen/source/api/model_container.md
  docs/docsgen/source/technical/float4.md
  docs/docsgen/source/technical/float8.md
  docs/docsgen/source/technical/int4.md
  docs/proposals/ArchiveFileFormatProposal.md
  docs/proposals/FunctionsProposal.md
  docs/proposals/NLPinONNXproposal.md
  docs/proposals/ONNXIFIproposal.md
  docs/proposals/ONNXMultiDeviceProposal.md
  docs/proposals/ShardingFormalism.md
  docs/proposals/SymbolicShapeInfProposal.md
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix tests
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

Fix tests (#7346)
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
