Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Update ruff to 0.7.0
  pyproject.toml
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

Fix ruff warning
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

Remove pypi publishing
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

remove pypi publishing
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Update requirements-dev.txt
  requirements-dev.txt
Owners: @onnx/sig-archinfra-approvers

Use tempfile.TemporaryDirectory
  onnx/backend/test/runner/__init__.py
Owners: @onnx/sig-operators-approvers

add infer_shapes_path back
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

move output to a function
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Remove pypi publishing inside "release_" (#6483)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

reorder
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Move output map to a function in extract_model (#6485)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add type annotations and fix some lint warnings in Python code (#6473)
  onnx/reference/op_run.py
  onnx/reference/ops/_helpers.py
  onnx/reference/ops/_op_list.py
  onnx/reference/ops/aionnx_preview_training/_op_list.py
  onnx/reference/ops/aionnxml/_op_list.py
  onnx/reference/ops/experimental/_op_list.py
  onnx/reference/reference_evaluator.py
  onnx/test/data_propagation_test.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Add type annotations and fix some lint warnings in Python code
  onnx/external_data_helper.py
  onnx/helper.py
  onnx/mapping.py
  onnx/model_container.py
  onnx/shape_inference.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Update ruff to 0.7.0 (#6482)
  onnx/backend/test/runner/__init__.py
  pyproject.toml
  requirements-lintrunner.txt
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Remove __STDC_FORMAT_MACROS
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Add more type annotations and fix warnings in Python code (#6474)
  onnx/external_data_helper.py
  onnx/helper.py
  onnx/mapping.py
  onnx/model_container.py
  onnx/shape_inference.py
  onnx/subbyte.py
Owners: @onnx/sig-archinfra-approvers

Remove __STDC_FORMAT_MACROS (#6487)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Upload source distribution (Update release_mac.yml)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Fix path code
  onnx/common/path.h
Owners: @onnx/sig-archinfra-approvers

Use 5.28.3
  .github/workflows/main.yml
  .github/workflows/pages.yml
  CMakeLists.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

add deprecation warning
  onnx/shape_inference.py
Owners: @onnx/sig-archinfra-approvers

minor updates
  docs/Changelog.md
  docs/Operators.md
  onnx/backend/test/case/node/rotaryembedding.py
  onnx/backend/test/data/node/test_rotary_embedding_3d_input_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_interleaved_expanded/model.onnx
  onnx/backend/test/data/node/test_rotary_embedding_with_rotary_dim_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

change onnx-weekly destination from test.pypi to pypi
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update CIPipelines.md
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

add shape_inf and schema
  onnx/defs/nn/defs.cc
  onnx/defs/operator_sets.h
Owners: @onnx/sig-operators-approvers

add split_at_depth to extractor
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

fix lint
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

add return value hint
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

rename to split_model
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

use defaultdict
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

rename to _bfs_collect_nodes_at_layer
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

follow dfs to implement bfs
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

change split_model to ratio
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Add logic for reshape and masking
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

add spda logic
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Add reference impl
  onnx/backend/test/case/node/scalardotproductattention.py
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

Fix clang -Weverything warnings
  onnx/defs/generator/utils.cc
  onnx/defs/math/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix clang -Weverything warnings (#6493)
  onnx/defs/generator/utils.cc
  onnx/defs/math/old.cc
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use static dbg_count
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

change onnx-weekly destination from test.pypi to pypi (#6491)
  .github/workflows/create_release.yml
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers
