Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Update reduce op doc for empty axes (#7421)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/reduction/utils.cc
Owners: @onnx/sig-operators-approvers

fix missing artifact upload condition for Python 3.13t (#7420)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Use PRIVATE link with object libraries
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Export ONNX_ML and ONNX_NAMESPACE definitions
  CMakeLists.txt
  onnx/test/cmake/CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix node level inference for GreaterOrEqual op
  onnx/defs/logical/defs.cc
  onnx/shape_inference.py
  onnx/test/node_shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Run lint
  onnx/defs/logical/defs.cc
  onnx/test/node_shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix node level inference for GreaterOrEqual op (#7428)
  onnx/defs/logical/defs.cc
  onnx/shape_inference.py
  onnx/test/node_shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Delete =0.10.7
  =0.10.7
Owners: @onnx/sig-archinfra-approvers

Fix #7141: Remove integer support for ReduceLogSumExp in opset 21
  onnx/backend/test/case/node/reduce_log_sum_exp.py
  onnx/defs/reduction/defs.cc
  onnx/reference/ops/op_reduce_log_sum_exp.py
Owners: @onnx/sig-operators-approvers

Fix linting: remove trailing whitespace and unused variables
  onnx/backend/test/case/node/reduce_log_sum_exp.py
  onnx/reference/ops/op_reduce_log_sum_exp.py
Owners: @onnx/sig-operators-approvers

Remove unnecessary test placeholder
  onnx/backend/test/case/node/reduce_log_sum_exp.py
Owners: @onnx/sig-operators-approvers

Export ONNX_ML and ONNX_NAMESPACE macros (#7426)
  CMakeLists.txt
  onnx/test/cmake/CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Fix IsOnnxStaticRegistrationDisabled() inline function breaking schema registration in external modules (#7409)
  onnx/defs/operator_sets.h
  onnx/defs/schema.cc
Owners: @onnx/sig-operators-approvers

Update onnx.proto3
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

Update IR_VERSION 12 publication date
  onnx/onnx-ml.proto3
Owners: @onnx/sig-archinfra-approvers

Update IR VERSION 12 published date to August 26, 2025 (#7431)
  onnx/onnx-ml.proto
  onnx/onnx-ml.proto3
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/onnx.proto3
Owners: @onnx/sig-archinfra-approvers

docs to bum for 1.20.0
  docs/Versioning.md
  onnx/common/version.h
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Bump versions for 1.20.0 (#7436)
  docs/Versioning.md
  onnx/common/version.h
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

bump
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

add_rc_to_version
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Bump main to v1.21.0 (#7437)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Add rc to version number (#7438)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Updates OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

Update docs/OnnxReleases.md
  docs/OnnxReleases.md
Owners: @onnx/sig-archinfra-approvers

revert
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

force labels
  .github/workflows/check_pr_label.yml
Owners: @onnx/sig-archinfra-approvers

Revert opset 25 version bump (#7441)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Revert opset 25 version bump (#7441)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Force labels in PRs (#7442)
  .github/workflows/check_pr_label.yml
Owners: @onnx/sig-archinfra-approvers

Revert opset 25 version bump (#7441) (#7444)
  onnx/defs/operator_sets.h
  onnx/defs/schema.h
Owners: @onnx/sig-operators-approvers

Add 2 bit types to onnx
  docs/Changelog.md
  docs/IR.md
  docs/Operators.md
  docs/docsgen/source/technical/int2.md
  onnx/_mapping.py
  onnx/backend/test/case/node/cast.py
  onnx/backend/test/case/node/castlike.py
  onnx/checker.cc
  onnx/common/ir_pb_converter.cc
  onnx/defs/controlflow/defs.cc
  onnx/defs/data_type_utils.cc
  onnx/defs/generator/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/parser.cc
  onnx/defs/parser.h
  onnx/defs/schema.cc
  onnx/defs/schema.h
  onnx/helper.py
  onnx/numpy_helper.py
  onnx/onnx-ml.proto
  onnx/onnx.in.proto
  onnx/onnx.proto
  onnx/test/helper_test.py
  onnx/test/numpy_helper_test.py
  onnx/test/parser_test.py
  onnx/version_converter/convert.h
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Change precedence from 'aggregate' to 'override' for generating scripts
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

Update dependabot.yml
  .github/dependabot.yml
Owners: @onnx/sig-archinfra-approvers

Add persist-credentials option to checkout action
  .github/workflows/pixi_build.yml
Owners: @onnx/sig-archinfra-approvers

Fix artifact name handling for Python versions
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Fix Python version checks in release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Fix formatting in release_linux.yml
  .github/workflows/release_linux.yml
Owners: @onnx/sig-archinfra-approvers

Refactor CodeQL workflow by removing comments
  .github/workflows/codeql.yml
Owners: @onnx/sig-archinfra-approvers

supply chain security => adapt dependabot.yml (#7459)
  .github/dependabot.yml
Owners: @onnx/sig-archinfra-approvers

fix reuse
  onnx/backend/test/stat_coverage.py
  onnx/defs/gen_doc.py
Owners: @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
