Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

Use structure binding
  onnx/defs/traditionalml/defs.cc
Owners: @onnx/sig-operators-approvers

Update release_linux_x86_64.yml
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Add more fixes
  CMakeLists.txt
  onnx/common/ir_pb_converter.cc
Owners: @onnx/sig-archinfra-approvers

Add more fixes
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
Owners: @onnx/sig-operators-approvers

Format code
  onnx/common/interned_strings.cc
Owners: @onnx/sig-archinfra-approvers

Enable more checks
  .clang-tidy
Owners: @onnx/sig-archinfra-approvers

Add header
  onnx/defs/attr_proto_util.cc
Owners: @onnx/sig-operators-approvers

Add missing return
  onnx/defs/function.h
Owners: @onnx/sig-operators-approvers

use HEAD_SHA instead of HEAD_REF in auto_update_doc.yml (#6809)
  .github/workflows/auto_update_doc.yml
Owners: @onnx/sig-archinfra-approvers

Fix clang-tidy warnings (#6832)
  .clang-tidy
  CMakeLists.txt
  onnx/checker.h
  onnx/common/interned_strings.h
  onnx/common/ir.h
  onnx/common/ir_pb_converter.cc
  onnx/common/status.h
  onnx/defs/attr_proto_util.cc
  onnx/defs/attr_proto_util.h
  onnx/defs/function.h
  onnx/defs/parser.h
  onnx/defs/schema.h
  onnx/defs/sequence/defs.cc
  onnx/defs/shape_inference.h
  onnx/defs/tensor/utils.h
  onnx/defs/traditionalml/defs.cc
  onnx/test/cpp/function_verify_test.cc
  onnx/version_converter/adapters/resize_10_11.h
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

try evaluate freethread
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update pypa / manylinux2014_x86_64 in release_linux_x86_64.yml to 2025.03.22-2 (#6833)
  .github/workflows/release_linux_x86_64.yml
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Update entrypoint.sh
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Fix the ONNX_BUILD_CUSTOM_PROTOBUF bug introduced by PR#6495. (#6830)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
  requirements-release_build.txt
  requirements-release_test.txt
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/manylinux/entrypoint.sh
Owners: @onnx/sig-archinfra-approvers

Bump protobuf to v30.1 (#6804)
  .github/workflows/main.yml
  .github/workflows/main_freethreading.yml
  CMakeLists.txt
  cmake/ProtoBufPatch.cmake
Owners: @onnx/sig-archinfra-approvers

Remove onnx-data_pb.h
  onnx/onnx-data_pb.h
Owners: @onnx/sig-archinfra-approvers

Better support of Sanitizers
  .github/workflows/main.yml
  .github/workflows/main_freethreading.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Remove onnx/onnx-data_pb.h (#6836)
  onnx/onnx-data_pb.h
Owners: @onnx/sig-archinfra-approvers

replace quansight-labs/setup-python with actions/setup-python
  .github/workflows/auto_update_doc.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/main_freethreading.yml
  .github/workflows/pages.yml
  .github/workflows/pr_checks.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
  .github/workflows/release_win_freethreading.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

remove freethreading jobs from create_release workflow
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

restore separate freethreaded release workflows
  .github/workflows/create_release.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_win_freethreading.yml
Owners: @onnx/sig-archinfra-approvers

fix scatter nd defs
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

fix another one example
  onnx/defs/tensor/defs.cc
Owners: @onnx/sig-operators-approvers

Use Protobuf targets
  CMakeLists.txt
  cmake/summary.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

More fixes
  CMakeLists.txt
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

utf8_range is not used in protobuf 6.30
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

More accurate summary
  cmake/ONNXConfig.cmake.in
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Add back ONNX_USE_LITE_PROTO condition
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Print more info
  cmake/summary.cmake
Owners: @onnx/sig-archinfra-approvers

Cleanup tests
  CMakeLists.txt
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

replace quansight-labs/setup-python with actions/setup-python (#6837)
  .github/workflows/auto_update_doc.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/main_freethreading.yml
  .github/workflows/pages.yml
  .github/workflows/pr_checks.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_mac_freethreading.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win.yml
  .github/workflows/release_win_freethreading.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Cleanup CMake scripts (#6828)
  CMakeLists.txt
  cmake/ONNXConfig.cmake.in
  cmake/summary.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Better support of sanitizers (#6826)
  .github/workflows/main.yml
  .github/workflows/main_freethreading.yml
  CMakeLists.txt
  cmake/external/FindSanitizer.cmake
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers
