Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Remove __init__.py and fix tests
  onnx/test/__init__.pyi
  tools/__init__.pyi
Owners: @onnx/sig-archinfra-approvers

Remove unnecessary __init__.pyi (#7345)
  onnx/test/__init__.pyi
  tools/__init__.pyi
Owners: @onnx/sig-archinfra-approvers

Create zizmor.yml
  .github/workflows/zizmor.yml
Owners: @onnx/sig-archinfra-approvers

Update `data_location` docs to match onnx.in.proto (#7347)
  docs/ExternalData.md
Owners: @onnx/sig-archinfra-approvers

Enable SIM103
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Clarify noqa: A002 and enable I001
  onnx/__init__.py
  onnx/backend/test/case/node/topk.py
  onnx/reference/ops/op_clip.py
  onnx/reference/ops/op_optional.py
  onnx/reference/ops/op_topk.py
  onnx/reference/ops/op_unique.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Cleanup noqa
  onnx/__init__.py
  onnx/tools/replace_constants.py
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Throw TypeError
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_unsqueeze.py
  onnx/tools/update_model_dims.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use printer.to_text in tests
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Clarify noqa: A002 and enable I001
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scan.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/topk.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix docs
  docs/AddNewOp.md
  docs/CIPipelines.md
  docs/IR.md
  docs/ManagingExperimentalOps.md
  docs/ShapeInference.md
  docs/Syntax.md
  docs/TypeDenotation.md
  docs/VersionConverter.md
  docs/proposals/FunctionsProposal.md
  docs/proposals/ONNXMultiDeviceProposal.md
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Improve markdown files (#7368)
  docs/AddNewOp.md
  docs/CIPipelines.md
  docs/IR.md
  docs/ManagingExperimentalOps.md
  docs/ShapeInference.md
  docs/Syntax.md
  docs/TypeDenotation.md
  docs/VersionConverter.md
  docs/proposals/FunctionsProposal.md
  docs/proposals/ONNXMultiDeviceProposal.md
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update onnx/backend/test/case/node/topk.py
  onnx/backend/test/case/node/topk.py
Owners: @onnx/sig-operators-approvers

Enable SIM103 (#7364)
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Throw TypeError (#7366)
  onnx/reference/ops/op_reduce_sum.py
  onnx/reference/ops/op_unsqueeze.py
  onnx/tools/update_model_dims.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Remove numpy cast warnins
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-archinfra-approvers

Remove numpy scalar conversion warnings
  onnx/reference/ops/op_range.py
Owners: @onnx/sig-operators-approvers

Move TestPrintableGraph to printer_test.py
  onnx/test/helper_test.py
  onnx/test/printer_test.py
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update editorconfigs check to include YAML and MD files
  .lintrunner.toml
Owners: @onnx/sig-archinfra-approvers

Apply suggestion from @justinchuby
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update release_mac.yml; don't run pytest for 3.14-dev (#7369)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Clean up
  .github/dependabot.yml
  .github/workflows/auto_update_doc.yml
  .github/workflows/clang_tidy_review_post.yml
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/preview_source_dist_test.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x86_64.yml
  docs/proposals/SymbolicShapeInfProposal.md
Owners: @onnx/sig-archinfra-approvers

format
  .github/workflows/weekly_modelzoo.yml
Owners: @onnx/sig-archinfra-approvers

Update editorconfigs check to include YAML and MD files (#7370)
  .github/dependabot.yml
  .github/workflows/auto_update_doc.yml
  .github/workflows/clang_tidy_review_post.yml
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/preview_source_dist_test.yml
  .github/workflows/release_linux.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_win_aarch64.yml
  .github/workflows/release_win_x86_64.yml
  .github/workflows/weekly_modelzoo.yml
  .lintrunner.toml
  docs/proposals/SymbolicShapeInfProposal.md
Owners: @onnx/sig-archinfra-approvers

Update onnx/backend/test/case/node/topk.py
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/topk.py
Owners: @onnx/sig-operators-approvers

Clarify noqa: A002 and enable I001
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scan.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/topk.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/scan.py
  onnx/backend/test/case/node/scatterelements.py
Owners: @onnx/sig-operators-approvers

More fixes
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

More fixes
  docs/TestCoverage.md
Owners: @onnx/sig-operators-approvers

Clarify noqa: A002 and enable I002 (#7365)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/scan.py
  onnx/backend/test/case/node/scatterelements.py
  onnx/backend/test/case/node/topk.py
  pyproject.toml
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Fix warnings in testing (#7367)
  onnx/reference/ops/op_range.py
  onnx/test/numpy_helper_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update version number to 1.19.1
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Update version number to 1.19.1 (#7375)
  VERSION_NUMBER
Owners: @onnx/sig-archinfra-approvers

Cleanup noqa
  pyproject.toml
Owners: @onnx/sig-archinfra-approvers

Update RELEASE-MANAGEMENT.md
  RELEASE-MANAGEMENT.md
Owners: @onnx/sig-archinfra-approvers

Explicitly specify the Google Python Style Guide in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @onnx/sig-archinfra-approvers

Update coding style to include C++ guidelines
  CONTRIBUTING.md
Owners: @onnx/sig-archinfra-approvers

Explicitly specify the Google Python Style Guide in CONTRIBUTING.md (#7381)
  CONTRIBUTING.md
Owners: @onnx/sig-archinfra-approvers
