Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

Fix `onnx.compose` when connecting subgraphs (#5991)
  onnx/compose.py
Owners: @onnx/sig-archinfra-approvers

Allow ReferenceEvaluator to return intermediate results (#6066)
  onnx/reference/reference_evaluator.py
  onnx/test/model_container_refeval_test.py
  onnx/test/reference_evaluator_test.py
  onnx/test/tools_test.py
Owners: @onnx/sig-archinfra-approvers

Update error messages for NegativeLogLikelihoodLoss inference function (#6021)
  onnx/defs/math/defs.cc
  onnx/defs/math/old.cc
Owners: @onnx/sig-operators-approvers

Include the ".onnxtext" extension in supported serialization format (#6051)
  onnx/__init__.py
  onnx/serialization.py
Owners: @onnx/sig-archinfra-approvers

Handle `OneHot`'s `depth` value during shape inference (#5963)
  onnx/defs/tensor/defs.cc
  onnx/defs/tensor/old.cc
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Check graph outputs are defined (#6083)
  onnx/checker.cc
  onnx/test/checker_test.py
  onnx/test/compose_test.py
Owners: @onnx/sig-archinfra-approvers

Prevent crash on import after GCC 8 builds (#6048)
  CMakeLists.txt
Owners: @onnx/sig-archinfra-approvers

Update CI pipeline README (#6086)
  .github/workflows/main.yml
  README.md
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Remove benchmarking code (#6076)
  .gitmodules
  CMakeLists.txt
  cmake/summary.cmake
  tools/protobuf-bench.cc
Owners: @onnx/sig-archinfra-approvers

Add missing shape inference check for DequantizeLinear (#6080)
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

Migrate CI to use Github Actions (#6075)
  .azure-pipelines/Linux-CI.yml
  .azure-pipelines/MacOS-CI.yml
  .azure-pipelines/Windows-CI.yml
  .github/workflows/main.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
  CMakeLists.txt
  cmake/external/googletest.cmake
  cmake/unittest.cmake
Owners: @onnx/sig-archinfra-approvers

Fix 1 typo in numpy_helper.py (#6041)
  onnx/numpy_helper.py
Owners: @onnx/sig-archinfra-approvers

Add shape inference test for custom op (#6068)
  onnx/test/cpp/shape_inference_test.cc
Owners: @onnx/sig-archinfra-approvers

Revert "Corrected the ReduceSumSqure op to match the reference" (#6125)
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

fix: install google-re2 with `--only-binary` option (#6129)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Specify axis parameter for DequantizeLinear when input rank is 1 (#6095)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/quantization/defs.cc
  onnx/defs/quantization/old.cc
Owners: @onnx/sig-operators-approvers

fix(ci): install python dependencies with `--only-binary :all:` in manylinux (#6120)
  .github/workflows/manylinux/entrypoint.sh
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Prepare for rel-1.16.1 branch (#6106)
  onnx/common/version.h
Owners: @onnx/sig-archinfra-approvers

Fix input names for quantize/dequantize ONNX backend tests (#6122)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/dequantizelinear.py
  onnx/backend/test/case/node/quantizelinear.py
  onnx/backend/test/data/node/test_dequantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_dequantizelinear_uint4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e4m3fn/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_e5m2/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_int4/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_quantizelinear_uint4/test_data_set_0/input_2.pb
Owners: @onnx/sig-operators-approvers

Add/Format License/Copyright headers (#6128)
  .github/workflows/dco_merge_group.yml
  .github/workflows/main.yml
  .github/workflows/release_win.yml
  .github/workflows/scorecard.yml
  .github/workflows/stale.yml
  .github/workflows/weekly_mac_ci.yml
  .github/workflows/win_no_exception_ci.yml
  CONTRIBUTING.md
  README.md
  RELEASE-MANAGEMENT.md
  SECURITY.md
Owners: @onnx/sig-archinfra-approvers

Corrected the ReduceSumSqure op to match the reference (#6121)
  onnx/reference/ops/op_reduce_sum_square.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

chore(ci): build and test macOS universal2 wheels on macOS arm64 (#6117)
  .github/workflows/release_mac.yml
  docs/CIPipelines.md
  setup.py
Owners: @onnx/sig-archinfra-approvers

Verify model deletion after testing (#6127)
  workflow_scripts/test_model_zoo.py
Owners: @onnx/sig-archinfra-approvers

Refactor windows workflow to work on standard windows (#6190)
  .github/workflows/release_win.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Pin onnxruntime to 1.17.3 for release CIs (#6143)
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers

Fix CI on Windows 3.12 (#6179)
  .github/workflows/main.yml
Owners: @onnx/sig-archinfra-approvers

Fix INT4 TensorProto byte size is 5x larger than expected with negative values (#6161)
  onnx/helper.py
  onnx/reference/op_run.py
  onnx/test/helper_test.py
Owners: @onnx/sig-archinfra-approvers

Support for bfloat16 for binary, unary operators in reference implementation (#6166)
  onnx/reference/custom_element_types.py
  onnx/reference/ops/_op.py
  onnx/reference/ops/op_identity.py
  onnx/test/reference_evaluator_test.py
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Better name for Github Action and fix Windows build on CI (#6173)
  .github/workflows/main.yml
  .github/workflows/win_no_exception_ci.yml
Owners: @onnx/sig-archinfra-approvers

Mitigate tarball directory traversal risks (#6164)
  onnx/hub.py
Owners: @onnx/sig-archinfra-approvers

a) add license/Copyright header, b) add missing TopLevel Security (#6184)
  .github/workflows/auto_update_doc.yml
  .github/workflows/check_urls.yml
  .github/workflows/dco_merge_group.yml
  .github/workflows/pages.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Rename test name with duplicated names, add logic to check it does not happen again (#6194)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/case/node/reducemax.py
  onnx/backend/test/case/node/reducesum.py
  onnx/backend/test/case/node/resize.py
  onnx/backend/test/data/node/test_reduce_max_empty_set/model.onnx
  onnx/backend/test/data/node/test_reduce_max_empty_set/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_max_empty_set/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_max_empty_set/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_empty_axes_input_noop/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_reduce_sum_negative_axes_keepdims_random/model.onnx
  onnx/backend/test/data/node/test_reduce_sum_negative_axes_keepdims_random/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_reduce_sum_negative_axes_keepdims_random/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/model.onnx
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/input_2.pb
  onnx/backend/test/data/node/test_resize_tf_crop_and_resize_extrapolation_value/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/model.onnx
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_larger/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/model.onnx
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_resize_upsample_sizes_nearest_not_smaller/test_data_set_0/output_0.pb
Owners: @onnx/sig-operators-approvers

Add alternative approach in ONNX converter section (#6188)
  docs/docsgen/source/intro/converters.md
Owners: @onnx/sig-archinfra-approvers

Addition of group > 1 in test and in backend for ConvTranspose (#6175)
  docs/Operators.md
  docs/TestCoverage.md
  onnx/backend/test/case/node/convtranspose.py
  onnx/backend/test/data/node/test_convtranspose_group_2/model.onnx
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convtranspose_group_2/test_data_set_0/output_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/model.onnx
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/input_0.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/input_1.pb
  onnx/backend/test/data/node/test_convtranspose_group_2_image_3/test_data_set_0/output_0.pb
  onnx/reference/ops/op_conv_transpose.py
Owners: @onnx/sig-operators-approvers

Fix reference implementation for ScatterND with 4D tensors (#6174)
  onnx/reference/ops/op_scatter_elements.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use sets to improve performance of dfs search (#6213)
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Upgrade reuse to v4.0.0 (#6216)
  .github/workflows/reuse.yml
  .reuse/dep5
  REUSE.toml
Owners: @onnx/sig-archinfra-approvers

Update minor reuse stuff (#6221)
  .github/workflows/clang_tidy_review.yml
  .github/workflows/clang_tidy_review_post.yml
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

Fix a few crashes while running shape inference (#6195)
  onnx/defs/math/defs.cc
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
  onnx/defs/shape_inference.h
  onnx/shape_inference/implementation.cc
  onnx/shape_inference/implementation.h
  onnx/test/shape_inference_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Use MACOSX_DEPLOYMENT_TARGET=12.0 for macOS wheels (#6242)
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers
