Repository onnx/onnx, changes with the owners that CODEOWNERS names for each.
All owners: @onnx/sig-archinfra-approvers, @onnx/steering-committee, @onnx/sig-operators-approvers

CODEOWNERS:

* @onnx/sig-archinfra-approvers
/community  @onnx/steering-committee
/onnx/defs  @onnx/sig-operators-approvers
/onnx/defs/parser.* @onnx/sig-archinfra-approvers
/onnx/defs/printer.* @onnx/sig-archinfra-approvers
/onnx/backend/test  @onnx/sig-operators-approvers
/onnx/reference/ops @onnx/sig-operators-approvers
/docs/AddNewOp.md @onnx/sig-operators-approvers
/docs/TestCoverage*.md  @onnx/sig-operators-approvers
/docs/Operators*.md @onnx/sig-operators-approvers
/docs/OpConventions.md @onnx/sig-operators-approvers
/docs/Broadcasting.md @onnx/sig-operators-approvers
/docs/Changelog*.md @onnx/sig-operators-approvers

move as an independent class
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Bump protobuf to 5.28.3 (#6330)
  .github/workflows/main.yml
  .github/workflows/pages.yml
  CMakeLists.txt
  requirements-release.txt
Owners: @onnx/sig-archinfra-approvers

patch get size
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

always use infer_shapes_path
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

remove external data file if exists
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

add relative path
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

load external data after infer shapes
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

Allow 1D vector for w_scale in QLinearConv (#6460)
  onnx/reference/ops/op_qlinear_conv.py
  onnx/test/reference_evaluator_test.py
Owners: @onnx/sig-operators-approvers, @onnx/sig-archinfra-approvers

Update release_mac.yml
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

add check inside external_data_helper
  onnx/external_data_helper.py
  onnx/utils.py
Owners: @onnx/sig-archinfra-approvers

add postfix data
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

use str
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

update
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

add download sdist
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

update
  docs/CIPipelines.md
Owners: @onnx/sig-archinfra-approvers

adapt sdist
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

fix some lint issues
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_attn_mask_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_diff_heads_sizes_attn_mask_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_diff_heads_sizes_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_diff_heads_sizes_scaled_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_diff_heads_with_past_and_present_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_gqa_attn_mask_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_gqa_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_gqa_scaled_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_gqa_with_past_and_present_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_scaled_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_3d_with_past_and_present_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_attn_mask_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_diff_heads_sizes_attn_mask_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_diff_heads_sizes_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_diff_heads_sizes_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_diff_heads_sizes_scaled_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_diff_heads_with_past_and_present_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_gqa_attn_mask_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_gqa_causal_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_gqa_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_gqa_scaled_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_gqa_with_past_and_present_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_scaled_expanded/model.onnx
  onnx/backend/test/data/node/test_scalar_dot_product_attention_4d_with_past_and_present_expanded/model.onnx
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

separate step for sdist
  .github/workflows/create_release.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update .github/workflows/create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

simplify release_sdist
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/release_mac.yml
Owners: @onnx/sig-archinfra-approvers

Update old.cc
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

Update defs.cc
  onnx/defs/nn/defs.cc
Owners: @onnx/sig-operators-approvers

format
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

lint
  onnx/helper.py
Owners: @onnx/sig-archinfra-approvers

Run format
  onnx/backend/base.py
  onnx/backend/test/case/node/__init__.py
  onnx/backend/test/report/__init__.py
  onnx/backend/test/report/coverage.py
  onnx/backend/test/stat_coverage.py
  onnx/defs/__init__.py
  onnx/helper.py
  onnx/model_container.py
  onnx/reference/op_run.py
  onnx/reference/ops/aionnxml/op_tree_ensemble_helper.py
  onnx/reference/ops/op_conv.py
  onnx/reference/ops/op_conv_transpose.py
  onnx/test/inference_function_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_external_data.py
  onnx/test/version_converter_test.py
  onnx/version_converter.py
  tools/protoc-gen-mypy.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

Use ruff as the code formatter
  .lintrunner.toml
Owners: @onnx/sig-archinfra-approvers

Format
  onnx/backend/base.py
  onnx/backend/test/stat_coverage.py
  onnx/defs/__init__.py
  onnx/helper.py
  onnx/test/inference_function_test.py
  onnx/test/shape_inference_test.py
  onnx/test/test_external_data.py
Owners: @onnx/sig-archinfra-approvers, @onnx/sig-operators-approvers

remove
  requirements-lintrunner.txt
Owners: @onnx/sig-archinfra-approvers

CI:apply auto updated documentation/backend test data
  docs/Changelog.md
  docs/Operators.md
Owners: @onnx/sig-operators-approvers

add doc
  onnx/external_data_helper.py
Owners: @onnx/sig-archinfra-approvers

update
  .github/workflows/create_release.yml
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_test_weekly_srcdist.yml
Owners: @onnx/sig-archinfra-approvers

Update create_release.yml
  .github/workflows/create_release.yml
Owners: @onnx/sig-archinfra-approvers

Update release_sdist.yml
  .github/workflows/release_sdist.yml
Owners: @onnx/sig-archinfra-approvers

Update release_linux_aarch64.yml
  .github/workflows/release_linux_aarch64.yml
Owners: @onnx/sig-archinfra-approvers

Update release_test_weekly_srcdist.yml
  .github/workflows/release_test_weekly_srcdist.yml
Owners: @onnx/sig-archinfra-approvers

Fix GlobalLpPool input types (#6503)
  docs/Changelog.md
  docs/Operators.md
  onnx/defs/nn/defs.cc
  onnx/defs/nn/old.cc
Owners: @onnx/sig-operators-approvers

ruff
  .github/workflows/release_linux_aarch64.yml
  .github/workflows/release_linux_x86_64.yml
  .github/workflows/release_mac.yml
  .github/workflows/release_sdist.yml
  .github/workflows/release_test_weekly_srcdist.yml
  .github/workflows/release_win.yml
Owners: @onnx/sig-archinfra-approvers
